﻿@model List<DamageIndicationTypeViewModel>
<h4>@Labels.DamageIndication</h4>

@foreach (var item in Model)
{

    <a href="#" title="@item.Name" data-iscomment="@item.IsComment" data-id="@item.Id" data-url="@item.Url" data-icon="symbol-@item.Name" class="symbol-@item.Name damage-indication-type">@Html.DisplayFor(m => item.Name)</a>
    @*<img src="@item.Url" alt="@item.Name" data-iscomment="@item.IsComment" data-id="@item.Id" data-url="@item.Url" class="damage-indication-type"/>
    @Html.DisplayFor(m => item.Name)*@

}