﻿@model List<ViewPointViewModel>

<div id="carousel" class="carousel">
    @*@foreach (var item in Model)
    {
        <div>
            <div class="view-point-container">
                <img src="@item.Url" alt="@item.Name" class="view-point" data-id="@item.Id" style="position: relative; top: 0; left: 0;" />
            </div>
        </div>
    }*@

    <div>
        <div class="view-point-container carImg">
            <img src="/Content/_images/Front.PNG" alt="Front" class="view-point" data-id="1">
        </div>
    </div>
    <div>
        <div class="view-point-container carImg">
            <img src="/Content/_images/Left.PNG" alt="Left" class="view-point" data-id="2">
        </div>
    </div>
    <div>
        <div class="view-point-container carImg">
            <img src="/Content/_images/Back.PNG" alt="Back" class="view-point" data-id="3">
        </div>
    </div>
    <div>
        <div class="view-point-container carImg">
            <img src="/Content/_images/Right.PNG" alt="Right" class="view-point" data-id="4">
        </div>
    </div>
    <div>
        <div class="view-point-container carImg">
            <img src="/Content/_images/Top.PNG" alt="Top" class="view-point" data-id="5">
        </div>
    </div>
</div>

