﻿@model DamageIndicationViewModel
@{
    Layout = LayoutPaths.Modal;
    var hasComment = ViewBag.HasComment;
}

<div class="modal-form">
    <div class="modal-form-row filter-dropdown">
        @using (Html.BeginForm("", "Inspection", FormMethod.Post))
        {
            hasComment = (@Model.TypeId == 4);
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.InspectionId)
            @Html.HiddenFor(m => m.OffsetLeft)
            @Html.HiddenFor(m => m.OffsetTop)
            @Html.HiddenFor(m => m.ViewPointId)
            @Html.HiddenFor(m => m.TypeId)
            if (hasComment)
            {
                <div class="input-container row">
                    @Html.EditorFor(m => m.Comment, EditorTemplateNames.TextArea)
                </div>
            }
            else
            {
                <p>[Are you sure you want to delete this damage indication?]</p>
            }
        }
    </div>
</div>
@section buttons{
    <button type="button" class="btn btn-default" data-dismiss="modal">@Labels.Close</button>
    @if(hasComment){
        <button type="button" class="btn btn-primary btn-modal-submit" name="damage" data-action="EditDamageIndication">@Labels.Save</button>
    }
    <button type="button" class="btn btn-danger btn-delete" name="damage" data-action="DeleteDamageIndication" onclick="smartvma.inspection.deleteDamageIndication(@Model.Id)">@Labels.Delete</button>
}



