﻿@using System.Web.Optimization
@model InspectionViewModel
@{
    ViewBag.Title = Labels.VehicleInspection;
    Layout = LayoutPaths.Default;
}

@using (Html.BeginForm("Index", "Inspection", new {customerId = Model.CustomerInfo?.Id, carId = Request["carId"], mileage = Request["mileage"], appointmentPresentationId = Request["appointmentPresentationId"], inspectionId = Model.Id, transmission = Request["transmission"], driveLine = Request["driveLine"], enteredMileage = Request["enteredMileage"], dealerVehicleId = Request["dealerVehicleId"], vin = Request["vin"], carIdUndetermined = Request["CarIdUndetermined"] }, FormMethod.Post))
{

    //Html.RenderPartial("_CustomerInfo", Model.CustomerInfo);

    <section class="inspection-customer customer-data">
        <h2>@Labels.VehicleInspection</h2>
        @*<span class="invoce-number">Invoice #: 1234567</span>*@
        @Html.Partial("_CustomerInfo", Model.CustomerInfo)
    </section>
    <section class="inspection-gallery">
        @Html.Partial("_ViewPoints", Model.ViewPoints)
    </section>
    <section class="inspection-properties">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="damage-indication-holder">
                    @{Html.RenderPartial("_DamageIndicationTypes", Model.DamageIndicationTypes);}
                    <div class="damage-photo">
                        <div id="vehiclePhotos">
                            @{Html.RenderPartial("_VehiclePhotos", Model.VehiclePhotos);}
                        </div>
                        @Html.EditorFor(m => m.VehicleImageName, EditorTemplateNames.UploaderVehiclePhotos)
                        @*<div class="upload-img">
                                <input type="file" />
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="tire-wear modal-form">
                    <h4>@Labels.TireWearInspection</h4>
                    @Html.HiddenFor(m => Model.DamageIndicationJson)
                    @Html.HiddenFor(m => Model.Id)
                    @Html.HiddenFor(m => Model.AppointmentPresentationId)
                    @Html.HiddenFor(m => Model.EnteredMileage)
                    @Html.HiddenFor(m => Model.CustomerInfo.Year)
                    @Html.HiddenFor(m => Model.CustomerInfo.Make)
                    @Html.HiddenFor(m => Model.CustomerInfo.Model)
                    @Html.HiddenFor(m => Model.AppointmentPresentationStatus)

                    <input type="hidden" value='' id="damageIndications">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-5 col-sm-6 col-md-6 ">
                                <h4>@Labels.LeftFront</h4>
                                @Html.EditorFor(m => Model.LFRimScratch)
                                @{var i = 0;}
                                @foreach (var tireType in Model.TireTypes)
                                {
                                    @Html.EditorFor(model => model.LFTireTypeId, EditorTemplateNames.RadioInputGroup, new
                               {
                                   RadioGroupName = "LFTireTypeId",
                                   RadioButtonValue = (i++),
                                   CurrentRadioButtonValue = Model.LFTireTypeId,
                                   Label = tireType
                               })
                                }
                            </div>

                            <div class="col-lg-5 col-sm-6 col-md-6 ">
                                <h4>@Labels.LeftRear</h4>
                                @Html.EditorFor(m => Model.LRRimScratch)
                                @{i = 0;}
                                @foreach (var tireType in Model.TireTypes)
                                {
                                    @Html.EditorFor(model => model.LRTireTypeId, EditorTemplateNames.RadioInputGroup, new
                               {
                                   RadioGroupName = "LRTireTypeId",
                                   RadioButtonValue = (i++),
                                   CurrentRadioButtonValue = Model.LRTireTypeId,
                                   Label = tireType
                               })
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-5 col-sm-6 col-md-6 ">
                                <h4>@Labels.RightFront</h4>
                                @Html.EditorFor(m => Model.RFRimScratch)
                                @{i = 0;}
                                @foreach (var tireType in Model.TireTypes)
                                {
                                    @Html.EditorFor(model => model.RFTireTypeId, EditorTemplateNames.RadioInputGroup, new
                               {
                                   RadioGroupName = "RFTireTypeId",
                                   RadioButtonValue = (i++),
                                   CurrentRadioButtonValue = Model.RFTireTypeId,
                                   Label = tireType
                               })
                                }
                            </div>

                            <div class="col-lg-5 col-sm-6 col-md-6 ">
                                <h4>@Labels.RightRear</h4>
                                @Html.EditorFor(m => Model.RRRimScratch)
                                @{i = 0;}
                                @foreach (var tireType in Model.TireTypes)
                                {
                                    @Html.EditorFor(model => model.RRTireTypeId, EditorTemplateNames.RadioInputGroup, new
                               {
                                   RadioGroupName = "RRTireTypeId",
                                   RadioButtonValue = (i++),
                                   CurrentRadioButtonValue = Model.RRTireTypeId,
                                   Label = tireType
                               })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="damage-indication-holder">
                    @*@Html.SubmitButton(Labels.Reset, new { name = "action", value = "Reset", @class = "btn-save-inspection" })*@
                    <a class="btn-svg btn-twoLine">
                        <span class="icon-clear-all"></span>
                        @Labels.ClearAll
                    </a>
                </div>
            </div>
            <div class="col-sm-8 text-right">
                <div class="row">
                    <div class="col-lg-10 col-sm-12 col-md-12 ">
                        @{
                            var inspectionId = Model.Id.HasValue ? @Model.Id.Value : -1;
                            var appontmentPresentationId = @Model.AppointmentPresentationId.HasValue ? @Model.AppointmentPresentationId.Value : -1;
                        }
                        <a href="#" onclick="printVehicleInspection(@inspectionId,  @appontmentPresentationId, @Model.TenantId);" class="btn dropdown-primary btn-primary" id="print-button" data-toggle="dropdown">
                            <span>@Labels.Print</span>
                        </a>
                        @Html.SubmitButton(Labels.Services, new { @class = "btn btn-primary", name = "action", value = @InspectionNavigationActions.Services.ToString() })
                        @Html.SubmitButton(Labels.LOF, new { @class = "btn btn-primary", name = "action", value = @InspectionNavigationActions.LOF.ToString() })
                        @*<a href="#" onclick="printVehicleInspection(@inspectionId,  @appontmentPresentationId, @Model.TenantId);" class="btn dropdown-primary btn-primary" id="print-button" data-toggle="dropdown">
                            <span>@Labels.Print</span>
                        </a>
                        @Html.NavigationButton("Index", "MenuPresentation", routeValues: new { customerId = Model.CustomerInfo?.Id, carId = Model.CustomerInfo?.CarId, mileage = Model.CustomerInfo?.Mileage, appointmentPresentationId = Model.AppointmentPresentationId, inspectionId = Model.Id, transmission = Model.Transmission, driveLine = Model.Driveline, enteredMileage = Model.EnteredMileage, dealerVehicleId = Model.CustomerInfo != null ? Model.CustomerInfo.DealerVehicleId : null, vin = Model.CustomerInfo != null ? Model.CustomerInfo.VIN : null, CarIdUndetermined = Model.CarIdUndetermined }, text: Labels.Services, htmlAttributes: new { @class = "btn btn-primary" })
                        @Html.NavigationButton("Index", "LOF", routeValues: new { customerId = Model.CustomerInfo?.Id, carId = Model.CustomerInfo?.CarId, mileage = Model.CustomerInfo?.Mileage, appointmentPresentationId = Model.AppointmentPresentationId, inspectionId = Model.Id, transmission = Model.Transmission, driveLine = Model.Driveline, enteredMileage = Model.EnteredMileage, dealerVehicleId = Model.CustomerInfo != null ? Model.CustomerInfo.DealerVehicleId : null, vin = Model.CustomerInfo != null ? Model.CustomerInfo.VIN : null, CarIdUndetermined = Model.CarIdUndetermined }, text: Labels.LOF, htmlAttributes: new { @class = "btn btn-primary", id = "Lof" })*@
                    </div>
                </div>
            </div>
        </div>
    </section>
                                    }
<script>
    var damageIndications  = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.DamageIndications)));
    var inspectionId = "@Model.Id" ? parseInt("@Model.Id", 10) : 0;
    var commentModalTitle = "@Labels.DamageIndicationDetails";
    var addDIUrl = "@Url.Action("AddDamageIndication", "Inspection", new { area = "Dealer" })";
    var deleteDIUrl = "@Url.Action("DeleteDamageIndication", "Inspection", new { area = "Dealer" })";
    var editDIUrl = "@Url.Action("EditDamageIndication", "Inspection", new { area = "Dealer" })";
    var deletePhotoUrl = "@Url.Action("DeletePhoto", "Inspection", new { area = "Dealer" })";
</script>

@section scripts {
    @Scripts.Render(BundleNames.Inspection)
    <script>
        $(function() {
            smartvma.callbacks.updateCustomerMenuMileage();
        });
    </script>
}




