﻿@*@model dynamic
@{
    Layout = null;
    var htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("class", "form-control");
}*@

@model dynamic
@{
    Layout = null;
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var placeholder = ViewBag.PlaceHolder as string;
    var isDisabled = ViewBag.IsDisabled == true;
    var htmlAttributes = new Dictionary<string, object>();
    var hide = ViewBag.Hide == true;
    var labelIcon = ViewBag.LabelIcon as string;

    htmlAttributes.Add("class", "form-control");
    htmlAttributes.Add("placeholder", placeholder);
    if (isDisabled)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
}

<div class="input-container field-group" @if (hide) { <text> style="display:none;" </text>   }>
    @if (!string.IsNullOrEmpty(labelIcon))
    {
        <label for="@fieldName" class="control-label"><i class="@labelIcon"></i></label>
    }
    else
    {
        @Html.CustomLabelFor(m => m, new { @class = "control-label" })
    }

    <div class="input-wrapper">
        @Html.TextBoxFor(m => m, htmlAttributes)

        @Html.SubmitButton("", new { @class = "btn btn-sm btn-success glyphicon glyphicon-floppy-disk" })

        <span class="input-sep"></span>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>