﻿@model dynamic
@{
    Layout = null;
    var hideLabel = ViewBag.HideLabel == true;
    var prependIcon = ViewBag.PrependIcon as string;
}
@if (hideLabel)
{
    if (Model == null || string.IsNullOrEmpty(Model.ToString()))
    {
        return;
    }

    if (!string.IsNullOrEmpty(prependIcon))
    {
        <span class="@prependIcon"></span>
    }
    <span>@Model</span>
    return;
}

@if (!string.IsNullOrEmpty(prependIcon))
{
    <span class="@prependIcon"></span>
}
@*@Html.CustomSpanLabelFor(m => m)*@ 
<span>@Model</span>
