﻿@model bool
@{
    Layout = null;
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var isDisabled = ViewBag.IsDisabled == true;
    var id = ViewBag.Id as string ?? fieldName;
}

<div class="input-wrapper input-container">
    <div class="custom-checkbox-holder">
        @(Model)
        <input class="custom-checkbox"
               @(isDisabled ? "disabled" : "")
               @(Model ? "checked" : "")
               id="@id"
               name="@fieldName"
               type="checkbox" value="true" />
        <label for="@id"></label>
        <input class="custom-checkbox" name="@fieldName" type="hidden" value="false" />
        @Html.ValidationMessageFor(m => m)
    </div>
</div>