﻿@model dynamic
@{
    Layout = null;
    var htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("class", "form-control");
    var classes = ViewBag.Classes as string;
    var label = ViewBag.Label as string;
}

<div class="input-container">
    @if (string.IsNullOrEmpty(label))
    {
        @Html.CustomLabelFor(m => m, new { @class = "control-label" })
    }
    else
    {
        @Html.CustomLabel(label, new { @class = "control-label" })
    }
    <div class='@(classes +" input-wrapper")'>
        @Model
    </div>
</div>
