﻿@model DeleteObsoleteAppointmentsViewModel

@{
    ViewBag.Title = "Index";
    Layout = LayoutPaths.Default;
}

<section class="document-search">
    <div class="row">
        <div class="col-sm-12">
            <h1>Delete Obsolete Appointments</h1>
        </div>
    </div>
    <div class="row search-filters">
        @using (Html.BeginForm("DeleteObsolete", "AppointmentServices", FormMethod.Post))
        {
            <div class="input-container">
                @Html.EditorFor(model => model.DateTo, EditorTemplateNames.DateRange, new
               {
                   TimePicker = false
               })
            </div>
            <br />
            <div>
                @Html.SubmitButton(Labels.Delete, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
    @if (ViewBag.Message != null)
    {
        <div class="row">
            @ViewBag.Message
        </div>
    }
</section>