﻿@model CustomerCopyPdfViewModel

@{
    Layout = LayoutPaths.Pdf;
}

@Html.Partial("PdfHeader", Model.Header)

<div class="">
    <div class="pdf-format-text">
        <h3>@Model.Title</h3>
        <h4>@Model.SubTitle</h4>
        <ul>
            @foreach (var item in Model.Services.Where(x => !x.IsAdditional && !x.IsDeclined))
            {
                <li>@item.ServiceDescription</li>
            }
            @if (Model.Services.Where(x => x.IsAdditional).Count() > 0)
            {
                <li class="additional-ServicesPDF">Additional services</li>
                foreach (var item in Model.Services.Where(x => x.IsAdditional))
                {
                    <li>@item.ServiceDescription</li>
                }
            }
            @if (Model.IncludePrices)
            {
                if (Model.ShowTaxes || Model.ShowShopCharges)
                {
                    var total = Model.TotalPrice;
                    <li class="servicePrice">@Labels.MenuPackageTotal: @Labels.CurrencySign @Model.TotalPrice.ToString("0.00")</li>
                    if (Model.ShowShopCharges)
                    {
                        total += Model.TotalShopChargesAmount;
                        <li class="servicePrice">@Labels.TotalShopCharges: @Labels.CurrencySign @Model.TotalShopChargesAmount.ToString("0.00")</li>
                    }
                    if (Model.ShowTaxes)
                    {
                        total += Model.TotalTaxChargesAmount;
                        <li class="servicePrice">@Labels.TotalTaxCharges: @Labels.CurrencySign @Model.TotalTaxChargesAmount.ToString("0.00")</li>
                    }
                    <li class="servicePrice">@Labels.GrandTotal: @Labels.CurrencySign @total.ToString("0.00")</li>
                }
                else
                {
                    <li class="servicePrice">@Labels.GrandTotal: @Labels.CurrencySign @Model.TotalPrice.ToString("0.00")</li>
                }
            }
            @if (Model.Services.Where(x => x.IsDeclined).Count() > 0)
            {
                <li class="declined-ServicesPDF">Declined services</li>
                foreach (var item in Model.Services.Where(x => x.IsDeclined))
                {
                    <li>@item.ServiceDescription</li>
                }
            }
        </ul>
    </div>
</div>
<div style="margin-top:20px;">
    <div>
        <div style="float:left; width: 700px">
            <label style="text-decoration:underline; font-weight:bold">@Labels.AcceptedCapsLock</label>
            <div style="width: 400px; font-style:italic; font-size: 8pt">
                @Html.DisplayFor(m => m.Disclaimer)
            </div>
        </div>
        <div style="width:150px; height:100px; padding-top:60px; float:left; text-align:center">
            <div style="border-bottom: 2px solid black;"></div>
            <label style="font-style:italic">@Labels.CustomerSignature</label>
        </div>
    </div>
</div>