﻿

@{
    ViewBag.Title = "[Index]";
    Layout = LayoutPaths.Default;
}


<div class="container-fluid body-content">
    <div class="row">
        <div class="col-lg-12"><h1>Reports</h1></div>
    </div>
    <div class="row">
        <div class="reporting-container">
            <div class="reporting-box">
                <span class="reporting-box-icon icon-menu-sales"></span>
                @Html.ActionLink(linkText: "Menu Sales x Advisor", actionName: "GetReportViewer", controllerName: "Reporting", routeValues: new { reportPath = "Menu Sales x Advisor" }, htmlAttributes: new { @class = "action-wrapper" })
                @*<a href="" class="action-wrapper">Menu Sales x Advisor</a>*@
            </div>
            <div class="reporting-box">
                <span class="reporting-box-icon icon-menu-activity-report"></span>
                @Html.ActionLink(linkText: "Menu Activity Report", actionName: "GetReportViewer", controllerName: "Reporting", routeValues: new { reportPath = "MenuActivity" }, htmlAttributes: new { @class = "action-wrapper" })
                @*<a href="" class="action-wrapper">Menu Activity Report</a>*@
            </div>
            <div class="reporting-box">
                <span class="reporting-box-icon icon-menu-activity-trend"></span>
                @Html.ActionLink(linkText: "Menu Trend Analysis", actionName: "GetReportViewer", controllerName: "Reporting", routeValues: new { reportPath = "MenuTrendAnalysis" }, htmlAttributes: new { @class = "action-wrapper" })
                @*<a href="" class="action-wrapper">Menu Activity Trend</a>*@
            </div>
            @*<div class="reporting-box">
                <span class="reporting-box-icon icon-menu-sales-trend"></span>
                @Html.ActionLink(linkText: "Menu Sales Trend", actionName: "GetReportViewer", controllerName: "Reporting", routeValues: new { reportPath = "MenuSaleTrend" }, htmlAttributes: new { @class = "action-wrapper" })
                <a href="" class="action-wrapper">Menu Sales Trend</a>
            </div>*@
            <div class="reporting-box">
                <span class="reporting-box-icon icon-bg-services-report"></span>
                @Html.ActionLink(linkText: "BG Services Report", actionName: "GetReportViewer", controllerName: "Reporting", routeValues: new { reportPath = "BG Services" }, htmlAttributes: new { @class = "action-wrapper" })
                @*<a href="" class="action-wrapper">BG Services Report</a>*@
            </div>
            <div class="reporting-box">
                <span class="reporting-box-icon icon-sales-report-by-advisor"></span>
                @Html.ActionLink(linkText: "Sales Report", actionName: "GetReportViewer", controllerName: "Reporting", routeValues: new { reportPath = "SalesReport" }, htmlAttributes: new { @class = "action-wrapper" })
                @*<a href="" class="action-wrapper">Sales Report by Advisor</a>*@
            </div>
            @*<div class="reporting-box">
                <span class="reporting-box-icon icon-missed-opportunity-report"></span>
                @Html.ActionLink(linkText: "Menu Sales Trend", actionName: "GetReportViewer", controllerName: "Reporting", routeValues: new { reportPath = "MenuSaleTrend" }, htmlAttributes: new { @class = "action-wrapper" })
                <a href="" class="action-wrapper"> Missed Opportunity Report</a>
            </div>*@
            @*<div class="reporting-box">
                <span class="reporting-box-icon icon-analysis-report"></span>
               @Html.ActionLink(linkText: "Analysis Report", actionName: "GetReportViewer", controllerName: "Reporting", routeValues: new { reportPath = "MenuTrendAnalysis" }, htmlAttributes: new { @class = "action-wrapper" })
                <a href="" class="action-wrapper">Analysis Report</a>
            </div>*@
        </div>
    </div>
</div>