﻿@model AlertViewModel
<div id="@Model.Id" class="singleAlert">
    <div class="alert-titile">
        @Html.DisplayFor(m => m.TypeName)
        <div class="alert-subtitle">
            @Html.DisplayFor(m => m.Title)
        </div> 
    </div>
    <div class="alert-content">
        @Html.Raw(Model.Description)
    </div>
</div>