﻿@model AlertViewModel
@{
    Layout = LayoutPaths.Modal;
}

<div class="modal-form">
    <div class="modal-form-row filter-dropdown">
        
        @using (Html.BeginForm("Edit", "Alert", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.EditorFor(model => model.Title)
            @Html.EditorFor(model => model.Description, EditorTemplateNames.TextArea, new { fullWidth = true })
            <div class="input-container">
                @Html.EditorFor(model => model.StartDate, EditorTemplateNames.DateRange, new
                {
                    TimePicker = true
                })
                @Html.EditorFor(model => model.EndDate, EditorTemplateNames.DateRange, new
               {
                   TimePicker = true
               })
            </div>
        }
    </div>
</div>
@section beforeheader{
    <div class="alertedit"></div>
}