﻿@model CompanyViewModel
@{
    ViewBag.Title = Labels.Companies;
    Layout = LayoutPaths.Default;
}
<div class="row">
    <h1>@Labels.Companies</h1>
        <div class="row table-nav-buttons">
            <div class="add-new">
                @Html.NavigationButton("ProfileSetup", "Dealers", new { area = "Admin" }, Labels.CreateDealer, new { @class = "btn btn-create btn-link button-link-right pull-right" })
                @Html.NavigationButton("ProfileSetup", "Distributors", new { area = "Admin" }, Labels.CreateDistributor, new { @class = "btn btn-create btn-link button-link-right pull-right" })
            </div>       
         </div>
    <div id="contents" data-url="@Url.Action("Index","Companies",new { area="Admin"})">
        @RenderBody()
    </div>
</div>


