﻿@{
    Layout = LayoutPaths.Modal;
}

<p class="modal-message">
    @Html.Raw(Messages.CancelDealerSetupStep)
</p>

@section buttons{
    @Html.NavigationButton(controller: "Companies", text: Labels.Confirm, routeValues: new { area = "Admin" }, htmlAttributes: new {@class= "btn btn-primary" } )
    <button type="button" class="btn btn-default" data-dismiss="modal">@Labels.Close</button>
}