﻿@model ILifeViewModel
@{
    Layout = LayoutPaths.LargeModal;
}
<div class="container-fluid">
    <div class="row ilife-warning">
        <div class="col-xs-12">
            @if (Model.Message != null)
            {
                <img src="/Content/_images/alert-icon.svg" alt="alert" width="20" height="20" title="" id="alertMsg" />
                @Model.Message
            }
        </div>
    </div>
    <div class="ilife-heading clearfix">
        <div class="col-xs-12">
            @Labels.ContractInformation
        </div>
    </div>
    <div class="row">
        <div class="ilife-container col-xs-6">
            @Html.DisplayFor(m => m.RecordID, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.Active, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.Store, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.Prefix, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.SalesDate, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.DealerNo, DisplayTemplateNames.TextWithLabel)
            <div class="input-container">
                @Html.CustomLabelFor(m => m.SalePrice, new { @class = "control-label" })
                <div class="input-wrapper">
                    @Html.DisplayFor(m => m.SalePrice, DisplayTemplateNames.Currency)
                </div>
            </div>
            @Html.DisplayFor(m => m.STDEXE, DisplayTemplateNames.TextWithLabel)
        </div>
        <div class="ilife-container col-xs-6">
            @Html.DisplayFor(m => m.PastDue, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.LeaseTermDate, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.ContractNumber, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.CancelDate, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.StockNum, DisplayTemplateNames.TextWithLabel)
            <div class="input-container">
                @Html.CustomLabelFor(m => m.Surcharge, new { @class = "control-label" })
                <div class="input-wrapper">
                    @Html.DisplayFor(m => m.Surcharge, DisplayTemplateNames.Currency)
                </div>
            </div>
            @Html.DisplayFor(m => m.Type, DisplayTemplateNames.TextWithLabel)
        </div>
    </div>
    <div class="ilife-heading clearfix">
        <div class="col-xs-6">
            @Labels.CustomerInformation
        </div>

        <div class="col-xs-6">
            @Labels.VehicleInformation
        </div>
    </div>
    <div class="row">
        <div class="ilife-container col-xs-6">
            @Html.DisplayFor(m => m.FirstName, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.MiddleInitial, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.LastName, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.ContractHolder2, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.Address, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.City, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.State, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.Zip, DisplayTemplateNames.TextWithLabel)
        </div>
        <div class="ilife-container col-xs-6">
            @Html.DisplayFor(m => m.SoldAsNewUsed, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.Mileage, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.VIN, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.VinLast8, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.Make, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.Model, DisplayTemplateNames.TextWithLabel)
            @Html.DisplayFor(m => m.Year, DisplayTemplateNames.TextWithLabel)
        </div>
    </div>
    <div class="ilife-eligibile">
        <em>@Html.DisplayFor(m => m.EligibilityMessage)</em>
    </div>
    @if (Model.HistoryItems != null)
            {    <div class="row">
        <div class="col-xs-12">
            <table class="ilife-table">
                <tr>
                    <th>@Labels.Prefix</th>
                    <th>@Labels.ContractNo</th>
                    <th>@Labels.RONo</th>
                    <th>@Labels.Company</th>
                    <th>@Labels.Name</th>
                    <th>@Labels.Mileage</th>
                    <th>@Labels.RODate</th>
                </tr>

                @foreach (var item in Model.HistoryItems)
                {
                    <tr>
                        <td>@item.Prefix</td>
                        <td>@item.ContractNumber</td>
                        <td>@item.RONum</td>
                        <td>@item.Company</td>
                        <td>@item.Name</td>
                        <td>@item.Mileage</td>
                        <td>@item.RoDate</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    }
</div>
@section buttons
{
    <a href="#" onclick="printILife('@Model.VIN');" class="btn btn-primary btn-modal-submit btn-sm">
        <span>@Labels.PrintILifeForm</span>
    </a>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">@Labels.Close</button>
}
