﻿@model PermissionIndexViewModel
@{
    ViewBag.Title = Labels.Permissions;
    Layout = LayoutPaths.Default;
}


<h1> @string.Format(Labels.PermissionsForRole, Model.RoleName) </h1>


<div class="row">
    <div class="action-buttons margin-btm clearfix col-sm-12">
        @using (Html.BeginForm("SyncPermissions", "Permissions", FormMethod.Post))
        {  
            <div class="buttons-left">
                @Html.HiddenFor(m => m.RoleId)
                @Html.NavigationButton("Index", "Roles", new { area = "Admin" }, text: Labels.BackToRoles)
            </div>
            <div class="buttons-right">
                @Html.SubmitButton(Labels.RecreatePermissions)
            </div>
        }

    </div>
</div>

<div id="contents" data-url="@Url.Action("Index", "Permissions", new { area = "Admin", roleId = Model.RoleId })">
    <div class="row">
        @RenderBody()
    </div>
</div>