﻿@model PermissionViewModel
@{
    Layout = LayoutPaths.Modal;
}

<div class="modal-form">
    <div class="modal-form-row filter-dropdown">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.RoleId)
            @Html.EditorFor(m => m.Name, new { IsDisabled = true })
            @Html.EditorFor(m => m.Description, EditorTemplateNames.TextArea)
            @Html.EditorFor(m => m.Displayname)
            @Html.EditorFor(m => m.IsGranted, new { IsDisabled = true })
        }
    </div>
</div>