﻿@model PermissionIndexViewModel
@{
    ViewBag.Title = "[Index]";
    Layout = Request.IsAjaxRequest() ? null : LayoutPaths.IndexLayout;
}

@using (Html.BeginForm("GrantPermissions", "Permissions", FormMethod.Post))
{
    @Html.HiddenFor(m => m.RoleId)
    <div class="dataTable-holder">
        <table class="dataTableGrid xnoScroll" data-searching="false">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Items.First().Name)</th>
                    <th>@Html.DisplayNameFor(m => m.Items.First().Displayname)</th>
                    <th>@Html.DisplayNameFor(m => m.Items.First().Description)</th>
                    <th>@Html.DisplayNameFor(m => m.Items.First().IsGranted)</th>
                    <th>@Html.DisplayNameFor(m => m.Items.First().TimeUpdated)</th>
                    <th>@Labels.Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Name)</td>
                        <td>@Html.DisplayFor(m => item.Displayname)</td>
                        <td>@Html.DisplayFor(m => item.Description)</td>
                        <td>@Html.Editor("PermissionNames", EditorTemplateNames.CustomCheckbox, new { hideLabel = true, IsChecked = item.IsGranted, Value = item.Name, Id = $"Permission_{item.Name}" })</td>
                        <td>@Html.DisplayFor(m => item.TimeUpdated)</td>
                        <td>
                            @Html.ModalButton("Edit", "Permissions", new { area = "Admin", id = item.Id, roleId = item.RoleId }, Labels.Edit, Labels.Edit)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12 action-buttons  margin-btm">
            <div class="buttons-left"> @Html.SubmitButton(Labels.Save)</div>
        </div>
    </div>
}
