﻿@model CalendarFilter 

<div class="row">
    <div class="filters-container flex-container clearfix">
        <div class="timeframe flex-item">
            <a href="#" onclick="changeCalendarState('agendaDay', this); return false;" class="timeframe-selector active custom-disabled" id="filterCalendarDaily">@Labels.Day</a>
            <a href="#" onclick="changeCalendarState('customWeek', this); return false;" class="timeframe-selector" id="filterCalendarWeekly">@Labels.Week</a>
            <a href="#" onclick="changeCalendarState('month', this); return false;" class="timeframe-selector" id="filterCalendarMonthly">@Labels.Month</a>
        </div>
        <div class="filter-dropdown inline-label  flex-item">
            <!--Advisor:  -->
            @Html.EditorFor(model => model.AdvisorIds, EditorTemplateNames.MultiSelectLong, new
       {
           Items = DropdownItems.GetAdvisorList(true),
           Label = Labels.Advisor,
           fullWidth = true,
       })
        </div>
        <div class="filter-dropdown inline-label  flex-item">
            <!-- Status: -->
            @Html.EditorFor(model => model.AppointmentFilterStatus, EditorTemplateNames.Dropdown, new
       {
           Items = DropdownItems.GetAppointmentFilterStatuses(),
           Label = Labels.Status,
           fullWidth = true,
           HideSearch = true,
       })
        </div>
        
        <div>
            @{ string advisorIds = ""; }
            @if (Model.AdvisorIds.Count > 0)
            {
                for (int i = 0; i < Model.AdvisorIds.Count; i++)
                {
                    advisorIds += "," + Model.AdvisorIds[i];

                }
                advisorIds += ",";
            }
            <input type="hidden" id="appointmentFilterStatusValue" value="@Model.AppointmentFilterStatus" />
            <input type="hidden" id="advisorIdsValue" value="@advisorIds" />
        </div>

    </div>
</div>

<div class="row calendar-toolbar appointments-calendar-toolbar">
     
        <div class="calendar-nav col-sm-2">
            <a href="#" onclick="filterCalendarPrev(); return false;" class="prev"><span>Prev</span></a>
            <a href="#" onclick="filterCalendarNext(); return false;" class="next"><span>Next</span></a>            
           
        </div>
       <div id="calendarCurrentDate" class="calendar-date col-sm-8"></div>
        <div class="col-sm-2 calendar-qucklink">
            <a href="#" onclick="filterCalendarToday(); return false;" id="linkCurrentDay">Today</a>
        </div>
   
</div>
<div class="calendar-wrapper calendar-appointment">
    <div id="calendarAppointment" class="row">
    </div>
</div>
