﻿@using SmartVMA.Core.Services
@using SmartVMA.Infrastructure.Ioc
@model AppointmentIndexViewModel
<div class="results-body">
    @if (Model.Items != null && Model.Items.Count() > 0)
    {
        <table class="dataTableGrid custom-table">
            <thead>
                <tr class="results-table-title">
                    @*<th colspan="4">Search Results: <span> @Model.Items.Count() results found </span></th>*@
                    <th colspan="2">

                        <div class="results-header">
                            <span class="col-sm-2 padding-space">@Labels.SearchResults</span>
                            <span class="col-sm-8 results-count">@Model.Items.Count() @Labels.ResultsFound</span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    string vin = (item.VIN ?? string.Empty).Trim();
                    int isCarIdUndetermined = (item.CarIdUndetermined ?? true) ? (int)CarIdUndeterminedStatus.True : (int)CarIdUndeterminedStatus.False;
                    <tr>
                        <td class="appoinment-results-left">
                            <table class="inner-table">
                                <thead>
                                    <tr>
                                        <th colspan="3">
                                            @Labels.AppDate: @Html.DisplayFor(m => item.AppointmentTime, DisplayTemplateNames.DateTime, new { ShowTime = true })
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="resuts_name">
                                            @if ((item.CarId == null && string.IsNullOrEmpty(vin)) || (item.CarId != null))
                                            {
                                                @Html.NavigationButton("NavigateToMenuPresentation", controller: "AppointmentPresentation", text: item.FirstName + ' ' + item.LastName,
                                                routeValues: new
                                                {
                                                    customerId = item.DealerCustomerId,
                                                    carId = item.CarId,
                                                    appointmentPresentationStatus = item.PresentationStatus,
                                                    appointmentPresentationId = item.AppointmentPresentationId,
                                                    dealerVehicleId = item.DealerVehicleId,
                                                    CarIdUndetermined = isCarIdUndetermined,
                                                    vin = vin
                                                },
                                                title: item.CarId == null && string.IsNullOrEmpty(vin) ? Messages.CustomerSearchNoCarIdForVehicle : string.Empty,
                                                htmlAttributes: new { @class = $"btn-link{(item.CarId == null && string.IsNullOrEmpty(vin) ? " custom-disabled" : string.Empty)}" })
                                            }
                                            else if (item.CarId == null && !string.IsNullOrEmpty(vin))
                                            {
                                                @Html.NavigationButton("PopulateVehicleLookupSearch", controller: "AppointmentPresentation", text: item.FirstName + ' ' + item.LastName,
                                                routeValues: new
                                                {
                                                    vin = vin,
                                                    customerId = item.DealerCustomerId,
                                                    dealerVehicleId = item.DealerVehicleId,
                                                    appointmentPresentationStatus = item.PresentationStatus,
                                                    appointmentPresentationId = item.AppointmentPresentationId
                                                },
                                                htmlAttributes: new { @class = "btn-link" })
                                            }
                                        </td>
                                        <td class="text-center resuts_model">@item.Year @item.Make @item.Model</td>
                                        <td class="resuts_mileage">@item.Mileage @(IocManager.Resolve<ICompanyService>().GetSettingAsInteger(CompanySettingsNames.MeasurementUnit) == (int)MeasurementUnits.Imperial ? Labels.Miles : Labels.km) </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">@Labels.MobileNum @item.CellPhone</td>
                                        <td>VIN: @item.VIN</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="appoinment-results-right">
                            <span class="dealer-name lightGray">
                                @item.AdvisorName @item.AdvisorFamily @item.AdvisorCode
                            </span>
                            <div class="menu-actions icon-menu">
                                <div class="dropup options-menu">
                                    <a href="#" class="btn dropdown-primary btn-primary" data-toggle="dropdown">
                                        <span>@Labels.Options</span>
                                    </a>
                                    @if (item.PresentationStatus == "MC")
                                    {
                                        @Html.Partial("_AcceptedOptions", new OptionsMenu(@item.AppointmentPresentationId, @item.DealerCustomerId, @item.DealerId, @item.Mileage))
                                    }
                                    else
                                    {
                                        @Html.Partial("_ParkedOptions", new OptionsMenu(@item.AppointmentPresentationId, @item.DealerCustomerId, @item.DealerId, @item.Mileage, @item.CarId, @item.PresentationStatus, @item.DealerVehicleId, @item.VIN, null, null, null, @item.AdvisorId, null, @item.CarIdUndetermined.HasValue ? @item.CarIdUndetermined.Value ? 1 : 0 : 0, @item.AppointmentTime, @item.AppointmentId))
                                    }
                                </div>
                            </div>
                        </td>

                        @*<td name="customername">@item.FirstName @item.LastName</td>
                            <td name="vehicle">@item.Year @item.Make @item.Model</td>
                            <td name="vin">VIN: @item.VIN</td>
                            <td name="year">Appt Date: @item.AppointmentTime</td>*@
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="dataTableGrid table table-condensed custom-table">
            <thead>
                <tr class="results-table-title">
                    @*<th colspan="4">Search Results: <span> @Model.Items.Count() @Labels.ResultsFound </span></th>*@
                    <th colspan="2">
                        <div class="results-header clearfix">
                            <span class="col-sm-2 padding-space">@Labels.SearchResults</span>
                            <span class="col-sm-8 results-count">0 @Labels.ResultsFound </span>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    }
</div>
