﻿@model AppointmentServiceViewModel

<tr>
    <td>@Model.AppointmentTime</td>
    <td>@Model.InvoiceNumber</td>
    <td>@Model.Mileage</td>
    <td>@Model.VIN</td>
    <td>@Model.AppointmentDetailsList.Where(x => x.InStock).First().OpCode</td>
    <td>@Model.AppointmentDetailsList.Where(x => x.InStock).First().OpDescription</td>    
</tr>
@foreach(var item in Model.AppointmentDetailsList.Where(x => x.InStock).Skip(1))
{
    <tr>
        <td colspan="4"></td>        
        <td>@item.OpCode</td>
        <td>@item.OpDescription</td>
    </tr>
}