﻿@model List<AppointmentServiceViewModel>
@{
    ViewBag.Title = "Index";
    Layout = LayoutPaths.Default;
}


<section class="full-width-wrapp history-data">
    <h1>@Labels.MaintenanceHistory</h1>


    <ul class="nav nav-tabs custom-tab flex-container">
        <li class="active flex-item"><a href="#passedVehicles" data-toggle="tab" aria-expanded="true">@Labels.VehicleServiceHistory</a></li>
        <li class="flex-item"><a href="#declinedVehicles" data-toggle="tab" aria-expanded="false">@Labels.DeclinedServiceHistory</a></li>
        <li class="flex-item"><a href="#lifeTimeProtectionPlan" data-toggle="tab" aria-expanded="false">@Labels.LifetimeProtectionPlan</a></li>
    </ul>
    <div id="tab-content" class="tab-content">
        @{ bool isHeader = true; }
        <div id="passedVehicles" class="tab-pane fade active in">
            <table class="custom-table history-table">
                <thead>
                    <tr>
                        <th>@Labels.ServiceDate</th>
                        <th>@Labels.InvoiceNumber</th>
                        <th>@Labels.Odometer</th>
                        <th>@Labels.VIN</th>
                        <th>@Labels.OpCode</th>
                        <th>@Labels.ServiceDescription</th>
                    </tr>
                </thead>

                @if (Model.Where(x => !x.IsStriked).GroupBy(x => x.AppointmentPresentationID).Count() > 0)
                {
                    foreach (var groupedItem in Model.Where(x => !x.IsStriked).GroupBy(x => x.AppointmentPresentationID))
                    {
                        isHeader = true;
                        <tbody class="table-block">
                            @foreach (var groupedItemVIN in groupedItem.GroupBy(x => x.VIN))
                            {
                                isHeader = true;
                                foreach (var item in groupedItemVIN)
                                {
                                    <tr>
                                        @if (isHeader)
                                        {
                                            <td>@item.AppointmentTime</td>
                                            <td>@item.InvoiceNumber</td>
                                            <td>@item.Mileage</td>
                                            <td>@item.VIN</td>
                                            <td>@item.OpCode</td>
                                            <td>@item.OpDescription</td>
                                            isHeader = false;
                                        }
                                        else
                                        {
                                            <td colspan="4"></td>
                                            <td>@item.OpCode</td>
                                            <td>@item.OpDescription</td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    }
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="buttons-right">
                                    <a href="#" onclick="printVehicleHistory('@ViewBag.VIN', false); return false;" class="btn btn-primary">@Labels.Print</a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                }
                else
                {
                    <tbody class="table-block">
                        <tr>
                            <td colspan="6"><div class="results-header no-results clearfix"><span class="col-sm-12 results-count">@Labels.NoVehicleHistoryFound</span></div></td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <div id="declinedVehicles" class="tab-pane fade">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>@Labels.ServiceDate</th>
                        <th>@Labels.InvoiceNumber</th>
                        <th>@Labels.Odometer</th>
                        <th>@Labels.VIN</th>
                        <th>@Labels.OpCode</th>
                        <th>@Labels.ServiceDescription</th>
                    </tr>
                </thead>

                @if (Model.Where(x => x.IsStriked).GroupBy(x => x.AppointmentPresentationID).Count() > 0)
                {
                    foreach (var groupedItem in Model.Where(x => x.IsStriked).GroupBy(x => x.AppointmentPresentationID))
                    {
                        isHeader = true;
                        <tbody class="table-block">
                            @foreach (var groupedItemVIN in groupedItem.GroupBy(x => x.VIN))
                            {
                                isHeader = true;
                                foreach (var item in groupedItemVIN)
                                {
                                    <tr>
                                        @if (isHeader)
                                        {
                                            <td>@item.AppointmentTime</td>
                                            <td>@item.InvoiceNumber</td>
                                            <td>@item.Mileage</td>
                                            <td>@item.VIN</td>
                                            <td>@item.OpCode</td>
                                            <td>@item.OpDescription</td>
                                            isHeader = false;
                                        }
                                        else
                                        {
                                            <td colspan="4"></td>
                                            <td>@item.OpCode</td>
                                            <td>@item.OpDescription</td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    }
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="buttons-right">
                                    @*<a href="/Dealer/VehicleMaintenanceHistory/ViewDeclinedAppointmentInfoPdfFile?vin=@ViewBag.VIN&sendPDFToPrinter=true" target="_blank" class="btn btn-primary">@Labels.Print</a>*@
                                    <a href="#" onclick="printVehicleHistory('@ViewBag.VIN', true); return false;" class="btn btn-primary">@Labels.Print</a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                }
                else
                {
                    <tbody class="table-block">
                        <tr>
                            <td colspan="6"><div class="results-header no-results clearfix"><span class="col-sm-12 results-count">@Labels.NoDeclinedServicesHistoryFound</span></div></td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <div id="lifeTimeProtectionPlan" class="tab-pane fade">

            <table class="custom-table">
                <thead>
                    <tr>
                        <th>@Labels.Service</th>
                        <th>@Labels.PlanLevel</th>
                        <th>@Labels.InvoiceNumber</th>
                        <th>@Labels.ServiceDate</th>
                        <th>@Labels.Odometer</th>
                        <th>@Labels.ExpirationDate<br /><span class="small">(@Labels.Estimated)</span></th>
                        <th>@Labels.Odometer<br /><span class="small">(@Labels.Expected)</span></th>
                    </tr>
                </thead>
                @if (Model.Where(c => c.ProtectionPlanLevel != null && !string.IsNullOrEmpty(c.BgProductCategory) && !c.IsStriked).Count() > 0)
                {
                    foreach (var groupedServices in Model.Where(c => c.ProtectionPlanLevel != null && !string.IsNullOrEmpty(c.BgProductCategory) && !c.IsStriked).GroupBy(c => new { c.BgProductCategory, c.BgProtectionPlanId, c.ProtectionPlanLevel, c.AppointmentTime, c.AppointmentPresentationID, c.ServiceInterval, c.Mileage, c.ExpectedMileage, c.AverageMilesPerYear }))
                    {
                        var service = groupedServices.FirstOrDefault();
                        DateTime expectedServiceDate = service.AppointmentTime.Value;
                        int serviceInterval = service.ServiceInterval ?? 0;
                        int diffInYears = serviceInterval / service.AverageMilesPerYear;
                        int diffInDays = diffInYears == 0 ? (service.AverageMilesPerYear - serviceInterval) * 365 / service.AverageMilesPerYear : (serviceInterval - (diffInYears * service.AverageMilesPerYear)) * 365 / service.AverageMilesPerYear;
                        expectedServiceDate = expectedServiceDate.AddYears(diffInYears).AddDays(diffInDays);
                        <tbody class="table-block">
                            <tr>
                                <td>
                                    @service.BgProductCategory
                                </td>
                                <td>
                                    @service.ProtectionPlanLevel
                                </td>
                                <td>
                                    @service.InvoiceNumber
                                </td>
                                <td>
                                    @service.AppointmentTime
                                </td>
                                <td>
                                    @service.Mileage
                                </td>
                                <td>
                                    @expectedServiceDate
                                </td>
                                <td>
                                    @service.ExpectedMileage
                                </td>
                            </tr>
                        </tbody>
                    }
                }
                else
                {
                    <tbody class="table-block">
                        <tr>
                            <td colspan="7">
                                <div class="results-header no-results clearfix">
                                    <span class="col-sm-12 results-count"> @Labels.NoLifetimeProtectionResultsFound</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</section>