﻿@model VehicleHistoryPdfViewModel

@{
    Layout = LayoutPaths.Pdf;
}

@Html.Partial("PdfHeader", Model.Header)
<section class="">
    <div id="declinedVehicles" class="tab-pane fade active in" style="overflow:visible">
        <header class="pdf-header">
            <h1 style="text-align:center; padding:10px 0;">@Labels.DeclinedServiceHistory</h1>
        </header>
        <table class="custom-table" style="border-collapse:collapse;">
            <thead>
                <tr>
                    <th style="width:12%; padding:3px 5px; text-align:left;">@Labels.ServiceDate</th>
                    <th style="width:12%; padding:3px 5px; text-align:left;">@Labels.InvoiceNumber</th>
                    <th style="width:12%; padding:3px 5px; text-align:left;">@Labels.Odometer</th>
                    <th style="width:12%; padding:3px 5px; text-align:left;">@Labels.VIN</th>
                    <th style="width:12%; padding:3px 5px; text-align:left;">@Labels.OpCode</th>
                    <th style="width:52%; padding:3px 5px; text-align:left;">@Labels.ServiceDescription</th>
                </tr>
            </thead>
            @{ bool isHeader = true; }
            @if (Model.Services.Where(x => x.IsStriked).GroupBy(x => x.AppointmentPresentationID).Count() > 0)
            {
                foreach (var groupedItem in Model.Services.Where(x => x.IsStriked).GroupBy(x => x.AppointmentPresentationID))
                {
                    isHeader = true;
                    <tbody class="table-block">
                        @foreach (var item in groupedItem)
                        {
                            <tr style="page-break-inside: avoid !important">
                                @if (isHeader)
                                {
                                    <td style="padding:3px 5px; border-top:1px solid #000;">@item.AppointmentTime</td>
                                    <td style="padding:3px 5px; border-top:1px solid #000;">@item.InvoiceNumber</td>
                                    <td style="padding:3px 5px; border-top:1px solid #000;">@item.Mileage</td>
                                    <td style="padding:3px 5px; border-top:1px solid #000;">@item.VIN</td>
                                    <td style="padding:3px 5px; border-top:1px solid #000;">@item.OpCode</td>
                                    <td style="padding:3px 5px; border-top:1px solid #000;">@item.OpDescription</td>
                                    isHeader = false;
                                }
                                else
                                {
                                    <td colspan="4" style="padding:3px 5px"></td>
                                    <td style="padding:3px 5px">@item.OpCode</td>
                                    <td style="padding:3px 5px">@item.OpDescription</td>
                                }
                            </tr>
                        }
                    </tbody>
                }
            }
            else
            {
                <tbody class="table-block">
                    <tr>
                        <td colspan="5"><div>@Labels.NoDeclinedVehicleHistoryFound</div></td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

</section>