﻿@model UserViewModel
@{
    Layout = LayoutPaths.Modal;
}
<div class="modal-form">
    <div class="modal-form-row filter-dropdown">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Id)
            if (Model.RoleId != (int)UserRoles.SystemAdministrator)
            {
                @Html.EditorFor(m => m.Tenants, EditorTemplateNames.MultiSelect, new { Items = DropdownItems.GetCompanies(Model.Tenants), OnChangeFunction = "refreshAdvisorCodes" })
            }
            else
            {
                @Html.EditorFor(m => m.Tenants, EditorTemplateNames.MultiSelect, new { Items = DropdownItems.GetDefaultCompany(), OnChangeFunction = "refreshAdvisorCodes" })
            }
            @Html.EditorFor(m => m.FirstName)
            @Html.EditorFor(m => m.MiddleName)
            @Html.EditorFor(m => m.LastName)
            @Html.EditorFor(m => m.Email, EditorTemplateNames.TextBox)
            @Html.EditorFor(m => m.PhoneNumber)
            @Html.EditorFor(m => m.RoleId, EditorTemplateNames.Dropdown, new {Items = DropdownItems.GetRoles(Model.RoleId)})
            @Html.EditorFor(m => m.Title)
            @Html.EditorFor(m => m.UserStatusCodeId, EditorTemplateNames.Dropdown, new {Items = DropdownItems.GetUserStatusCodeList(Model.UserStatusCodeId)})
            @Html.EditorFor(m => m.IsLocked)

            <div class="user-role-wrapper">
                @for (var i = 0; i < Model.UserRoles.Count; i++)
                {
                <div class="user-role" id="@Model.UserRoles[i].TenantId">
                    @Html.DisplayFor(m => Model.UserRoles[i].CompanyName)
                    @Html.EditorFor(m => Model.UserRoles[i].DmsUserNumber)

                    @Html.HiddenFor(m => Model.UserRoles[i].TenantId)
                </div>
                }
            </div>
            @*@Html.EditorFor(m => m.AdvisorCode)*@
        }
    </div>
</div>

@if (!Model.Id.HasValue)
{
    return;
}

@section buttons{
    @Html.SubmitButton(Labels.Save, new {@class = "btn btn-primary btn-modal-submit pull-left"})
    @Html.SubmitButton(Labels.Close, new {@class = "btn btn-default", data_dismiss = "modal"})
    @Html.SubmitButton(Labels.SendPasswordResetEmail, new
    {
        @class = "btn btn-primary btn-refresh-container",
        id = "sendPasswordResetEmail",
        data_container = "#sendPasswordResetEmail",
        data_request_type = "POST",
        data_url = $"/Admin/Accounts/SendPasswordResetEmail/{Model.Id}",
        data_custom_oncomplete_function = "smartvma.callbacks.userManagementHideResetPasswordButton"
    })
}
