﻿@model UserViewModel
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : LayoutPaths.IndexLayout;
}
<div class="dataTable-holder">
    <table class="dataTableGrid xnoScroll" data-url="/Admin/Users/Index?companyId=[#CompanyId]" data-trimlonglist="0,6">
        <thead>
            <tr>
                <th name="companyName" class="trim">@Html.DisplayNameFor(m => m.CompanyName)</th>
                <th name="fullName">@Html.DisplayNameFor(m => m.FullName)</th>
                <th name="roleName">@Html.DisplayNameFor(m => m.RoleName)</th>
                <th name="actions" data-orderable="false" data-actions='{"buttons":[{"text":"@Labels.Edit", "title":"@Labels.Edit", "class":"btn btn-icon btn-modal icon-edit-btn", "href":"/Admin/Users/Edit/{id}", "visibility":"true"}]}'>@Labels.Actions</th>
            </tr>
        </thead>
    </table>
    </div>
