﻿@model OptionsMenu

@using (Html.BeginForm("ManagePdfFile", "PdfDocuments", new { }, FormMethod.Post, new { id = "managePdfFileForm", target = "_blank", @class = "dropdown-menu" }))
{
    @Html.AntiForgeryToken()

    <ul id="dropDownAcceptedOptions">
        <li>
            <span class="options-label notranslate" title="@Labels.CustomerCopy">@Labels.CC</span>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.CustomerCopy), @((int)PdfAction.View))" class="viewPDF" title="@Labels.ViewPDF"><i class="icon-open"></i></a>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.CustomerCopy), @((int)PdfAction.Save))" class="downloadPDF" title="@Labels.DownloadPDF"><i class="glyphicon glyphicon-floppy-save" ></i></a>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.CustomerCopy), @((int)PdfAction.Print))" class="printPDF" title="@Labels.PrintPDF"><i class="glyphicon glyphicon-print"></i></a>
            <a href="/Dealer/PdfDocuments/EmailPdfFile?dealerId=@Model.DealerID&appointmentPresentationId=@Model.AppointmentPresentationID&dealerCustomerId=@Model.DealerCustomerID&documentType=@((int)DocumentType.CustomerCopy)" class="emailPDF btn-modal" data-modal-title="@string.Format(Labels.EmailPdfTitle, Labels.CustomerCopy)" title="@Labels.EmailPDF"><i class="glyphicon glyphicon-envelope"></i></a>
        </li>
        <li>
            <span class="options-label notranslate" title="@Labels.TechCopy">@Labels.TC</span>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.TechCopy), @((int)PdfAction.View))" class="viewPDF" title="@Labels.ViewPDF"><i class="icon-open"></i></a>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.TechCopy), @((int)PdfAction.Save))" class="downloadPDF" title="@Labels.DownloadPDF"><i class="glyphicon glyphicon-floppy-save"></i></a>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.TechCopy), @((int)PdfAction.Print))" class="printPDF"  title="@Labels.PrintPDF"><i class="glyphicon glyphicon-print"></i></a>
            <a href="/Dealer/PdfDocuments/EmailPdfFile?dealerId=@Model.DealerID&appointmentPresentationId=@Model.AppointmentPresentationID&dealerCustomerId=@Model.DealerCustomerID&documentType=@((int)DocumentType.TechCopy)" class="emailPDF btn-modal" data-modal-title="@string.Format(Labels.EmailPdfTitle, Labels.TechCopy)" title="@Labels.EmailPDF"><i class="glyphicon glyphicon-envelope"></i></a>
        </li>
        <li>
            <span class="options-label notranslate" title="@Labels.PartsCopy">@Labels.PC</span>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.PartsCopy), @((int)PdfAction.View))" class="viewPDF" title="@Labels.ViewPDF"><i class="icon-open"></i></a>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.PartsCopy), @((int)PdfAction.Save))" class="downloadPDF" title="@Labels.DownloadPDF"><i class="glyphicon glyphicon-floppy-save"></i></a>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.PartsCopy), @((int)PdfAction.Print))" class="printPDF"  title="@Labels.PrintPDF"><i class="glyphicon glyphicon-print"></i></a>
            <a href="/Dealer/PdfDocuments/EmailPdfFile?dealerId=@Model.DealerID&appointmentPresentationId=@Model.AppointmentPresentationID&dealerCustomerId=@Model.DealerCustomerID&documentType=@((int)DocumentType.PartsCopy)" class="emailPDF btn-modal" data-modal-title="@string.Format(Labels.EmailPdfTitle, Labels.PartsCopy)" title="@Labels.EmailPDF"><i class="glyphicon glyphicon-envelope"></i></a>
        </li>
        <li>
            <span class="options-label notranslate" title="@Labels.WACopy">@Labels.WA</span>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.WalkAroundInspection), @((int)PdfAction.View))" class="viewPDF" title="@Labels.ViewPDF"><i class="icon-open"></i></a>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.WalkAroundInspection), @((int)PdfAction.Save))" class="downloadPDF" title="@Labels.DownloadPDF"><i class="glyphicon glyphicon-floppy-save"></i></a>
            <a href="#" onclick="managePDF(@Model.DealerID, @Model.AppointmentPresentationID, @((int)DocumentType.WalkAroundInspection), @((int)PdfAction.Print))" class="printPDF"  title="@Labels.PrintPDF"><i class="glyphicon glyphicon-print"></i></a>
            <a href="/Dealer/PdfDocuments/EmailPdfFile?dealerId=@Model.DealerID&appointmentPresentationId=@Model.AppointmentPresentationID&dealerCustomerId=@Model.DealerCustomerID&documentType=@((int)DocumentType.WalkAroundInspection)" class="emailPDF btn-modal" data-modal-title="@string.Format(Labels.EmailPdfTitle, Labels.WalkaroundInspection)" title="@Labels.EmailPDF"><i class="glyphicon glyphicon-envelope"></i></a>
        </li>
    </ul>


    <input type="hidden" id="appointmentPresentationId" name="appointmentPresentationId" value="" />
    <input type="hidden" id="dealerCustomerId" name="dealerCustomerId" value="" />
    <input type="hidden" id="documentType" name="documentType" value="" />
    <input type="hidden" id="pdfAction" name="pdfAction" value="" />

    <button type="submit" value="submit" id="submitManagePdfFileForm" class="hidden"></button>
}