﻿@using SmartVMA.Core.Services
@using SmartVMA.Infrastructure.Ioc
@model CustomerInfoForServicesViewModel
@{
    Layout = null;
    bool hideAvatarImage = ViewBag.HideAvatarImage ?? false;
    bool showMileageDropdown = ViewBag.ShowMileageDropdown == true;
}

<div class="customer-info-wrapper clearfix">
    <div class="customer-info-table">
        <div class="customer-info-row">
            @*Address info*@

            @if (!string.IsNullOrEmpty(Model.CustomerInfo.FullName))
            {
                <div class="customer-info-col">
                    <div class="main-customer-info">
                        @Html.DisplayFor(m => m.CustomerInfo.FullName, DisplayTemplateNames.DivRowText, new { HideLabel = true, PrependIcon = hideAvatarImage ? "" : "icon-user" })
                    </div>
                    <div class="extra-customer-info">
                        @Html.DisplayFor(m => m.CustomerInfo.Address, DisplayTemplateNames.DivRowText, new { HideLabel = true })
                        <div>
                            @Html.DisplayFor(m => m.CustomerInfo.City) @Html.DisplayFor(m => m.CustomerInfo.State) @Html.DisplayFor(m => m.CustomerInfo.Zip)
                        </div>
                        @Html.DisplayFor(m => m.CustomerInfo.Country, DisplayTemplateNames.DivRowText, new { HideLabel = true })
                    </div>
                </div>
            }
            @*Contact info*@
            <div class="customer-info-col">
                <div class="extra-customer-info">
                    @Html.DisplayFor(m => m.CustomerInfo.Email, DisplayTemplateNames.DivRowText, new { HideLabel = true })
                    @Html.DisplayFor(m => m.CustomerInfo.HomePhone, DisplayTemplateNames.DivRowText)
                    @Html.DisplayFor(m => m.CustomerInfo.WorkPhone, DisplayTemplateNames.DivRowText)
                    @Html.DisplayFor(m => m.CustomerInfo.CellPhone, DisplayTemplateNames.DivRowText)
                </div>
            </div>

            @*Car info*@

            <div class="customer-info-col">
                <div class="main-customer-info mileage">
                    <span id="lblMeasurementUnit">
                        <label id="lblMileageAmmount">@Html.DisplayFor(m => m.CustomerInfo.Mileage, DisplayTemplateNames.DivRowText, new { HideLabel = true, PrependIcon = hideAvatarImage ? "" : "icon-mileage" })</label>
                        @(IocManager.Resolve<ICompanyService>().GetSettingAsInteger(CompanySettingsNames.MeasurementUnit) == (int)MeasurementUnits.Imperial ? " " + Labels.Miles : " " + Labels.km)
                    </span>
                </div>
                <div class="extra-customer-info">
                    @Html.DisplayFor(m => m.CustomerInfo.VIN, DisplayTemplateNames.DivRowText)
                     </div>
            </div>

            @if (string.IsNullOrEmpty(Model.CustomerInfo.FullName))
            {
                <div class="customer-info-col">
                    &nbsp;
                </div>
            }
        </div>
        
    </div>

    @*Mileage info*@
    @if (showMileageDropdown && Model != null)
    {
        <div class="customer-info-mileage filter-dropdown button-link button-link-right">
            @Html.EditorFor(m => m.CustomerInfo.Mileage, EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetMileagesByCar(Model.CustomerInfo.CarId, Model.CustomerInfo.Mileage), Container = "#allServicesContainer", fullWidth = true })
        </div>
    }
    </div>
    <div class="row input-clear customer-info-filters">
        @Html.Partial("_CustomerInfoVehicleFilter", Model.VehicleFilterModel)
    
    <div class="action-buttons">
        <div class="buttons-center">
            @{bool disableRefreshServices = !(Model.VehicleFilterModel != null
                                              && Model.VehicleFilterModel.Years != null && Model.VehicleFilterModel.Years.Count() == 1 && Model.VehicleFilterModel.Years.FirstOrDefault() > 0
                                              && Model.VehicleFilterModel.Makes != null && Model.VehicleFilterModel.Makes.Count() == 1 && Model.VehicleFilterModel.Makes.FirstOrDefault() > 0
                                              && Model.VehicleFilterModel.Models != null && Model.VehicleFilterModel.Models.Count() == 1 && Model.VehicleFilterModel.Models.FirstOrDefault() > 0
                                              && Model.VehicleFilterModel.EngineTypes != null && Model.VehicleFilterModel.EngineTypes.Count() == 1 && Model.VehicleFilterModel.EngineTypes.FirstOrDefault() > 0
                                              && Model.VehicleFilterModel.TransmissionTypes != null && Model.VehicleFilterModel.TransmissionTypes.Count() == 1 && Model.VehicleFilterModel.TransmissionTypes.FirstOrDefault() > 0
                                              && Model.VehicleFilterModel.DriveLines != null && Model.VehicleFilterModel.DriveLines.Count() == 1 && Model.VehicleFilterModel.DriveLines.FirstOrDefault() > 0);}
            <button id="refreshServices" type="button" class='@string.Format("btn btn-primary btn-refresh-container{0}", disableRefreshServices ? " custom-disabled" : "")' title='@(disableRefreshServices ? Messages.VehiclePropertiesMissing : string.Empty)' data-container="#allServicesContainer">@Labels.RefreshServices</button>
        </div>
    </div>
</div>




