﻿@using SmartVMA.Core.Services
@using SmartVMA.Infrastructure.Ioc
@model CustomerInfoViewModel
@{
    Layout = null;
    bool hideAvatarImage = ViewBag.HideAvatarImage ?? false;
    bool showMileageDropdown = ViewBag.ShowMileageDropdown == true;
   
}

<div class="customer-info-wrapper clearfix">
    <div class="customer-info-table">
        <div class="customer-info-row">
            @*Address info*@

          @if  (!string.IsNullOrEmpty(Model.FullName))
          {
            <div class="customer-info-col">
                <div class="main-customer-info">
                    @Html.DisplayFor(m => m.FullName, DisplayTemplateNames.DivRowText, new { HideLabel = true, PrependIcon = hideAvatarImage ? "" : "icon-user" })
                </div>
                <div class="extra-customer-info">
                    @Html.DisplayFor(m => m.Address, DisplayTemplateNames.DivRowText, new { HideLabel = true })
                    <div>
                        @Html.DisplayFor(m => m.City) @Html.DisplayFor(m => m.State) @Html.DisplayFor(m => m.Zip)
                    </div>
                    @Html.DisplayFor(m => m.Country, DisplayTemplateNames.DivRowText, new { HideLabel = true })
                </div>
            </div>
          }
            @*Contact info*@
            <div class="customer-info-col">
                <div class="main-customer-info">
                    @Html.DisplayFor(m => m.CarFullName, DisplayTemplateNames.DivRowText, new { HideLabel = true, PrependIcon = hideAvatarImage ? "" : "icon-car" })
                </div>
                <div class="extra-customer-info">
                    <div class="wrap-text">@Html.DisplayFor(m => m.Email, DisplayTemplateNames.DivRowText, new { HideLabel = true })</div>
                    @Html.DisplayFor(m => m.HomePhone, DisplayTemplateNames.DivRowText)
                    @Html.DisplayFor(m => m.WorkPhone, DisplayTemplateNames.DivRowText)
                    @Html.DisplayFor(m => m.CellPhone, DisplayTemplateNames.DivRowText)
                </div>
            </div>

            @*Car info*@
            <div class="customer-info-col">
                <div class="main-customer-info mileage">
                    <span id="lblMeasurementUnit">
                        <label id="lblMileageAmmount">
                            @Html.DisplayFor(m => m.Mileage, DisplayTemplateNames.DivRowText, new { HideLabel = true, PrependIcon = hideAvatarImage ? "" : "icon-mileage" })
                        @(IocManager.Resolve<ICompanyService>().GetSettingAsInteger(CompanySettingsNames.MeasurementUnit) == (int)MeasurementUnits.Imperial ? " " + Labels.Miles : " " + Labels.km)
                    </label>
                    </span>
                </div>
                <div class="extra-customer-info">
                    <div class="wrap-text">@Html.DisplayFor(m => m.VIN, DisplayTemplateNames.DivRowText)</div>
                    @Html.DisplayFor(m => m.Engine, DisplayTemplateNames.DivRowText)
                    @Html.DisplayFor(m => m.DriveLine, DisplayTemplateNames.DivRowText)
                    @Html.DisplayFor(m => m.Transmission, DisplayTemplateNames.DivRowText)
                </div>
            </div>
            @if(string.IsNullOrEmpty(Model.FullName))
            {
                <div class="customer-info-col">
                  &nbsp;
                </div>
            }
        </div>
    </div>
    @*Mileage info*@
    @if (showMileageDropdown && Model != null)
    {
        <div class="customer-info-mileage filter-dropdown button-link button-link-right">
            @Html.EditorFor(m => m.Mileage, EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetMileagesByCar(Model.CarId, Model.Mileage), Container = "#allServicesContainer", fullWidth = true })
        </div>
    }
</div>