﻿@model MenuPresentationPrintOptions

<ul id="dropDownParkedOptions">
    <li>
        <a href="#" onclick="printMenuPresentation(true); return false;" class="btn dropdown-primary btn-primary">
            <span>@Labels.PrintSingleMenu</span>
        </a>
    </li>
    <li>
        <a href="#" onclick="printMenuPresentation(false); return false;" class="btn dropdown-primary btn-primary">
            <span>@Labels.PrintAllMenus</span>
        </a>
    </li>
    <li>
        @Html.EditorFor(m => m.IncludePrices, EditorTemplateNames.CustomCheckbox, new { isChecked = Model.IncludePrices, value = Model.IncludePrices })
    </li>    
</ul>

@Html.HiddenFor(model => model.SelectedMenuLevel)
@Html.HiddenFor(model => model.CarId)
@Html.HiddenFor(model => model.Mileage)
@Html.HiddenFor(model => model.CustomerId)
@Html.HiddenFor(model => model.AppointmentPresentationId)
@Html.HiddenFor(model => model.ParkedAppointmentTime)
@Html.HiddenFor(model => model.InspectionId)
@Html.HiddenFor(model => model.Transmission)
@Html.HiddenFor(model => model.Driveline)