﻿@using SmartVMA.Infrastructure.Parser
@model PdfHeaderViewModel

<header class="pdf-header">
    <div class="pdf-brand-holder">
        <img src="@Parser.ToBase64(Model.Dealer.LogoImgByteArray, "image/gif")" />
        @*<img src="@Model.Dealer.LogoImg">*@
    </div>
    <h1>@Model.Title</h1>
    <h2>@Model.SubTitle</h2>
</header>
<div class="vehicle-data pdf-table-top">
    <table class="table-vehicle">
        @if (Model.ShowDealer || Model.ShowAdvisor)
        {
            <tr>
                <td class="padding-bottom">
                    <div class="fake-table">
                        @if (Model.ShowDealer)
                        {
                            @Html.DisplayFor(m => m.Dealer.CompanyName, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.Dealer.CompanyAddress, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.Dealer.CompanyPhone, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.Dealer.CompanyWebSite, DisplayTemplateNames.TextWithLabel)
                        }
                    </div>
                </td>
                <td class="padding-bottom">
                    <div class="fake-table">
                        @if (Model.ShowAdvisor)
                        {
                            @Html.DisplayFor(m => m.Advisor.AdvisorName, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.Advisor.AdvisorCode, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.Advisor.AdvisorEmail, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.Advisor.AdvisorPhoneNumber, DisplayTemplateNames.TextWithLabel)

                        }
                    </div>
                </td>
            </tr>
        }
        @if (Model.CustomerInfo != null)
        {
            <tr>
                @if (Model.CustomerInfo.ShowVehicleHistoryCustomerInfo)
                {
                    <td>
                        <div class="fake-table">
                            @Html.DisplayFor(m => m.CustomerInfo.CustomerName, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.CustomerAddress, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.CustomerHomePhone, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.CustomerWorkPhone, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.CustomerMobilePhone, DisplayTemplateNames.TextWithLabel)
                        </div>
                    </td>
                    <td>
                        <div class="fake-table">
                            @Html.DisplayFor(m => m.CustomerInfo.VehicleLicenseNumber, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.VehicleYear, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.VehicleMake, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.VehicleModel, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.VehicleColor, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.VIN, DisplayTemplateNames.TextWithLabel)
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        <div class="fake-table">
                            @Html.DisplayFor(m => m.CustomerInfo.CustomerName, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.VehicleYear, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.VehicleMake, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.VehicleModel, DisplayTemplateNames.TextWithLabel)
                            @if (Model.CustomerInfo.ShowEngine)
                            {
                                @Html.DisplayFor(m => m.CustomerInfo.VehicleEngine, DisplayTemplateNames.TextWithLabel)
                            }
                            else
                            {
                                @Html.DisplayFor(m => m.CustomerInfo.VehicleColor, DisplayTemplateNames.TextWithLabel)
                            }
                        </div>
                    </td>
                    <td>
                        <div class="fake-table">
                            @if (Model.ShowInvoiceNumber)
                            {
                                @Html.DisplayFor(m => m.CustomerInfo.InvoiceNumberText, DisplayTemplateNames.TextWithLabel);
                            }
                            @Html.DisplayFor(m => m.CustomerInfo.VIN, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.OdometerReading, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.TagNumber, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.Waiter, DisplayTemplateNames.TextWithLabel)
                            @Html.DisplayFor(m => m.CustomerInfo.DateString, DisplayTemplateNames.TextWithLabel)
                        </div>
                    </td>
                }
            </tr>
        }
    </table>
</div>