﻿@model TechCopyPdfViewModel

@{
    Layout = LayoutPaths.Pdf;
}


@Html.Partial("PdfHeader", Model.Header)


<div class="">
    <h3>@Model.Title</h3>
    <h4>@Model.SubTitle</h4>
    <table class="pdf-table">
        <thead>
            <tr>
                <th>@Labels.LN</th>
                <th>@Html.DisplayNameFor(m => m.Services.First().OpCode)</th>
                <th>@Html.DisplayNameFor(m => m.Services.First().OpDescription)</th>
                <th>@Html.DisplayNameFor(m => m.Services.First().PartNo)</th>
                <th>@Html.DisplayNameFor(m => m.Services.First().Quantity)</th>
                <th>@Labels.Comment</th>
            </tr>
        </thead>
        <tbody>
            @{var i = 1;}
            @{double totalHours = 0;}
            @{bool isHeader = true; }
            @foreach (var groupedItem in Model.Services.Where(x => (!x.IsAdditional.HasValue || !x.IsAdditional.Value) && !x.IsDeclined).GroupBy(x => x.AppointmentServicesId))
            {
                isHeader = true;
                foreach (var item in groupedItem)
                {
                    if (isHeader)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@Html.DisplayFor(m => item.OpCode)</td>
                            <td>@Html.DisplayFor(m => item.OpDescription)</td>
                            <td>@Html.DisplayFor(m => item.PartNo)</td>
                            <td class="rightalign">@Html.DisplayFor(m => item.Quantity)</td>
                            <td></td>
                        </tr>
                        isHeader = false;
                        if (item.LaborHour.HasValue)
                        {
                            totalHours += item.LaborHour.Value;
                        }
                    }
                    else
                    {
                        <tr>
                            <td>@i</td>
                            <td></td>
                            <td></td>
                            <td>@Html.DisplayFor(m => item.PartNo)</td>
                            <td class="rightalign">@Html.DisplayFor(m => item.Quantity)</td>
                            <td></td>
                        </tr>
                    }
                    i++;
                }
            }
            @foreach (var groupedItem in Model.Services.Where(x => (x.IsAdditional.HasValue && x.IsAdditional.Value)).GroupBy(x => x.AppointmentServicesId))
            {
                isHeader = true;
                foreach (var item in groupedItem)
                {
                    if (isHeader)
                    {
                        <tr>
                            <td>@i*</td>
                            <td>@Html.DisplayFor(m => item.OpCode)</td>
                            <td>@Html.DisplayFor(m => item.OpDescription)</td>
                            <td>@Html.DisplayFor(m => item.PartNo)</td>
                            <td class="rightalign">@Html.DisplayFor(m => item.Quantity)</td>
                            <td></td>
                        </tr>
                        isHeader = false;
                        if (item.LaborHour.HasValue)
                        {
                            totalHours += item.LaborHour.Value;
                        }
                    }
                    else
                    {
                        <tr>
                            <td>@i*</td>
                            <td></td>
                            <td></td>
                            <td>@Html.DisplayFor(m => item.PartNo)</td>
                            <td class="rightalign">@Html.DisplayFor(m => item.Quantity)</td>
                            <td></td>
                        </tr>
                    }
                    i++;
                }
            }
            @if (Model.Services.Where(x => x.IsDeclined).Count() > 0)
            {
                <tr>
                    <td colspan="6" class="declined-ServicesPDF">@Labels.DeclinedServices</td>
                </tr>
                foreach (var groupedItem in Model.Services.Where(x => x.IsDeclined).GroupBy(x => x.AppointmentServicesId))
                {
                    isHeader = true;
                    foreach (var item in groupedItem)
                    {
                        if (isHeader)
                        {
                        <tr>
                            <td>@i</td>
                            <td>@Html.DisplayFor(m => item.OpCode)</td>
                            <td>@Html.DisplayFor(m => item.OpDescription)</td>
                            <td>@Html.DisplayFor(m => item.PartNo)</td>
                            <td class="rightalign">@Html.DisplayFor(m => item.Quantity)</td>
                            <td></td>
                        </tr>
                            isHeader = false;
                        }
                        else
                        {
                        <tr>
                            <td>@i</td>
                            <td></td>
                            <td></td>
                            <td>@Html.DisplayFor(m => item.PartNo)</td>
                            <td class="rightalign">@Html.DisplayFor(m => item.Quantity)</td>
                            <td></td>
                        </tr>
                        }
                        i++;
                    }
                }
            }
        </tbody>
    </table>
    <div class="calculation">
        @{ Model.TotalHours = totalHours.ToString("0.00"); }
        @Html.DisplayFor(m => m.TotalHours, DisplayTemplateNames.TextWithLabel)
    </div>
</div>
<div class="fill-fields">
    <div class="fill-cell w-20">
        <h3 class="fill-title">@Labels.CompletedDate</h3>
    </div>
    <div class="fill-cell w-50">
        <h3 class="fill-title ">@Labels.TechName:</h3>
    </div>
    <div class="fill-cell w-30">
        <h3 class="fill-title ">@Labels.TechSignature</h3>
    </div>
</div>