﻿@using SmartVMA.Infrastructure.Parser
@model WalkaroundInspectionPdfViewModel
@{
    Layout = LayoutPaths.Pdf;
}

@Html.Partial("PdfHeader", Model.Header)

<div class="inspection">
    <h3>@Labels.WalkAroundInspectionReport</h3>
    <div id="viewPoints">
        <h2>@Labels.DamageIndication</h2>
        <div class="area-holder">
            <div class="area half">
                <h2>Front</h2>
                <div class="view-point-container">
                    <img src="/Content/_images/Front.PNG">
                    @foreach (var item in Model.WalkaroundInspection.DamageIndications.Where(x => x.ViewPointId == 1))
                    {
                        var style = string.Format("position:absolute;left:{0}%;top:{1}%;z-index:2;", (int)@item.OffsetLeft - 6, (int)@item.OffsetTop - 8);
                        if (item.TypeId == 1)
                        {
                            <img src="/Content/_images/Scratch.PNG" style="@style">
                        }
                        else if (item.TypeId == 2)
                        {
                            <img src="/Content/_images/Dent.PNG" style="@style">
                        }
                        else if (item.TypeId == 3)
                        {
                            <img src="/Content/_images/Crack.PNG" style="@style">
                        }
                        else
                        {
                            <img src="/Content/_images/Other.PNG" style="@style">
                        }
                    }
                </div>
            </div>
            <div class="area half">
                <h2>Back</h2>
                <div class="view-point-container">
                    <img src="/Content/_images/Back.PNG" alt="Back" class="view-point" data-id="3">
                    @foreach (var item in Model.WalkaroundInspection.DamageIndications.Where(x => x.ViewPointId == 3))
                    {
                        var style = string.Format("position:absolute;left:{0}%;top:{1}%;z-index:2;", (int)@item.OffsetLeft - 6, (int)@item.OffsetTop - 8);
                        if (item.TypeId == 1)
                        {
                            <img src="/Content/_images/Scratch.PNG" style="@style">
                        }
                        else if (item.TypeId == 2)
                        {
                            <img src="/Content/_images/Dent.PNG" style="@style">
                        }
                        else if (item.TypeId == 3)
                        {
                            <img src="/Content/_images/Crack.PNG" style="@style">
                        }
                        else
                        {
                            <img src="/Content/_images/Other.PNG" style="@style">
                        }
                    }
                </div>
            </div>
        </div>
        <div class="area-holder">
            <div class="area">
                <h2>Left</h2>
                <div class="view-point-container">
                    <img src="/Content/_images/Left.PNG">
                    @foreach (var item in Model.WalkaroundInspection.DamageIndications.Where(x => x.ViewPointId == 2))
                    {
                        var style = string.Format("position:absolute;left:{0}%;top:{1}%;z-index:2;", (int)@item.OffsetLeft - 4, (int)@item.OffsetTop - 8);
                        if (item.TypeId == 1)
                        {
                            <img src="/Content/_images/Scratch.PNG" style="@style">
                        }
                        else if (item.TypeId == 2)
                        {
                            <img src="/Content/_images/Dent.PNG" style="@style">
                        }
                        else if (item.TypeId == 3)
                        {
                            <img src="/Content/_images/Crack.PNG" style="@style">
                        }
                        else
                        {
                            <img src="/Content/_images/Other.PNG" style="@style">
                        }
                    }
                </div>
            </div>
        </div>
        <div class="area-holder">
            <div class="area">
                <h2>Right</h2>
                <div class="view-point-container">
                    <img src="/Content/_images/Right.PNG" alt="Right" class="view-point" data-id="4">
                    @foreach (var item in Model.WalkaroundInspection.DamageIndications.Where(x => x.ViewPointId == 4))
                    {
                        var style = string.Format("position:absolute;left:{0}%;top:{1}%;z-index:2;", (int)@item.OffsetLeft - 4, (int)@item.OffsetTop - 8);
                        if (item.TypeId == 1)
                        {
                            <img src="/Content/_images/Scratch.PNG" style="@style">
                        }
                        else if (item.TypeId == 2)
                        {
                            <img src="/Content/_images/Dent.PNG" style="@style">
                        }
                        else if (item.TypeId == 3)
                        {
                            <img src="/Content/_images/Crack.PNG" style="@style">
                        }
                        else
                        {
                            <img src="/Content/_images/Other.PNG" style="@style">
                        }
                    }
                </div>
            </div>
        </div>
        <div class="area-holder">
            <div class="area">
                <h2>Top</h2>
                <div class="view-point-container">
                    <img src="/Content/_images/Top.PNG" alt="Top" class="view-point" data-id="5">
                    @foreach (var item in Model.WalkaroundInspection.DamageIndications.Where(x => x.ViewPointId == 5))
                    {
                        var style = string.Format("position:absolute;left:{0}%;top:{1}%;z-index:2;", (int)@item.OffsetLeft - 4, (int)@item.OffsetTop - 8);
                        if (item.TypeId == 1)
                        {
                            <img src="/Content/_images/Scratch.PNG" style="@style">
                        }
                        else if (item.TypeId == 2)
                        {
                            <img src="/Content/_images/Dent.PNG" style="@style">
                        }
                        else if (item.TypeId == 3)
                        {
                            <img src="/Content/_images/Crack.PNG" style="@style">
                        }
                        else
                        {
                            <img src="/Content/_images/Other.PNG" style="@style">
                        }
                    }
                </div>
            </div>
        </div>
        <div class="area-holder">
            <div class="area">
                @foreach (var item in Model.WalkaroundInspection.DamageIndicationTypes)
                {
                    <span>
                        @item.Name
                        <img src="@item.Url" />
                    </span>
                }
            </div>
        </div>
    </div>
</div>

<div class="inspection-properties breakhere">
    <div class="tire-wear">
        <h2>@Labels.TireWearInspection</h2>
        <div class="pdf-row">
            <div class="col-6">
                <h4>@Labels.LeftFront</h4>
                @Html.CheckBoxFor(m => Model.WalkaroundInspection.LFRimScratch)
                @{var i = 0;}
                @foreach (var tireType in Model.WalkaroundInspection.TireTypes)
                {
                @Html.EditorFor(model => model.WalkaroundInspection.LFTireTypeId, EditorTemplateNames.RadioInputGroup, new
               {
                   RadioGroupName = "LFTireTypeId",
                   RadioButtonValue = (i++),
                   CurrentRadioButtonValue = Model.WalkaroundInspection.LFTireTypeId,
                   Label = tireType
               })
                }
            </div>
            <div class="col-6">
                <h4>@Labels.LeftRear</h4>
                @Html.CheckBoxFor(m => Model.WalkaroundInspection.LRRimScratch)
                @{i = 0;}
                @foreach (var tireType in Model.WalkaroundInspection.TireTypes)
                {
                @Html.EditorFor(model => model.WalkaroundInspection.LRTireTypeId, EditorTemplateNames.RadioInputGroup, new
               {
                   RadioGroupName = "LRTireTypeId",
                   RadioButtonValue = (i++),
                   CurrentRadioButtonValue = Model.WalkaroundInspection.LRTireTypeId,
                   Label = tireType
               })
                }
            </div>
        </div>
        <div class="pdf-row">
            <div class="col-6">
                <h4>@Labels.RightFront</h4>
                @Html.CheckBoxFor(m => Model.WalkaroundInspection.RFRimScratch)
                @{i = 0;}
                @foreach (var tireType in Model.WalkaroundInspection.TireTypes)
                {
                @Html.EditorFor(model => model.WalkaroundInspection.RFTireTypeId, EditorTemplateNames.RadioInputGroup, new
               {
                   RadioGroupName = "RFTireTypeId",
                   RadioButtonValue = (i++),
                   CurrentRadioButtonValue = Model.WalkaroundInspection.RFTireTypeId,
                   Label = tireType
               })
                }
            </div>
            <div class="col-6">
                <h4>@Labels.RightRear</h4>
                @Html.CheckBoxFor(m => Model.WalkaroundInspection.RRRimScratch)
                @{i = 0;}
                @foreach (var tireType in Model.WalkaroundInspection.TireTypes)
                {
                @Html.EditorFor(model => model.WalkaroundInspection.RRTireTypeId, EditorTemplateNames.RadioInputGroup, new
               {
                   RadioGroupName = "RRTireTypeId",
                   RadioButtonValue = (i++),
                   CurrentRadioButtonValue = Model.WalkaroundInspection.RRTireTypeId,
                   Label = tireType
               })
                }
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model.WalkaroundInspection.VehiclePhotos)
{
    <div class="inspection-image-pdf">
        <div class="area-holder">
            <div class="area">
                @if (item.IsPortrait)
                {
                    <span class="inpspection-image-pdf-span breakhere fitImgHeight">
                        <img src="@Parser.ToBase64(item.FileByteArray, item.FileContentType)" alt="@item.FileName" />
                    </span>
                }
                else
                {
                    <span class="inpspection-image-pdf-span breakhere fitImgWidth">
                        <img src="@Parser.ToBase64(item.FileByteArray, item.FileContentType)" alt="@item.FileName" />
                    </span>
                }
             
                @*@if (item.IsPortrait)
                {
                    <span class="inpspection-image-pdf-span breakhere fitImgHeight">
                        <img src="@item.Url" alt="@item.FileName" />
                    </span>
                }
                else
                {
                    <span class="inpspection-image-pdf-span breakhere fitImgWidth">
                        <img src="@item.Url" alt="@item.FileName" />
                    </span>
                }*@
            </div>
        </div>
    </div>
}
