﻿@{
    Layout = Request.IsAjaxRequest() ? LayoutPaths.Modal : LayoutPaths.Default;
}

<div class="modal-wrapper">
    <span>@Labels.YouAreNotAuthorized</span>
    <span>@Labels.ContactAdministratior</span>
</div>