﻿@model dynamic
@{
    Layout = null;

    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var hideLabel = (bool)(ViewBag.HideLabel ?? false);
    var isChecked = ViewBag.IsChecked == true;
    var value = ViewBag.Value as string;
    var toggleDisplaySelector = ViewBag.ToggleDisplaySelector as string;
    var checkboxGroup = ViewBag.CheckboxGroup as string;
    var toggleCheckboxGroup = ViewBag.ToggleCheckboxGroup as string;
    var id = ViewBag.Id as string ?? fieldName;
    var onChangeFunction = ViewBag.OnChangeFunction as string;
}

<div class="input-container">
    <div class="custom-checkbox-holder">
        <input class="@checkboxGroup custom-checkbox" type="checkbox" name="@fieldName" @(isChecked ? "checked" : "") value="@value" id="@id"
               @(!string.IsNullOrEmpty(toggleDisplaySelector) ? $"data-toggle-display={toggleDisplaySelector}" : "")
               @(!string.IsNullOrEmpty(checkboxGroup) ? $"data-checkboxgroup=.{checkboxGroup}" : "")
               @(!string.IsNullOrEmpty(toggleCheckboxGroup) ? $"data-toggle-checkboxgroup={toggleCheckboxGroup}" : "")
               @(!string.IsNullOrEmpty(onChangeFunction) ? $"data-on-change-function=smartvma.callbacks.{onChangeFunction}" : "") />
        @if (!hideLabel)
        {
            @Html.LabelFor(m => m, new { @class = "control-label" })
            <input name="@fieldName" type="hidden" value="false">
        }
        else
        {
            <label for="@id"> </label>
        }

    </div>
    @Html.ValidationMessageFor(m => m)
</div>
