﻿@model DateTime?
@{
    Layout = null;
    var placeholder = ViewBag.PlaceHolder as string;
    var url = ViewBag.Url as string;
    var container = ViewBag.Container as string;
    var hideLabel = (bool)(ViewBag.HideLabel ?? false);
    var minDate = ViewBag.MinDate as string;
    var maxDate = ViewBag.MaxDate as string;
    var onChangeFunction = ViewBag.OnChangeFunction as string;
    var htmlAttributes = new Dictionary<string, object>();

    htmlAttributes.Add("class", "datepicker");

    if (!string.IsNullOrEmpty(placeholder))
    {
        htmlAttributes.Add("placeholder", placeholder);
    }

    if (!string.IsNullOrEmpty(minDate))
    {
        htmlAttributes.Add("data-min-range", minDate);
    }

    if (!string.IsNullOrEmpty(maxDate))
    {
        htmlAttributes.Add("data-max-range", maxDate);
    }

    if (!string.IsNullOrEmpty(url))
    {
        htmlAttributes.Add("data-url", url);
    }

    if (!string.IsNullOrEmpty(container))
    {
        htmlAttributes.Add("data-container", container);
    }

    if (!string.IsNullOrEmpty(onChangeFunction))
    {
        htmlAttributes.Add("data-on-change-function", string.Format("{0}{1}", "smartvma.callbacks.", onChangeFunction));
    }
}

<div class="date-range-input">
    @if (!hideLabel)
    {
        @Html.CustomLabelFor(m => m, new { @class = "control-label" })
    }
    <div class="input-wrapper">
        <div class="input-group">
            @Html.TextBoxFor(m => m, htmlAttributes)
        </div>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>