﻿@model DateTime?
@{
    Layout = null;
    var placeholder = ViewBag.PlaceHolder as string;
    var url = ViewBag.Url as string;
    var container = ViewBag.Container as string;
    var hideLabel = (bool)(ViewBag.HideLabel ?? false);
    var minDate = ViewBag.MinDate as string;
    var maxDate = ViewBag.MaxDate as string;
    var timePicker = ViewBag.TimePicker ?? false;
    var onChangeFunction = ViewBag.OnChangeFunction as string;
    var isDateRange = ViewBag.DateRange ?? false;
    var hideInputText = ViewBag.HideInputText ?? false;
    var htmlAttributes = new Dictionary<string, object>();

    var fromDateField = ViewBag.FromDateField as string;
    var toDateField = ViewBag.ToDateField as string;
    var drops = ViewBag.Drops as string;
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var endRangeFieldName = ViewBag.EndRangeFieldName as string;
    var currentValue = "";
    if (Model.HasValue)
    {
        currentValue = Model.Value.ToShortDateString() + " - ";
    }

    htmlAttributes.Add("class", "daterange");

    if (!string.IsNullOrEmpty(endRangeFieldName))
    {
        htmlAttributes.Add("data-start-range-element", string.Format("#{0}", fieldName.Replace(".", "_")));
        htmlAttributes.Add("data-end-range-element", endRangeFieldName);

        var endRangeValue = ViewBag.EndRangeValue as DateTime?;
        if (endRangeValue.HasValue)
        {
            currentValue += endRangeValue.Value.ToShortDateString();
        }
    }


    if (!string.IsNullOrEmpty(placeholder))
    {
        htmlAttributes.Add("placeholder", placeholder);
    }

    if (!string.IsNullOrEmpty(minDate))
    {
        htmlAttributes.Add("data-min-range", minDate);
    }

    if (!string.IsNullOrEmpty(maxDate))
    {
        htmlAttributes.Add("data-max-range", maxDate);
    }

    if (!string.IsNullOrEmpty(url))
    {
        htmlAttributes.Add("data-url", url);
    }

    if (!string.IsNullOrEmpty(container))
    {
        htmlAttributes.Add("data-container", container);
        htmlAttributes["class"] += " refresh-container";
    }

    if (!string.IsNullOrEmpty(onChangeFunction))
    {
        htmlAttributes.Add("data-on-change-function", string.Format("{0}{1}", "smartvma.callbacks.", onChangeFunction));
    }

    if (timePicker)
    {
        htmlAttributes.Add("data-time-picker", timePicker);
    }
    if (hideInputText)
    {
        htmlAttributes["class"] += " picker-hidden";
    }
    else
    {
        htmlAttributes["class"] += " form-control";
    }
    if (!string.IsNullOrEmpty(fromDateField))
    {
        htmlAttributes.Add("from-date-field", fromDateField);
    }
    if (!string.IsNullOrEmpty(toDateField))
    {
        htmlAttributes.Add("to-date-field", toDateField);
    }

    if (!string.IsNullOrEmpty(drops))
    {
        htmlAttributes.Add("data-drops", drops);
    }



}

<div class="dateRange-containter">
    @if (!hideLabel)
    {
        @Html.CustomLabelFor(m => m, new { @class = "control-label" })
    }
    <div class="input-wrapper">
        <div class="input-group">
            @if (string.IsNullOrEmpty(endRangeFieldName))
            { 
                @Html.TextBoxFor(m => m, htmlAttributes)
                <span class="icon-calendar input-group-addon"></span>
            }
            else
            {
                @Html.TextBox(fieldName + "_DateRange", currentValue, htmlAttributes)
                @Html.HiddenFor(m => m)
            }
        </div>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>
