﻿@model double?
@{
    Layout = null;
    var placeholder = ViewBag.PlaceHolder as string;
    var isDisabled = ViewBag.IsDisabled == true;
    var htmlAttributes = new Dictionary<string, object>();
    var hide = ViewBag.Hide == true;
    var fullWidth = (bool)(ViewBag.fullWidth ?? false);
    var allowNegativeValues = ViewBag.AllowNegativeValues == true;

    var cssClasses = "form-control float-number";
    if (allowNegativeValues)
    {
        cssClasses += " allow-negative";
    }
    htmlAttributes.Add("class", cssClasses);
    htmlAttributes.Add("placeholder", placeholder);
    if (isDisabled)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
}
@if (fullWidth)
{
    <div class="input-container" @if (hide) { <text> style="display:none;" </text>    }>
        @Html.CustomLabelFor(m => m, new { @class = "control-label" })
        <div class="input-wrapper">
            @Html.TextBoxFor(m => m, htmlAttributes)
            <span class="input-sep"></span>
        </div>
        @Html.ValidationMessageFor(m => m)
        <span class="validation-clear"></span>
    </div>
}
else
{
    <div class="form-group" @if (hide) { <text> style="display:none;" </text>    }>
        @Html.CustomLabelFor(m => m, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m, htmlAttributes)
            @Html.ValidationMessageFor(m => m)
            <span class="validation-clear"></span>
        </div>
    </div>
}
