﻿@model object
@{
    Layout = null;
    var items = ((IEnumerable<SelectListItem>)ViewBag.Items).ToArray();
    var url = ViewBag.Url as string;
    var container = ViewBag.Container as string;
    var hideLabel = (bool)(ViewBag.HideLabel ?? false);
    var onChangeFunction = ViewBag.OnChangeFunction as string;
    var refreshElement = ViewBag.RefreshElement;
    var refreshDataUrl = ViewBag.RefreshDataUrl;
    var noRefreshOnDropDownHide = (bool)(ViewBag.NoRefreshOnDropDownHide ?? false);
    var isDisabled = ViewBag.Disabled == true;
    var label = ViewBag.Label as string;
    var hideSearch = ViewBag.HideSearch == true;
    var htmlAttributes = new Dictionary<string, object>();
    var fullWidth = (bool)(ViewBag.fullWidth ?? false);
    var forceValidation = (bool)(ViewBag.ForceValidation ?? false);
    var disableFullValueFiltering = ViewBag.DisableFullValueFiltering == true;
    var selectAll = ViewBag.SelectAll == true;
    var noreset = (bool)(ViewBag.NoReset ?? false);
    var fixedSearchBox = (bool)(ViewBag.FixedSearchBox ?? true);
    var resetCompleteDataFunction = ViewBag.OnResetCompleteFunction as string;

    htmlAttributes.Add("class", string.Format("form-control multiselectlist singleoption{0}{1}{2}", forceValidation ? " forcevalidation" : string.Empty, noreset ? " noreset" : string.Empty, fixedSearchBox ? " should-be-fixed" : string.Empty));
    if (!string.IsNullOrEmpty(url))
    {
        htmlAttributes.Add("data-url", url);
    }

    if (!string.IsNullOrEmpty(container))
    {
        htmlAttributes.Add("data-container", container);
    }

    if (!string.IsNullOrEmpty(onChangeFunction))
    {
        htmlAttributes.Add("data-on-change-function", $"smartvma.callbacks.{onChangeFunction}");
    }

    if (!string.IsNullOrEmpty(refreshElement))
    {
        htmlAttributes.Add("data-refresh-element-data", refreshElement);
    }

    if (disableFullValueFiltering)
    {
        htmlAttributes.Add("data-disable-full-value-filtering", disableFullValueFiltering);
    }

    if (!string.IsNullOrEmpty(refreshDataUrl))
    {
        htmlAttributes.Add("data-remote-source-url", refreshDataUrl);
        htmlAttributes.Add("data-norefresh-ondropdownhide", noRefreshOnDropDownHide);
        var requestType = ViewBag.RequestType as string;
        if (!string.IsNullOrEmpty(requestType))
        {
            htmlAttributes.Add("data-request-type", requestType);
        }
        var requestDataFunction = ViewBag.RequestDataFunction as string;
        if (!string.IsNullOrEmpty(requestDataFunction))
        {
            htmlAttributes.Add("data-request-data-function", $"smartvma.callbacks.{requestDataFunction}");
        }
        htmlAttributes.Add("data-prev-val", selectAll ? string.Join(",", items.Select(x => x.Value)) : string.Join(",", Model));
    }
    if (!string.IsNullOrEmpty(resetCompleteDataFunction))
    {
        htmlAttributes.Add("data-reset-complete-data-function", $"smartvma.callbacks.{resetCompleteDataFunction}");
    }

    if (isDisabled)
    {
        htmlAttributes.Add("disabled", "disabled");
    }

    if (hideSearch)
    {
        htmlAttributes.Add("data-hide-search", "true");
    }

    if (Model != null)
    {
        if (Model is System.Collections.IEnumerable && Model.GetType().Name != "String")
        {
            var enumerableList = Model as System.Collections.IEnumerable;
            foreach (var item in enumerableList)
            {
                var selectedItem = items.FirstOrDefault(c => c.Value == item.ToString());
                if (selectedItem != null)
                {
                    selectedItem.Selected = true;
                }
            }
        }
        else
        {
            var selectedItem = items.FirstOrDefault(c => c.Value == Model.ToString());
            if (selectedItem != null)
            {
                selectedItem.Selected = true;
            }
        }
    }
}
@if (fullWidth)
{
    <div class="input-container">
        @if (!hideLabel)
        {
            if (string.IsNullOrEmpty(label))
            {
                @Html.CustomLabelFor(m => m, new { @class = "control-label" })
            }
            else
            {
                @Html.CustomLabel(label, new { @class = "control-label" })
            }
        }
        <div class="input-wrapper">
            @Html.ListBoxFor(m => m, items, htmlAttributes)
            <span class="input-sep"></span>
        </div>
        @Html.ValidationMessageFor(m => m)
    </div>
}
else
{
    <div class="input-container">
        @if (!hideLabel)
        {
            if (string.IsNullOrEmpty(label))
            {
                @Html.CustomLabelFor(m => m, new { @class = "col-sm-4 control-label" })
            }
            else
            {
                @Html.CustomLabel(label, new { @class = "col-sm-4 control-label" })
            }
        }
        <div class="col-sm-8 input-wrapper">
            @Html.ListBoxFor(m => m, items, htmlAttributes)
            <span class="input-sep"></span>
            @Html.ValidationMessageFor(m => m)

        </div>
    </div>
}

