﻿@model int?
@{
    Layout = null;
    var fullWidth = (bool)(ViewBag.fullWidth ?? false);
    var isDisabled = ViewBag.IsDisabled == true;
    var htmlAttributes = new Dictionary<string, object> {{"class", "form-control"}};
    if (isDisabled)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
}
@if (fullWidth)
{
    <div class="input-container"> 
        @Html.CustomLabelFor(m => m, new { @class = "control-label" })
        <div class="input-wrapper">
            @Html.TextBoxFor(m => m, htmlAttributes)
            <span class="input-sep"></span>
        </div>
        @Html.ValidationMessageFor(m => m)
        <span class="validation-clear"></span>
    </div>
}
else
{
    <div class="form-group">
        @Html.CustomLabelFor(m => m, new { @class = "col-sm-4 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m, htmlAttributes)
            @Html.ValidationMessageFor(m => m)
            <span class="validation-clear"></span>
        </div>
    </div>
}
