﻿@model List<int>
@{
    Layout = null;
    var items = ((IEnumerable<SelectListItem>) ViewBag.Items).ToArray();
    var url = ViewBag.Url as string;
    var container = ViewBag.Container as string;
    var hideLabel = (bool)(ViewBag.HideLabel ?? false);
    var onChangeFunction = ViewBag.OnChangeFunction as string;
    var refreshElement = ViewBag.RefreshElement;
    var refreshDataUrl = ViewBag.RefreshDataUrl;
    var label = ViewBag.Label as string;
    var fullWidth = (bool)(ViewBag.fullWidth ?? false);
    var forceValidation = (bool)(ViewBag.ForceValidation ?? false);
    var noreset = (bool)(ViewBag.NoReset ?? false);
    var fixedSearchBox = (bool)(ViewBag.FixedSearchBox ?? true);
    var htmlAttributes = new Dictionary<string, object> { { "class", string.Format("form-control multiselectlist{0}{1}{2}", forceValidation ? " forcevalidation" : string.Empty, noreset ? " noreset" : string.Empty, fixedSearchBox ? " should-be-fixed" : string.Empty) } };
    var selectAll = ViewBag.SelectAll == true;
    var disableFullValueFiltering = ViewBag.DisableFullValueFiltering == true;

    if (!string.IsNullOrEmpty(url))
    {
        htmlAttributes.Add("data-url", url);
    }

    if (!string.IsNullOrEmpty(container))
    {
        htmlAttributes.Add("data-container", container);
    }

    if (!string.IsNullOrEmpty(onChangeFunction))
    {
        htmlAttributes.Add("data-on-change-function", $"smartvma.callbacks.{onChangeFunction}");
    }

    if (!string.IsNullOrEmpty(refreshElement))
    {
        htmlAttributes.Add("data-refresh-element-data", refreshElement);
    }

    if (disableFullValueFiltering)
    {
        htmlAttributes.Add("data-disable-full-value-filtering", disableFullValueFiltering);
    }

    if (!string.IsNullOrEmpty(refreshDataUrl))
    {
        htmlAttributes.Add("data-remote-source-url", refreshDataUrl);
        var requestType = ViewBag.RequestType as string;
        if (!string.IsNullOrEmpty(requestType))
        {
            htmlAttributes.Add("data-request-type", requestType);
        }
        var requestDataFunction = ViewBag.RequestDataFunction as string;
        if (!string.IsNullOrEmpty(requestDataFunction))
        {
            htmlAttributes.Add("data-request-data-function", $"smartvma.callbacks.{requestDataFunction}");
        }
        htmlAttributes.Add("data-prev-val", selectAll ? string.Join(",", items.Select(x => x.Value)) : string.Join(",", Model));
    }

    if (Model != null)
    {
        foreach (var item in items)
        {
            if (selectAll || Model.Any(x => x.ToString() == item.Value))
            {
                item.Selected = true;
            }
        }
    }
}
@if (fullWidth)
{
    <div class="input-container">
        @if (!hideLabel)
        {
            if (string.IsNullOrEmpty(label))
            {
                @Html.CustomLabelFor(m => m, new { @class = "control-label" })
            }
            else
            {
                @Html.CustomLabel(label, new { @class = "control-label" })
            }
        }
        <div class="input-wrapper">
            @Html.ListBoxFor(m => m, items, htmlAttributes)
            <span class="input-sep"></span>
        </div>
        @Html.ValidationMessageFor(m => m)
    </div>
}
else
{
    <div class="input-container">
        @if (!hideLabel)
        {
            if (string.IsNullOrEmpty(label))
            {
                @Html.CustomLabelFor(m => m, new { @class = "col-sm-4 control-label" })
            }
            else
            {
                @Html.CustomLabel(label, new { @class = "col-sm-4 control-label" })
            }
        }
        <div class="col-sm-8 input-wrapper">
            @Html.ListBoxFor(m => m, items, htmlAttributes)
            <span class="input-sep"></span>
            @Html.ValidationMessageFor(m => m)
        </div>
    </div>
}
