﻿@model string
@{
    Layout = null;
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var placeholder = ViewBag.PlaceHolder as string;
    var isDisabled = ViewBag.IsDisabled == true;
    var htmlAttributes = new Dictionary<string, object>();
    var hide = ViewBag.Hide == true;
    var labelIcon = ViewBag.LabelIcon as string;
    var fullWidth = (bool)(ViewBag.fullWidth ?? false);
    var hideLabel = (bool)(ViewBag.HideLabel ?? false);
    var isReadOnly = ViewBag.IsReadOnly == true;
    htmlAttributes.Add("class", "form-control");
    htmlAttributes.Add("placeholder", placeholder);
    if (isDisabled)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
    if (isReadOnly)
    {
        htmlAttributes.Add("readonly", "readonly");
    }
}
@if (fullWidth)
{
    <div class="input-container" @if (hide) { <text> style="display:none;" </text>      }>

        @if (!string.IsNullOrEmpty(labelIcon))
        {
            <label for="@fieldName" class="control-label"><i class="@labelIcon"></i></label>
        }
        else
        {
            if (!hideLabel)
            {
                @Html.CustomLabelFor(m => m, new { @class = "control-label" })
            }
        }

        <div class="input-wrapper">
            @Html.TextBoxFor(m => m, htmlAttributes)
            <span class="input-sep"></span>
        </div>
        @Html.ValidationMessageFor(m => m)
        <span class="validation-clear"></span>
    </div>

}
else
{
    <div class="form-group" @if (hide) { <text> style="display:none;" </text>       }>
        @if (!string.IsNullOrEmpty(labelIcon))
        {
            <label for="@fieldName" class="col-sm-4 control-label"><i class="@labelIcon"></i></label>
        }
        else
        {
            if (!hideLabel)
            {
                @Html.CustomLabelFor(m => m, new { @class = "col-sm-4 control-label" })
            }
        }

        <div class="col-sm-8">
            @Html.TextBoxFor(m => m, htmlAttributes)
            @Html.ValidationMessageFor(m => m)
            <span class="validation-clear"></span>
        </div>
    </div>
}
@if (isDisabled)
{
    @Html.HiddenFor(m => m)
}