﻿@model bool
@{
    Layout = null;
    var sourceName = ViewBag.SourceName;
    var prefixName = ViewBag.PrefixName;
    var prefixIndex = ViewBag.PrefixIndex;
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var isDisabled = ViewBag.IsDisabled == true;
    var id = ViewBag.Id as string ?? fieldName;
    var notTrackable = ViewBag.NotTrackable == true;
    var notDisabable = ViewBag.NotDisabable == true;
    var isRowSelector = ViewBag.IsRowSelector == true;
}

<div class="input-wrapper input-container">
    <div class="custom-checkbox-holder">
        <input class="custom-checkbox @(notTrackable ? "not-trackable" : string.Empty) @(notDisabable ? "not-disabable" : string.Empty) @(isRowSelector ? "is-row-selector" : string.Empty)"
               @(isDisabled ? "disabled" : "")
               @(Model ? "checked" : "")
               id="@id"
               name="@fieldName"
               type="checkbox" value="true"
               data-sourceName="@sourceName"
               data-prefixName="@prefixName"
               data-prefixIndex="@prefixIndex"/>
        <label for="@id"></label>
        <input class="custom-checkbox" name="@fieldName" type="hidden" value="false"/>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>