﻿@model object
@{
    Layout = null;
    var items = ViewBag.Items as IEnumerable<SelectListItem>;
    var url = ViewBag.Url as string;
    var container = ViewBag.Container as string;
    var hideLabel = (bool)(ViewBag.HideLabel ?? false);
    var onChangeFunction = ViewBag.OnChangeFunction as string;
    var refreshElement = ViewBag.RefreshElement;
    var refreshDataUrl = ViewBag.RefreshDataUrl;
    var isDisabled = ViewBag.Disabled == true;
    var label = ViewBag.Label as string;
    var hideSearch = ViewBag.HideSearch == true;
    var htmlAttributes = new Dictionary<string, object>();
    var fullWidth = (bool)(ViewBag.fullWidth ?? false);


    htmlAttributes.Add("class", "form-control multiselectlist initialized");
    if (!string.IsNullOrEmpty(url))
    {
        htmlAttributes.Add("data-url", url);
    }

    if (!string.IsNullOrEmpty(container))
    {
        htmlAttributes.Add("data-container", container);
    }

    if (!string.IsNullOrEmpty(onChangeFunction))
    {
        htmlAttributes.Add("data-on-change-function", string.Format("{0}{1}", "smartvma.callbacks.", onChangeFunction));
    }

    if (!string.IsNullOrEmpty(refreshElement))
    {
        htmlAttributes.Add("data-refresh-element-data", refreshElement);
    }

    if (!string.IsNullOrEmpty(refreshDataUrl))
    {
        htmlAttributes.Add("data-remote-source-url", refreshDataUrl);
    }

    if (isDisabled)
    {
        htmlAttributes.Add("disabled", "disabled");
    }

    if (hideSearch)
    {
        htmlAttributes.Add("data-hide-search", "true");
    }

    if (Model != null)
    {
        var selectedItem = items.Where(c => c.Value == Model.ToString()).FirstOrDefault();
        if (selectedItem != null)
        {
            selectedItem.Selected = true;
        }
    }
}


<div class="input-container">
    <div class="input-wrapper">
        @*@Html.DropDownListFor(m => m, items, htmlAttributes)*@
        @Html.ListBoxFor(m => m, items, htmlAttributes)
        <span class="input-sep"></span>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>