﻿@model decimal?
@{
    Layout = null;
    var placeholder = ViewBag.PlaceHolder as string;
    var isDisabled = ViewBag.IsDisabled == true;
    var htmlAttributes = new Dictionary<string, object>();
    var allowNegativeValues = ViewBag.AllowNegativeValues == true;
    var cssClasses = "form-control float-number";
    if (allowNegativeValues)
    {
        cssClasses += " allow-negative";
    }
    htmlAttributes.Add("class", cssClasses);
    htmlAttributes.Add("placeholder", placeholder);
    if (isDisabled)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
}
<div class="input-wrapper">
    @Html.TextBoxFor(m => m, htmlAttributes)
    <span class="input-sep"></span>
    @Html.ValidationMessageFor(m => m)
    <span class="validation-clear"></span>
</div>
