﻿@model dynamic
@{
    Layout = null;
    var inputGroupText = ViewBag.InputGroupText as string;
    var placeholder = ViewBag.PlaceHolder as string;
    var isDisabled = ViewBag.IsDisabled == true;
    var hide = ViewBag.Hide == true;
    var htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("class", ViewData.ModelMetadata.ModelType.FullName.Contains("System.Decimal") ? "form-control float-number" : "form-control");
    htmlAttributes.Add("placeholder", placeholder);

    if (isDisabled)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
}

<div class="form-group"  @if (hide) { <text> style="display:none;" </text>  }>
    @Html.CustomLabelFor(m => m, new { @class = "col-sm-4 control-label" })
    <div class="col-md-7">
        <div class="input-group">
            @Html.TextBoxFor(m => m, htmlAttributes)
            <span class="input-group-addon">
                @inputGroupText
            </span>
        </div>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>