﻿@model string
@{
    Layout = null;

    /*
     *  Editor options
            string OriginalFileName 
            string ThumbnailFileName 
            string AllowedFileTypes 
            string AcceptedMimeTypes 
            bool ShowThumbnail 
            bool ThumbnailUploader 
            string DownloadUrl 
            string ButtonText 
            string UploaderType 
            string ImageResponseMethod
            bool isUrlAction
    */

    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    if (!string.IsNullOrEmpty(fieldName))
    {
        fieldName = fieldName.Replace("FileName", "");
    }
    var originalFileName = ViewBag.OriginalFileName as string;
    var allowedFileTypes = ViewBag.AllowedFileTypes as string;
    var showThumbnail = ViewBag.ShowThumbnail == true;
    var downloadUrl = ViewBag.DownloadUrl as string;
    var buttonText = ViewBag.ButtonText as string ?? "";// Labels.UploadContent;
    var imageResponseMethod = ViewBag.ImageResponseMethod as string;
    var isUrlAction = ViewBag.isUrlAction == true;
}

<div class="file-upload-wrapper">
    <div>
        @if (showThumbnail)
        {
            <div class="thumbnail">
                @if (!string.IsNullOrEmpty(downloadUrl))
                {
                    <img src="@downloadUrl"/>
                }
                else if (string.IsNullOrEmpty(imageResponseMethod))
                {
                    <img src="~/Content/img/no-image.svg"/>
                }
                else
                {
                    if (isUrlAction)
                    {
                        <img src='@Url.Action(imageResponseMethod)'/>
                    }
                    else
                    {
                        <img src="@Url.Content(imageResponseMethod)"/>
                    }
                }
            </div>
        }
        else
        {
            <div class="filename-container">
                @originalFileName
            </div>
        }

        <div class="progress">
            <div class="progress-bar progress-bar-striped"></div>
        </div>
    </div>

    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>@buttonText</span>
        <input type="file" class="fileUpload" name="UploadedFile" data-allowed-types="@allowedFileTypes" />
    </span>

    @Html.HiddenFor(m => m, new { @class = "file-name" })

    <input type="hidden" class="file-guid" name="@($"{fieldName}Guid")" />
    <input type="hidden" class="orig-file-name" name="@($"{fieldName}OriginalFileName")" value="@originalFileName" />

    <div class="upload-error-message">
        @Html.ValidationMessageFor(m => m)
    </div>
</div>