﻿@model ArticleCategoryViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("Create", "ArticleCategory", FormMethod.Post, new { data_on_success_func = "smartvma.callbacks.saveArticleCategory" }))
{
    <div class="category-form">
        @Html.DisplayFor(m => m.Name, DisplayTemplateNames.InputAndButton)
    </div>
}
<script>

</script>
