﻿@using System.Web.Optimization
@using SmartVMA.Core.Services
@using SmartVMA.Infrastructure.Ioc
@{
    var companyService = IocManager.Resolve<ICompanyService>();
    var userService = IocManager.Resolve<IUserService>();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SmartVMA Application</title>
    @Styles.Render(BundleNames.ControlStyles)
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    @Styles.Render(BundleNames.GeneralStyles)
</head>
<body class="no-side-bar">

    <div class="wrapper">
        <header class="page-header">
            <div class="navbar-top clearfix">
                <div class="container-fluid">
                    <a href="" class="login-brand">
                        <img src="/Content/img/smart-vma.png">
                    </a>
                    <div class="topnav-actions">
                        <div class="dropdown user-dropdown language-select">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" class="iconborder" id="languagecode">@ViewBag.SelectedLanguage</a>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                @foreach (var item in DropdownItems.GetLanguagesCode())
                                {
                                    if (item.Value == @userService.GetSettingAsString(UserSettingsNames.LanguageId))
                                    {
                                        <li class="active"><a class="btn btn-modal btn-link languageli">@item.Text</a></li>
                                    }
                                    else
                                    {
                                        <li><a class="btn btn-modal btn-link languageli">@item.Text</a></li>
                                    }
                                }
                            </ul>

                        </div>
                            <a href="~/Admin/Article/Search" class="iconborder"><span class="icon-knowledge-base "></span></a>
                    </div>
                </div>
            </div>
        </header>

        <main class="page-content">
            <div class="layout-inner-cell">
                <div class="page-content-wrapper">
                    <div class="container-fluid body-content">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="page-footer">
            <span>
                <a href="@companyService.GetDefaultCompanySetting(CompanySettingsNames.PrivacyPolicyLink)">@companyService.GetDefaultCompanySetting(CompanySettingsNames.PrivacyPolicyLinkDisplayText)</a> | <a href="@companyService.GetDefaultCompanySetting(CompanySettingsNames.SupportLink)">@companyService.GetDefaultCompanySetting(CompanySettingsNames.SupportLinkDisplayText)</a>
            </span>
            <span>
                Visit us at <a href="@companyService.GetDefaultCompanySetting(CompanySettingsNames.SmartVmaLink)">@companyService.GetDefaultCompanySetting(CompanySettingsNames.SmartVmaLinkDisplayText)</a>
                &copy; @DateTime.Now.Year - SmartVMA Application
            </span>
        </footer>
    </div>
    @Scripts.Render(BundleNames.AnonymousLayoutScripts)
    @RenderSection("scripts", false)
</body>
</html>