﻿@{
    Layout = null;
}

@if (!ViewData.ModelState.IsValid)
{
    @RenderBody()
    return;
}

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@(string.IsNullOrEmpty(ViewBag.Title) ? "Delete" : ViewBag.Title)</h4>
            </div>

            <div class="modal-body form-horizontal">
                @RenderBody()
            </div>

            <div class="modal-footer">
                @if (IsSectionDefined("buttons"))
                {
                    @RenderSection("buttons", false)
                }
                else
                {
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Labels.Close</button>
                    <button type="button" class="btn btn-danger btn-modal-submit">@Labels.Delete</button>
                }
            </div>
        </div>
    </div>
</div>