﻿@{
    Layout = null;
}
@if (!ViewData.ModelState.IsValid)
{
    @RenderBody()
    <div class="modal-footer">
        @if (IsSectionDefined("buttons"))
        {
            @RenderSection("buttons", false)
        }
        else
        {
            <button type="button" class="btn btn-primary btn-modal-submit">@Labels.Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">@Labels.Close</button>
        }
    </div>
    return;
}

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-default modal-user">
        <div class="modal-content">
            @RenderBody()
            <div class="modal-footer">
                @if (IsSectionDefined("buttons"))
                {
                    @RenderSection("buttons", false)
                }
                else
                {
                    <button type="button" class="btn btn-primary btn-modal-submit">@Labels.Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Labels.Close</button>
                }
            </div>
        </div>
    </div>
</div>