﻿@{
    Layout = null;
}

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-default">
        @if (IsSectionDefined("beforeheader"))
            {
            @RenderSection("beforeheader", false)

        }
        <div class="modal-content">
           
            <div class="modal-header">
                @if (IsSectionDefined("header"))
                {
                    @RenderSection("header", false)

                }
                else
                {
                    <button type="button" class="close" data-dismiss="modal" aria-label="@Labels.Close"></button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                }
            </div>

            <div class="modal-body">
                @RenderBody()
            </div>
            <div class="modal-footer">
                @if (IsSectionDefined("buttons"))
                {

                    @RenderSection("buttons", false)

                }
                else
                {
            
                    <button type="button" class="btn btn-primary btn-modal-submit">@Labels.Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Labels.Close</button>
                }
            </div>
        </div>
    </div>
</div>