﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .pdf-row {
            overflow: hidden;
        }

        .col-6 {
            float: left;
            width: 50%;
        }

        .pdf-body {
            font-family: 'Roboto',sans-serif;
            font-size: 16px;
            line-height: normal;
            color: #333;
            max-width: 90%;
            margin: 0 auto;
        }

        h1 {
            font-weight: bold;
            font-size: 1.3em;
            margin: 5px 0;
        }

        h2 {
            font-weight: normal;
            font-size: 1.1em;
            margin: 5px 0;
        }


        .pdf-brand-holder {
            text-align: right;
            display: block;
        }

            .pdf-brand-holder img {
                display: inline-block;
                width: 22%;
                height: auto;
                max-height:40pt;
                vertical-align: top;
            }

        .vehicle-data {
            padding: 10px 0;
            border-top: 1px solid #a1a1a1;
            border-bottom: 1px solid #a1a1a1;
            margin: 10px 0;
        }

        .table-vehicle {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }


            .table-vehicle th {
            }

            .table-vehicle td {
                vertical-align: top;
                font-size: 1.1em;
                border-left: 1px solid #a1a1a1;
            }

                .table-vehicle td:first-child {
                    border-left: none;
                }

        .fake-table {
            display: table;
            border-collapse: collapse;
            width: 100%;
            font-size: 0.8em;
            table-layout: auto;
        }

            .fake-table .row {
                display: table-row;
            }

            .fake-table .cell {
                display: table-cell;
            }


            .fake-table .input-container {
                display: table-row;
            }

            .fake-table .control-label {
                display: table-cell;
                font-weight: bold;
              /* text-transform: uppercase;*/ 
                padding: 0 20px;
            }
            .pdf-table.two-cols {
                table-layout:fixed;
            }
            .ilife-eligibile, .ilife-warning {
                padding-top:10px;
                padding-bottom:10px;
            }
             .pdf-table.two-cols thead {
                   border-bottom: 1px solid #e1e1e1;
             }
            .pdf-table.two-cols td {
                width:50%;
            }
            .pdf-table .input-container{
                display:table;
                width:100%;
                table-layout:fixed;
            }
             .pdf-table .input-container label, .pdf-table .input-container .input-wrapper  {
                display:table-cell;
                text-align:left;
                width:50%;
            }
              
            .pdf-table-top .fake-table{
                table-layout:fixed;
            }
          
            .pdf-table-top .fake-table .control-label {
                 width:40%;
            }
        .table-vehicle td:first-child .fake-table .control-label {
            padding: 0 20px 0 0;
        }

        .fake-table .input-wrapper {
            display: table-cell;
        /*    text-transform: uppercase;*/
        }
        .pdf-table-top .fake-table .input-wrapper {
            width:60%;

         }
        /* default table */
        .pdf-table {
            width: 100%;
            border-collapse: collapse;
            font-size: 0.8em;
        }

            .pdf-table th {
                color: #5c5c5c;
                background: #f5f5f5;
                border-right: 1px solid #e1e1e1;
               
                padding: 10px 14px;
            }
            .pdf-table thead th {
                 border-top: 1px solid #e1e1e1;
            }
            .pdf-table tfoot th, .pdf-table .tfoot th {
                 border-bottom: 1px solid #e1e1e1;
            }
                .pdf-table th:first-child {
                    border-left: 1px solid #e1e1e1;
                }

            .pdf-table td {
                border-right: 1px solid #e1e1e1;
                border-bottom: 1px solid #e1e1e1;
                padding: 10px 14px;
            }

                .pdf-table td:first-child {
                    border-left: 1px solid #e1e1e1;
                }

        .calculation {
            font-size: 0.8em;
            padding: 10px 0;
        }

        .fill-fields {
            overflow: hidden;
            width: 100%;
            padding: 60px 0 0 0;
        }

            .fill-fields .fill-cell {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 60px 30px 0 30px;
                text-align: center;
                float: left;
            }

                .fill-fields .fill-cell:first-child {
                    padding-left: 0;
                }

                .fill-fields .fill-cell:last-child {
                    padding-right: 0;
                }

            .fill-fields .fill-title {
                padding: 6px 0;
                border-top: 1px solid #a1a1a1;
                font-size: 0.8em;
            }

            .fill-fields .pdf-table td {
                border-top: 1px solid #e1e1e1;
            }

            .fill-fields .w-20 {
                width: 20%;
            }

            .fill-fields .w-50 {
                width: 50%;
            }

            .fill-fields .w-30 {
                width: 30%;
            }

        .pdf-format-text {
            font-size: 1em;
        }

            .pdf-format-text h3 {
            }

            .pdf-format-text h4 {
            }

            .pdf-format-text p {
            }

            .pdf-format-text ul {
                padding-left: 20px;
                display: inline-block;
            }

        .servicePrice {
            list-style: none;
            border-top: 1px solid #a1a1a1;
            margin-top: 3px;
            padding-top: 3px;
            text-align: right;
        }

        .view-point-container {
            position: relative;
        }

        .inspection-customer {
        }


            .inspection-customer h2 {
                font-size: 32px;
                text-align: center;
            }

            .inspection-customer .invoce-number {
                font-size: 28px;
                text-align: right;
                display: block;
            }

        .customer-info-table {
            display: table;
            min-width: 50%;
        }

        .customer-info-row {
            display: table-row;
        }

        .customer-info-col {
            display: table-cell;
        }

        .inspection {
            padding: 20px 0;
        }

            .inspection .area-holder {
                overflow: hidden;
            }

            .inspection .area {
                text-align: center;
            }

                .inspection .area.half {
                    float: left;
                    width: 50%;
                }

            .inspection .view-point-container {
                display: inline-block;
            }

            .inspection .area .view-point-container {
                zoom: 0.9;
            }

            .inspection .area.half .view-point-container {
                zoom: 0.7;
            }


        .inspection-properties {
            padding: 10px 0;
        }

            .inspection-properties h2 {
                margin-bottom: 20px;
            }

            .inspection-properties h4 {
                margin: 15px 0 5px;
            }

        .print-landscape {
            width:100%;
        } 
    
        .print-landscape td {
            height:260pt;
            vertical-align:top;
            padding:10pt 10pt 100pt 10pt;
            position:relative;
            box-sizing:border-box;
          }   
         .print-landscape table {
               width:100%;
               table-layout:fixed;
               border:1px solid #979797;
               border-collapse:collapse;
         }
         .print-landscape .maintenance-service-container ul {
             margin-left:15px;
         } 
        td.padding-bottom {
            padding-bottom:10pt;
        }
        .print-landscape td.leveltitle {
            width:40px;
            height:100%;
            overflow:hidden;
            vertical-align:middle;
            padding:0;
            box-sizing:content-box;
        }
       .print-landscape .bgimg {
           width:10000px;
           height:10000px;
           top:0;
           left:0;
           display:block;
           position:absolute;
       }
      /* .print-landscape li {
           padding-top:20pt;
           padding-bottom:20pt;
       }*/
       .print-landscape .bgtitle {
           display:block;
           padding:10px;
           font-size:20pt;
           color: #fff;
           text-align:center;
        /*   height:200pt;
            border:1px solid #fcc;*/
       }
       .print-landscape .bgtitle.dark {
           color:#000;
       }
       .print-landscape .bgtitle em {
           display:block;
           -ms-transform: rotate(270deg); /* IE 9 */
           -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
            transform: rotate(270deg);
         /* transform: rotate(270deg) translate(-200pt, -5pt); */ 
       /*     transform-origin:top left;
           width:200pt;
           border:1px solid #fcf;*/
         
       }
       .print-landscape .package-price {
           text-align:left; 
           width:100%;
           padding:15px 0;
           position:absolute;
           bottom:0;
       }
       li.declined-ServicesPDF, li.additional-ServicesPDF {
           list-style-type:none;
           padding-left:0;
           margin-left:0;
           padding-top:10pt;
           font-weight:bold;
           text-indent:-15pt;
       }
        li.declined-ServicesPDF, li.additional-ServicesPDF, 
        td.declined-ServicesPDF, td.additional-ServicesPDF {
              font-weight:bold;
              text-transform:uppercase;
        }
       td.rightalign, th.rightalign {
           text-align:right;
       }
      
        .pdf-container {
            overflow: visible !important;
        }
        .pdf-container tr {
        page-break-inside: avoid;
        }
         .pdf-container .print-landscape tr {
             page-break-inside:auto;
        }

         .inpspection-image-pdf-span{
             display:block;
             text-align:center;
         }

        .inpspection-image-pdf-span.fitImgWidth img{
             max-width:100%;
             height:auto;
         } 
          .inpspection-image-pdf-span.fitImgHeight img{
             max-height:12in;
             width:auto;
         }
          .breakhere { 
              page-break-after: always 
          }
          th.nobreak,  td.nobreak {
              white-space:nowrap;
           }
           
    </style>
</head>
<body class="pdf-body">
    <div class="pdf-container">
        @RenderBody()
    </div>
</body>
</html>