﻿@using SmartVMA.Infrastructure.Ioc
@using SmartVMA.Infrastructure.AppContext
@using SmartVMA.Core.Services
@{
    Layout = null;
    var appContext = IocManager.Resolve<IAppContext>();
    var roleId = appContext.CurrentIdentity.RoleId ?? 0;
    var companyService = IocManager.Resolve<ICompanyService>();
    var orderedButtons = companyService.GetMenuButtonsOrder();

    var companyProfileController = "Dealers";
    if (roleId == (int)UserRoles.SystemAdministrator)
    {
        companyProfileController = "Corporations";
    }
    else if (roleId == (int)UserRoles.DistributorAdmin)
    {
        companyProfileController = "Distributors";
    }
}
<div class="sidebar-wrapper">
    <div class="sidebar">
        <ul class="sidebar-nav">
            @*<li class="sidebar-brand"><a><img src="~/Content/img/brand-logo.png" alt="" /></a></li>*@
            <li class="@Html.IsActivePage(controller: "AppointmentPresentation")">@Html.NavigationButtonWithIcon(controller: "AppointmentPresentation", icon: "icon-home", routeValues: new { area = "dealer" }, text: Labels.Home, htmlAttributes: new { @class = "menu-icon" })</li>

            @foreach (var item in orderedButtons)
            {
                @RenderBasicItems(item)
            }

            @if (roleId == (int)UserRoles.DealerAdmin || roleId == (int)UserRoles.DistributorAdmin || roleId == (int)UserRoles.SystemAdministrator || roleId == (int)UserRoles.Manager)
            {
                <li id="adminmenu-li">
                    <a href="#" class="menu-icon haschildren toggle-submenu">
                        <span class="icon-configuration"></span><span class="link-text">@Labels.Configuration</span>
                    </a>
                    <ul id="adminmenu" class="submenu">
                        <li class="@Html.IsActivePage(controller: companyProfileController, action: "ProfileSetup")">@Html.NavigationButton(controller: companyProfileController, action: "ProfileSetup", routeValues: new { area = "admin", id = appContext.CurrentIdentity.TenantId }, text: Labels.CompanyProfile, htmlAttributes: new { @class = "menu-icon" })</li>

                        @if (roleId == (int)UserRoles.SystemAdministrator)
                        {
                            <li class="@Html.IsActivePage(controller: "Corporations", action: "ApplicationSettings")">@Html.NavigationButton(controller: "Corporations", action: "ApplicationSettings", routeValues: new { area = "Admin", id = appContext.CurrentIdentity.TenantId }, text: Labels.Application, htmlAttributes: new { @class = "menu-icon" })</li>
                        }
                        <li class="@Html.IsActivePage(controller: "Users")">@Html.NavigationButton(controller: "Users", routeValues: new { area = "admin", companyId = appContext.CurrentIdentity.RoleId == (int)UserRoles.DealerAdmin || appContext.CurrentIdentity.RoleId == (int)UserRoles.DistributorAdmin ? appContext.CurrentIdentity.TenantId : null }, text: Labels.MenuUserMgmt, htmlAttributes: new { @class = "menu-icon" })</li>
                        @if (roleId == (int)UserRoles.DealerAdmin || roleId == (int)UserRoles.Manager)
                        {
                            <li class="@Html.IsActivePage(controller: "CustomServices")">@Html.NavigationButton(controller: "CustomServices", routeValues: new { area = "admin" }, text: Labels.CustomServices, htmlAttributes: new { @class = "menu-icon" })</li>
                            @*<li class="@Html.IsActivePage(controller: "MapServices")">@Html.NavigationButton(routeValues: new { area = "dealer" }, text: Labels.MapServicesToVehicles, htmlAttributes: new { @class = "menu-icon custom-disabled" })</li>*@
                            <li class="@Html.IsActivePage(controller: "MapVehicles")">@Html.NavigationButton(controller: "MapVehicles", routeValues: new { area = "admin" }, text: Labels.MapServicesToVehicles, htmlAttributes: new { @class = "menu-icon" })</li>
                            <li class="@Html.IsActivePage(controller: "MapServices")">@Html.NavigationButton(routeValues: new { area = "dealer" }, text: Labels.MapServicesToVins, htmlAttributes: new { @class = "menu-icon custom-disabled" })</li>
                            <li class="@Html.IsActivePage(action: "OverrideRules", controller: "OverrideRules")">@Html.NavigationButton(controller: "OverrideRules", action: "OverrideRules", routeValues: new { area = "Admin" }, text: Labels.ViewOverrides, htmlAttributes: new { @class = "menu-icon" })</li>
                            <li class="@Html.IsActivePage(action: "Index", controller: "OverrideRules")">@Html.NavigationButton(controller: "OverrideRules", action: "Index", routeValues: new { area = "Admin", id = String.Empty }, text: Labels.ApplyOverrides, htmlAttributes: new { @class = "menu-icon" })</li>
                            <li class="@Html.IsActivePage(action: "Index", controller: "EngineOilConfiguration")">@Html.NavigationButton(controller: "EngineOilConfiguration", action: "Index", routeValues: new { area = "dealer" }, text: Labels.EngineOil, htmlAttributes: new { @class = "menu-icon" })</li>
                            @*<li class="@Html.IsActivePage(controller: "LofMenu")">@Html.NavigationButton(routeValues: new { area = "dealer" }, text: Labels.LofMenu, htmlAttributes: new { @class = "menu-icon custom-disabled" })</li>*@
                        }

                        @if (roleId == (int)UserRoles.DealerAdmin || roleId == (int)UserRoles.Manager)
                        {
                            <li class="@Html.IsActivePage(controller: "LOFMenu", action: "Index")">@Html.NavigationButton(controller: "LOFMenu", action: "Index", routeValues: new { area = "admin", id = appContext.CurrentIdentity.TenantId }, text: Labels.LOFMenuMenuItem, htmlAttributes: new { @class = "menu-icon" })</li>
                        }

                        @if (roleId == (int)UserRoles.DistributorAdmin)
                        {
                            <li class="@Html.IsActivePage(controller: "Dealers")">@Html.NavigationButton(controller: "Dealers", routeValues: new { area = "Admin" }, text: Labels.Dealers, htmlAttributes: new { @class = "menu-icon" })</li>
                        }
                        @if (roleId == (int)UserRoles.SystemAdministrator)
                        {
                            <li class="@Html.IsActivePage(controller: "Roles")">@Html.NavigationButton(controller: "Roles", routeValues: new { area = "Admin" }, text: Labels.Roles, htmlAttributes: new { @class = "menu-icon" })</li>
                            <li class="@Html.IsActivePage(controller: "Companies")">@Html.NavigationButton(controller: "Companies", routeValues: new { area = "Admin" }, text: Labels.Companies, htmlAttributes: new { @class = "menu-icon" })</li>
                            <li class="@Html.IsActivePage(controller: "DealerGroups")">@Html.NavigationButton(controller: "DealerGroups", routeValues: new { area = "Admin" }, text: Labels.DealerGroups, htmlAttributes: new { @class = "menu-icon custom-disabled" })</li>
                            <li class="@Html.IsActivePage(controller: "Alert")">@Html.NavigationButton(controller: "Alert", routeValues: new { area = "admin" }, text: Labels.Alerts, htmlAttributes: new { @class = "menu-icon" })</li>
                            <li class="@Html.IsActivePage(controller: "Article")">@Html.NavigationButton(controller: "Article", routeValues: new { area = "admin" }, text: Labels.KBAdmministration, htmlAttributes: new { @class = "menu-icon" })</li>
                            <li class="@Html.IsActivePage(controller: "DataMaintenance")">@Html.NavigationButton(controller: "DataMaintenance", routeValues: new { area = "admin" }, text: Labels.DataMaintenance, htmlAttributes: new { @class = "menu-icon" })</li>
                            @*<li><a class="menu-icon custom-disabled">BG Product SKU Maintenance</a></li>*@

                            <li class="@Html.IsActivePage(controller: "OemServices")">@Html.NavigationButton(controller: "OemServices", routeValues: new { area = "admin" }, text: Messages.OEMServiceMaintenance, htmlAttributes: new { @class = "menu-icon" })</li>
                            <li class="@Html.IsActivePage(controller: "BgProducts", action: "Index")">@Html.NavigationButton(controller: "BgProducts", action: "Index", routeValues: new { area = "Admin" }, text: Labels.BgProductSKUMaintenance, htmlAttributes: new { @class = "menu-icon" })</li>
                        }
                    </ul>
                </li>
            }
            <li class="collapse-menu">
                <a href="#menu-toggle" class="menu-toggle" @*data-toggle-class='{".wrapper":"toggled"}'*@>
                    <span class="link-text">Collapse</span>
                </a>
            </li>
        </ul>
        <a class="sidebar-brand">
            <img src="@companyService.GetCompanyLogo(CompanySettingsNames.CompanyLogo)" alt="" />
        </a>
        <div class="vma-img">
            <a>
                <img src="~/Content/img/smart-vma.png" alt="Smart VMA" />
            </a>
        </div>
    </div>
</div>

@helper RenderBasicItems(string btn)
{
    switch (btn)
    {
        case "Appointments":
                <li class="@Html.IsActivePage(controller: "Appointments")">@Html.NavigationButtonWithIcon(controller: "Appointments", icon: "icon-appointments", routeValues: new { area = "dealer" }, text: Labels.Appointments, htmlAttributes: new { @class = "menu-icon" })</li>
            break;
        case "Planner":
                <li class="@Html.IsActivePage(controller: "Planner")">@Html.NavigationButtonWithIcon(icon: "icon-planner", routeValues: new { area = "dealer" }, text: Labels.Planner, htmlAttributes: new { @class = "menu-icon custom-disabled" })</li>
            break;
        case "PdfDocuments":
                <li class="@Html.IsActivePage(controller: "PdfDocuments")">@Html.NavigationButtonWithIcon(controller: "PdfDocuments", icon: "icon-doc-search", routeValues: new { area = "dealer" }, text: Labels.DocSearch, htmlAttributes: new { @class = "menu-icon" })</li>
            break;
        case "MPI":
                <li class="@Html.IsActivePage(controller: "MPI")">@Html.NavigationButtonWithIcon(icon: "icon-mpi", routeValues: new { area = "dealer" }, text: Labels.MPI, htmlAttributes: new { @class = "menu-icon custom-disabled" })</li>
            break;
        case "RoPrep":
                <li class="@Html.IsActivePage(controller: "RoPrep")">@Html.NavigationButtonWithIcon(icon: "icon-ro-prep", routeValues: new { area = "dealer" }, text: Labels.ROPrep, htmlAttributes: new { @class = "menu-icon custom-disabled" })</li>
            break;
        case "Reporting":
                <li class="@Html.IsActivePage(controller: "Reporting")">@Html.NavigationButtonWithIcon(controller: "Reporting", icon: "icon-reporting", routeValues: new { area = "dealer" }, text: Labels.Reporting, htmlAttributes: new { @class = "menu-icon" })</li>
            break;
    }
}