﻿@model CustomServiceInitViewModel
@{
    ViewBag.Title = Messages.CustomServicesMaintenance;
    Layout = LayoutPaths.Default;
}

@using (Html.BeginForm("Save", "CustomServices", FormMethod.Post, new { @class = "ajax-form" }))
{
    <h2 class="wizzard-title">@Messages.CustomServicesMaintenance</h2>
    @Html.Partial("VehicleFilter", Model.VehicleFilter)
    @Html.HiddenFor(m => m.SelectedServices, new { @class = "selected-items" })
    <input type="hidden" name="FilteredServiceIds" value="@ViewBag.FilteredServiceIds">
    <section class="custom-datatable-holder">
        <div class="table-action">
            @*<a class="btn-icon icon-new-search table-reset">@Labels.Search</a>*@
            <div class="action-buttons margin-btm">
                <a class="btn btn-primary add-table">@Labels.Add</a>
                <a class="btn btn-primary edit-table">@Labels.Edit</a>
                <a class="btn btn-primary delete-table">@Labels.Delete</a>
                <a class="btn btn-primary save-table custom-disabled">@Labels.Save</a>
                <a class="btn btn-primary pull-right cancel-table custom-disabled">@Labels.Cancel</a>
            </div>
            <div class="no-items-selected hidden">
                @Messages.NoChangesDetected
            </div>
            <div class="select-delete-service hidden">
                @Messages.SelectServiceToDelete
            </div>            
            <div class="save-errors-container"></div>

            <table class="dataTableGrid custom-table double-header table-form table-editalbe page-prompt filter-dropdown" data-url="/Admin/CustomServices" data-enable-search="false">
                <thead>
                <tr data-role="template">
                    <th class="w-20">
                        <div class="read-view no-padding w-20">
                            <input type="hidden" class="id-field" />
                            @Html.EditorFor(model => model.Data.IsSelected, EditorTemplateNames.TableBoolean, new {notTrackable = true, notDisabable = true, isRowSelector = true, SourceName = "isSelected" })
                        </div>
                    </th>
                    <th class="w-100">
                        <div class="read-view w-100" data-value=""></div>
                        <div class="edit-view w-100">
                            @Html.EditorFor(model => model.Data.OpCode, EditorTemplateNames.TableTextBox)
                        </div>
                    </th>
                    <th class="w-180">
                        <div class="read-view w-180" data-value=""></div>
                        <div class="edit-view w-180">@Html.EditorFor(model => model.Data.OpDescription, EditorTemplateNames.TableTextArea)</div>
                    </th>
                    <th class="w-180">
                        <div class="read-view w-180" data-value=""></div>
                        <div class="edit-view w-180">@Html.EditorFor(model => model.Data.Comment, EditorTemplateNames.TableTextArea)</div>
                    </th>
                    <th>
                        <div class="read-view" data-value=""></div>
                        <div class="edit-view">@Html.EditorFor(model => model.Data.LaborHour, EditorTemplateNames.TableDouble)</div>
                    </th>
                    <th>
                        <div class="read-view" data-value=""></div>
                        <div class="edit-view">@Html.EditorFor(model => model.Data.LaborRate, EditorTemplateNames.TableDecimal)</div>
                    </th>
                    <th class="w-100">
                        <div class="read-view w-100" data-value=""></div>
                        <div class="edit-view w-100">
                            <span class="add-cell-part-wrapper"><a class="btn add-cell-part" data-sibling-cell-count="6">+</a></span>
                            <input type="hidden" class="id-field"/>
                            @Html.EditorFor(model => model.Data.Parts.First().PartNo, EditorTemplateNames.TableTextBox, new {CanBeDeleted = true, IsMediumSize = true})

                        </div>
                    </th>
                    <th>
                        <div class="read-view w-60" data-value=""></div>
                        <div class="edit-view w-60">@Html.EditorFor(model => model.Data.Parts.First().Quantity, EditorTemplateNames.TableDouble)</div>
                    </th>
                    <th>
                        <div class="read-view  w-60" data-value=""></div>
                        <div class="edit-view  w-60">@Html.EditorFor(model => model.Data.Parts.First().UnitPrice, EditorTemplateNames.TableDecimal)</div>
                    </th>
                    <th>
                        <div class="read-view" data-value=""></div>
                        <div class="edit-view">@Html.EditorFor(model => model.Data.Parts.First().IsFluid, EditorTemplateNames.TableBoolean, new { PrefixName = "parts", PrefixIndex = 0, SourceName = "isFluid" })</div>
                    </th>
                    <th class="w-100">
                        <div class="read-view w-180 trim-lines" data-value=""></div>
                        <div class="edit-view w-180 wide-dropdown ">@Html.EditorFor(model => model.Data.Parts.First().BgProductId, EditorTemplateNames.TableDropdown, new {Items = DropdownItems.GetBgProducts(), DisableFullValueFiltering = true})</div>
                    </th>
                    <th class="w-100 ">
                        <div class="read-view w-100" data-value=""></div>
                        <div class="edit-view w-100">@Html.EditorFor(model => model.Data.Parts.First().IsDeleted, EditorTemplateNames.TableBoolean, new { PrefixName = "parts", PrefixIndex = 0, isDisabled = true, SourceName = "isDeleted" })</div>
                    </th>
                    <th class="w-100">
                        <div class="read-view w-100" data-value=""></div>
                        <div class="edit-view w-100">@Html.EditorFor(model => model.Data.IsLofService, EditorTemplateNames.TableBoolean, new { SourceName = "isLofService" })</div>
                    </th>
                    <th class="w-100">
                        <div class="read-view w-100" data-value=""></div>
                        <div class="edit-view w-100">@Html.EditorFor(model => model.Data.CanBeStriked, EditorTemplateNames.TableBoolean, new { SourceName = "canBeStriked" })</div>
                    </th>
                    <th>
                        <div class="read-view" data-value=""></div>
                        <div class="edit-view">@Html.EditorFor(model => model.Data.IntervalStart, EditorTemplateNames.TableInteger)</div>
                    </th>
                    <th>
                        <div class="read-view" data-value=""></div>
                        <div class="edit-view">@Html.EditorFor(model => model.Data.IntervalRepeat, EditorTemplateNames.TableInteger)</div>
                    </th>
                    <th class="w-100">
                        <div class="read-view w-100" data-value=""></div>
                        <div class="edit-view w-100">@Html.EditorFor(model => model.Data.AdvisorIncentive, EditorTemplateNames.TableDecimal)</div>
                    </th>
                    <th class="w-100">
                        <div class="read-view w-100" data-value=""></div>
                        <div class="edit-view w-100">@Html.EditorFor(model => model.Data.TechIncentive, EditorTemplateNames.TableDecimal)</div>
                    </th>

                    <th>
                        <div class="read-view  w-140" data-value=""></div>
                        <div class="edit-view  w-140 ">@Html.EditorFor(model => model.Data.BgProtectionPlanId, EditorTemplateNames.TableDropdown, new {Items = DropdownItems.GetBgProtectionPlans()})</div>
                    </th>
                    @*<th class="w-100">
                                <div class="read-view w-180" data-value=""></div>
                                    <div class="edit-view w-180">@Html.EditorFor(model => model.Data.BgProtectionSubPlanId, EditorTemplateNames.TableDropdown, new {Items = DropdownItems.GetBgProtectionSubPlans()})</div>
                            </th>*@
                    <th class="w-100">
                        <div class="read-view w-180" data-value=""></div>
                        <div class="edit-view w-180 wide-dropdown">@Html.EditorFor(model => model.Data.CategoryId, EditorTemplateNames.TableDropdown, new {Items = DropdownItems.GetBgProductCategories()})</div>
                    </th>
                    <th class="w-100">
                        <div class="read-view w-180" data-value=""></div>
                        <div class="edit-view w-180 wide-dropdown">@Html.EditorFor(model => model.Data.VideoId, EditorTemplateNames.TableDropdown, new {Items = DropdownItems.GetVideos()})</div>
                    </th>
                </tr>
                <tr class="header-group">
                    <th class="w-20"></th>
                    <th class="w-100"></th>
                    <th class="w-180"></th>
                    <th class="w-180"></th>
                    <th class="beBordered w-100" colspan="2">@Labels.Labor</th>
                    <th class="beBordered w-100" colspan="5">@Labels.Part</th>
                    <th class="w-100"></th>
                    <th class="w-100"></th>
                    <th class="w-100"></th>
                    <th class="beBordered w-100" colspan="2">@Labels.Intervals</th>
                    <th class="w-100"></th>
                    <th class="w-100"></th>
                    <th class="w-100"></th>
                    <th class="w-100"></th>
                    <th class="w-100"></th>
                    @*<th class="w-100"></th>*@
                </tr>
                <tr class="order">
                    <th name="isSelected" class="w-20" data-orderable="false">
                        @Html.EditorFor(model => model.Data.IsSelected, EditorTemplateNames.TableBoolean, new { Id = "selectAllDtRows", SourceName = "isSelected" })
                    </th>
                    <th name="opCode" class="w-100">@Html.DisplayNameFor(model => model.Data.OpCode)</th>
                    <th name="opDescription" class="w-180">@Html.DisplayNameFor(model => model.Data.OpDescription)</th>
                    <th name="comment" class="w-180">@Html.DisplayNameFor(model => model.Data.Comment)</th>
                    <th name="laborHour" class="w-100">@Html.DisplayNameFor(model => model.Data.LaborHour)</th>
                    <th name="laborRate" class="w-100">@Html.DisplayNameFor(model => model.Data.LaborRate)</th>
                    <th name="parts[,].partNo" data-orderable="false" class="w-100">@Html.DisplayNameFor(model => model.Data.Parts.First().PartNo)</th>
                    <th name="parts[,].quantity" data-orderable="false" class="w-60">@Html.DisplayNameFor(model => model.Data.Parts.First().Quantity)</th>
                    <th name="parts[,].unitPrice" data-orderable="false" class="w-60">@Html.DisplayNameFor(model => model.Data.Parts.First().UnitPrice)</th>
                    <th name="parts[,].isFluid" data-orderable="false" class="w-60">@Html.DisplayNameFor(model => model.Data.Parts.First().IsFluid)</th>
                    <th name="parts[,].bgProductId" data-orderable="false" class="w-180">@Html.DisplayNameFor(model => model.Data.Parts.First().BgProductId)</th>
                    <th name="parts[,].isDeleted" data-orderable="false" class="w-100 ">@Html.DisplayNameFor(model => model.Data.Parts.First().IsDeleted)</th>
                    <th name="isLofService" data-orderable="false" class="w-100">@Html.DisplayNameFor(model => model.Data.IsLofService)</th>
                    <th name="canBeStriked" data-orderable="false" class="w-100">@Html.DisplayNameFor(model => model.Data.CanBeStriked)</th>
                    <th name="intervalStart" class="w-100">@Html.DisplayNameFor(model => model.Data.IntervalStart)</th>
                    <th name="intervalRepeat" class="w-100">@Html.DisplayNameFor(model => model.Data.IntervalRepeat)</th>
                    <th name="advisorIncentive" class="w-100">@Html.DisplayNameFor(model => model.Data.AdvisorIncentive)</th>
                    <th name="techIncentive" class="w-100">@Html.DisplayNameFor(model => model.Data.TechIncentive)</th>
                    <th name="bgProtectionPlanId" class="w-100">@Html.DisplayNameFor(model => model.Data.BgProtectionPlanId)</th>
                    @*<th name="bgProtectionSubPlanId" class="w-100">@Html.DisplayNameFor(model => model.Data.BgProtectionSubPlanId)</th>*@
                    <th name="categoryId" class="w-100">@Html.DisplayNameFor(model => model.Data.CategoryId)</th>
                    <th name="videoId" data-orderable="false" class="w-100">@Html.DisplayNameFor(model => model.Data.VideoId)</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>
}
@section scripts{
    <script>
        var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
    </script>
}
