﻿@model SearchDocumentsViewModel

<div class="row search-filters">
    <div class="col-sm-6  search-set">
        <div class="form-horizontal">
            <div class="form-group input-clear">
                @Html.EditorFor(model => model.InvoiceNumber, new { fullWidth = true })
                @Html.EditorFor(model => model.VIN, new { fullWidth = true })
            </div>

            <div class="form-group flex-container">
                <div class="flex-item">
                    @Html.EditorFor(model => model.StartDate, EditorTemplateNames.DateRange, new
           {
               Container = "#parkedMenuContent",
               OnChangeFunction = "resetParkedMenuTimeFrame",
               HideLabel = true,
               EndRangeFieldName = "#EndDate",
               HideInputText = true,
               FromDateField = "acceptedMenuStartDate",
               ToDateField = "acceptedMenuEndDate"
           })
                    @Html.HiddenFor(model => model.EndDate)
                    <div class="date-select icon-calendar"></div>
                    </div>
                    <div class="flex-item">
                        <div class="fake-table date-range-display">
                            @Html.DisplayFor(model => model.StartDateString, DisplayTemplateNames.TextWithLabel, new { Classes = "acceptedMenuStartDate" })
                            @Html.DisplayFor(model => model.EndDateString, DisplayTemplateNames.TextWithLabel, new { Classes = "acceptedMenuEndDate" })
                        </div>
                    </div>
            </div>
        <div class="action-buttons clearfix">
            <span class="buttons-right">
                @Html.SubmitButton(text: Labels.Search, htmlAttributes: new { @class = "btn btn-primary" })
            </span>
        </div>
    </div>
</div>