﻿@model PdfDocumentIndexViewModel


<div class="custom-table-holder">
    @if (Model.Items != null)
    {
        <table class="custom-table ">
            <thead>
                <tr class="results-table-title">
                    <th colspan="2">
                        <h4>
                            <span class="left-prefix">@Labels.SearchResults:</span>
                            @Model.Items.Count() @Labels.ResultsFound
                            <span class="help-center-right">@Labels.SearchResults:</span>
                        </h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var documentTitle = string.Empty;
                }
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td name="documentname">@item.Name</td>
                        <td class="w350p">
                            <div class="link-group">
                                <a href="@string.Format("/Dealer/PdfDocuments/ViewPdfFile?filePath={0}&fileName={1}&pdfAction={2}", @item.FilePathName, @item.Name, ((int)PdfAction.View))" class="viewPDF" target="_blank">@Labels.ViewPDF.ToLower()</a>
                                <a href="@string.Format("/Dealer/PdfDocuments/ViewPdfFile?filePath={0}&fileName={1}&pdfAction={2}", @item.FilePathName, @item.Name, ((int)PdfAction.Save))" class="downloadPDF target="_blank"">@Labels.DownloadPDF.ToLower()</a>
                                <a href="@string.Format("/Dealer/PdfDocuments/PrintPdfFile?filePath={0}&fileName={1}&appointmentPresentationID={2}&documentType={3}", @item.FilePathName, @item.Name, @item.AppointmentPresentationId, @item.DocumentType)" class="printPDF" target="_blank">@Labels.Print.ToLower()</a>
                                @{
                                    switch (item.DocumentType)
                                    {
                                        case (int)DocumentType.CustomerCopy:
                                            documentTitle = string.Format(Labels.EmailPdfTitle, Labels.CustomerCopy);
                                            break;
                                        case (int)DocumentType.PartsCopy:
                                            documentTitle = string.Format(Labels.EmailPdfTitle, Labels.PartsCopy);
                                            break;
                                        case (int)DocumentType.TechCopy:
                                            documentTitle = string.Format(Labels.EmailPdfTitle, Labels.TechCopy);
                                            break;
                                        case (int)DocumentType.WalkAroundInspection:
                                            documentTitle = string.Format(Labels.EmailPdfTitle, Labels.WalkaroundInspection);
                                            break;
                                        default:
                                            documentTitle = string.Format(Labels.EmailPdfTitle, Labels.PDF);
                                            break;
                                    }
                                }
                                @if(!item.DealerCustomerId.HasValue)
                                {
                                    item.DealerCustomerId = -1;
                                }
                                <a href="/Dealer/PdfDocuments/EmailPdfFile?dealerId=@item.DealerId&appointmentPresentationId=@item.AppointmentPresentationId&dealerCustomerId=@item.DealerCustomerId&documentType=@item.DocumentType" class="emailPDF btn-modal" data-modal-title="@documentTitle" title="@Labels.EmailPDF">@Labels.EmailPDF.ToLower()</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="custom-table">
            <thead>
                <tr class="results-table-title">
                    <th>Results: <span>No search result found</span></th>
                </tr>
            </thead>
        </table>
    }
</div>