﻿@{
    Layout = LayoutPaths.Pdf;
}

<div style="padding-top:20px;">
    <div class="fake-table">
        <div style="width: 200px; float:left">
            <img src="/Content/img/smart-vma.png">
        </div>
        <div style="width: 300px; float:left; padding-top:5pt;" id="modelFrom">
            <span style="font-weight:bold">@Labels.FooterFrom</span>
        </div>
        <div style="width: 300px;  float:left; padding-top:5pt;" id="modelPrint">
            <span style="font-weight:bold">@Labels.Printed</span>
        </div>
    </div>
</div>
<script>
    try {
        var params = document.location.search.substring(1).split('&');
        var printed = params[0].split('=', 2)[1];
        var from = params[1].split('=', 2)[1];
        document.getElementById("modelPrint").innerHTML = document.getElementById("modelPrint").innerHTML + " " + printed;
        if (from) {
            document.getElementById("modelFrom").innerHTML = document.getElementById("modelFrom").innerHTML + " " + from;
        }
        else {
            document.getElementById("modelFrom").innerHTML = "";
        }
    }
    catch (ex) {
        document.getElementById("modelPrint").innerHTML = "";
        document.getElementById("modelFrom").innerHTML = "";
    }
</script>