﻿@model ConfigurationLOFMenuViewModel
@using SmartVMA.Infrastructure.Ioc
@using SmartVMA.Infrastructure.FileManager
@using SmartVMA.Core.Services
@{
    ViewBag.Title = "[Index]";
    Layout = LayoutPaths.Default;
    var service = IocManager.Resolve<ILofService>();
    var fileManager = IocManager.Resolve<IFileManager>();
}
<h1>@Labels.LofMenu</h1>

@Html.HiddenFor(m => Model.Id)

<h4>@Labels.AssignOilProductImages</h4>
<br />
<div class="row lof-filter-size">
    <div class="filter-dropdown">

        @Html.EditorFor(m => m.LOFMenuSelectedLevel, EditorTemplateNames.Dropdown, new
   {
       Items = DropdownItems.GetLOFMenuLabels(Model.Id, Model.LOFMenuSelectedLevel),
       Container = "#contents"
   })

  
    </div>
</div>

<section id="contents" class="lof-menu" data-url="/Admin/LofMenu/Index?level=[#LOFMenuSelectedLevel]">
    @RenderBody()
</section>


@section Scripts{
    <script src="~/scripts/custom/lofPictures.js"></script>
}
