﻿@model ServiceBasePresentationViewModel
@{
    ViewBag.Title = "MenuPresentation";
    Layout = LayoutPaths.Default;
}

<section class="row customer-info-section">
    <div class="col-sm-12">

        @Html.HiddenFor(m => m.MenuCarId)
        @Html.HiddenFor(m => m.MenuMileage)
        @Html.HiddenFor(m => m.CustomerInfo.CustomerInfo.Id)
        @Html.HiddenFor(m => m.CustomerInfo.CustomerInfo.DealerVehicleId)
        @Html.HiddenFor(m => m.CustomerInfo.CustomerInfo.Mileage)
        @Html.HiddenFor(m => m.CustomerInfo.CustomerInfo.VIN)
        @Html.HiddenFor(m => m.AppointmentPresentationId)
        @Html.HiddenFor(m => m.ParkedAppointmentTime)
        @Html.HiddenFor(m => m.InspectionId)
        @Html.HiddenFor(m => m.Invoice)
        @Html.HiddenFor(m => m.Transmission)
        @Html.HiddenFor(m => m.Driveline)
        @Html.HiddenFor(m => m.EnteredMileage)
        @Html.HiddenFor(m => m.CustomerInfo.CustomerInfo.FullName)
        @Html.HiddenFor(m => m.CustomerInfo.CustomerInfo.VIN)
        @Html.HiddenFor(m => m.CarIdUndetermined)

        <h1>@Labels.Services</h1>
        @Html.Partial("_CustomerInfoForServices", Model.CustomerInfo, new ViewDataDictionary { { "ShowMileageDropdown", true } })

        <div class="action-buttons clearfix">
            <div class="buttons-left">
                @Html.NavigationButtonWithIcon("icon-new-search", "Index", "AppointmentPresentation", new { area = "Dealer" }, Labels.NewSearch, new { @class = "btn btn-default" })
            </div>
            <div class="buttons-right">
                <div class="menu-actions print-actions">
                    <div class="dropup options-menu">
                        <a href="#" onclick="getMenuPresentationPrintOptions();" class='btn dropdown-primary btn-primary @Html.RenderIfTrue(Model.Services != null && Model.Services.MenuLevel1Services != null && !Model.Services.MenuLevel1Services.Any(), "disabled")' id="print-button" data-toggle="dropdown">
                            <span>@Labels.Print</span>
                        </a>
                        <div id="menuPresentationPrintOptions" class="dropdown-menu">
                        </div>
                    </div>
                </div>
                @Html.NavigationButton("Index", "LOF", routeValues: new {customerId = Model.CustomerInfo != null && Model.CustomerInfo.CustomerInfo != null ? Model.CustomerInfo.CustomerInfo.Id : null, carId = Model.MenuCarId, mileage = Model.MenuMileage, appointmentPresentationId = Model.AppointmentPresentationId, inspectionId = Model.InspectionId == null ? 0 : Model.InspectionId, transmission = Model.Transmission, driveLine = Model.Driveline, dealerVehicleId = Model.CustomerInfo != null && Model.CustomerInfo.CustomerInfo != null ? Model.CustomerInfo.CustomerInfo.DealerVehicleId : null, vin = Model.CustomerInfo != null && Model.CustomerInfo.CustomerInfo != null ? Model.CustomerInfo.CustomerInfo.VIN : null, CarIdUndetermined = Model.CarIdUndetermined}, text: Labels.LOF, htmlAttributes: new {@class = "btn btn-primary", id = "Lof"})

                @if (Model.CustomerInfo != null && Model.CustomerInfo.CustomerInfo != null && Model.CustomerInfo.CustomerInfo.Id.HasValue)
                {
                    @Html.NavigationButton("Index", "VehicleMaintenanceHistory", routeValues: new {vin = Model.CustomerInfo.CustomerInfo.VIN}, text: Labels.VehicleMaintenanceHistory, htmlAttributes: new {@class = "btn btn-primary", target = "_blank"})
                }
                else
                {
                    @Html.NavigationButton("#", text: Labels.VehicleMaintenanceHistory, htmlAttributes: new {@class = "btn btn-primary disabled", target = "_blank"})
                }
                @Html.NavigationButton("Index", "Inspection", new {customerId = Model.CustomerInfo != null && Model.CustomerInfo.CustomerInfo != null ? Model.CustomerInfo.CustomerInfo.Id : null, carId = Model.MenuCarId, mileage = Model.MenuMileage, appointmentPresentationId = Model.AppointmentPresentationId, inspectionId = Model.InspectionId, transmission = Model.Transmission, driveLine = Model.Driveline, dealerVehicleId = Model.CustomerInfo != null && Model.CustomerInfo.CustomerInfo != null ? Model.CustomerInfo.CustomerInfo.DealerVehicleId : null, vin = Model.CustomerInfo != null && Model.CustomerInfo.CustomerInfo != null ? Model.CustomerInfo.CustomerInfo.VIN : null, CarIdUndetermined = Model.CarIdUndetermined}, Labels.VehicleInspection, new {@class = "btn btn-primary", id = "InspectionBtn"})
                @if (Model.ILifeVisibility)
                {
                    @Html.ModalButton("Index", "ILife", new {vin = Model.CustomerInfo.CustomerInfo.VIN, area = "Dealer"}, text: Model.ILifeButtonName, title: Model.ILifeColorClass == Labels.ILifeGreyColour ? Messages.CustomerWithNoILife : Labels.ILife, htmlAttributes: new {@class = "btn " + (Model.ILifeColorClass == Labels.ILifeGreyColour ? "custom-disabled alt-color" : Model.ILifeColorClass) })
                }
            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-sm-12">
        <h1 class="clearfix">
            <span class="col-sm-8 col-sm-push-2">
                @Labels.MaintenanceServices
            </span>

            <span class="buttons-right">
                @Html.NavigationButton(url: "#", htmlAttributes: new
           {
               @class = "servicebtn btn-icon icon-additional-service active",
               data_toggle_class = "{\".servicebtn\":\"active\",\"#maintenanceServicesContainer\":\"col-half,col-full\",\"#additionalServicesContainer\":\"hidden\"}"
           })
            </span>
            <span class="buttons-right">
                @if (Model.isVisiblePrice)
                {
                    @Html.NavigationButton(url: "#", htmlAttributes: new
               {
                   @class = "pricebtn btn-icon icon-price active",
                   data_toggle_class = "{\".pricebtn\":\"active\",\".price-container\":\"hidden\"}"
               })
                }
                else
                {
                    @Html.NavigationButton(url: "#", htmlAttributes: new
               {
                   @class = "pricebtn btn-icon icon-price ",
                   data_toggle_class = "{\".pricebtn\":\"active\",\".price-container\":\"hidden\"}"
               })
                }

            </span>

        </h1>
    </div>
</section>

<div id="allServicesContainer" class="row" data-url="/Dealer/MenuPresentation?customerId=[#CustomerInfo_CustomerInfo_Id]&CarId=[#MenuCarId]&appointmentPresentationId=[#AppointmentPresentationId]&mileage=[#CustomerInfo_Mileage]&enteredMileage=[#EnteredMileage]&transmission=[#Transmission]&driveline=[#Driveline]&dealerVehicleId=[#CustomerInfo_CustomerInfo_DealerVehicleId]&vin=[#CustomerInfo_CustomerInfo_VIN]&CarIdUndetermined=[#CarIdUndetermined]" data-custom-oncomplete-function="smartvma.callbacks.updateMenuMileage">
    @RenderBody()
</div>

@section scripts{
    <script src="~/scripts/clipboard.min.js"></script>
    <script>
    $(function () {
        smartvma.callbacks.updateMenuMileage();
    });
    </script>
    
}

