﻿@model PreviewAdditionalServicesIndexViewModel
@{
    Layout = null;
}

<div class="panel-wrapper panel-grey">
    <div class="panel-title">
        <span>@Labels.AdditionalServices</span>
    </div>
    <div class="panel-content">
        @Html.Partial("ServicesPreviewTable", Model.Items, new ViewDataDictionary { { "ShowAddServiceButton", true }, { "SortingButton", true }, { "AddAdditionalServices", true } })
        @Html.ModalButton("Create", "AppointmentServices", 
                new { area = "Admin" }, 
                text: Labels.CreateAdditionalService, 
                title: Labels.CreateAdditionalService, 
                htmlAttributes: new { @class = "btn-link newadditionalservice" })
    </div>
</div>
