﻿@model ServiceBasePresentationViewModel
@{
    ViewBag.Title = "MenuPresentation";
    Layout = Request.IsAjaxRequest() ? null : LayoutPaths.IndexLayout;
}

<div class="service-container">
    <div id="maintenanceServicesContainer" class="main-col col-half">
        @if (!Model.AreConflictsResolved)
        {
            @Messages.ServicesWithNoResolvedConflicts
        }
        else
        {
            @Html.Partial("MaintenanceServicePreview", Model.Services, new ViewDataDictionary { { "ValidConfirmServices", Model.IsValidPresentationMenu } })
        }
    </div>
    <div id="additionalServicesContainer" class="additional-col">
        @if (Model.AdditionalServices != null && Model.AreConflictsResolved)
            {
            @Html.Partial("AdditionalServicePreview", Model.AdditionalServices)
        }
    </div>
</div>
