﻿@model MenuLevelServicesIndexViewModel
@using SmartVMA.Infrastructure.Extensions
@{
    Layout = null;
    bool validConfirmServices = (ViewBag.ValidConfirmServices ?? true);
}
@Html.HiddenFor(m => m.SelectedMenuLevel)

<div class="tab-wrapper tabs-standard tabs-third">
    <ul class="nav nav-tabs">
        @if (!string.IsNullOrEmpty(Model.MenuLabelLevel3))
        {
            <li>
                <a href="#" id="level3Btn" class="iconradio active" data-level="3"
                   data-add-class='{"#level3Btn":"active","#level2Services":"hidden","#level1Services":"hidden","#level3ServicesPreview":"hidden","#level2ServicesPreview":"hidden", "#performancePackageTitle":"hidden", "#performancePackagePreviewTitle":"hidden"}'
                   data-remove-class='{"#level1Btn":"active","#level2Btn":"active","#level3Services":"hidden"}'>
                    <span class="menu-title icon"> @Model.MenuLabelLevel3 </span><span class="menu-price notranslate">@Html.DisplayFor(m => m.MenuLabelLevel3Price, DisplayTemplateNames.Currency)</span>
                </a>
            </li>
        }
        @if (!string.IsNullOrEmpty(Model.MenuLabelLevel2))
        {
            <li>
                <a href="#" id="level2Btn" class="iconradio @Html.RenderIfTrue(string.IsNullOrEmpty(Model.MenuLabelLevel3),"active")" data-level="2"
                   data-add-class='{"#level2Btn":"active","#level1Services":"hidden","#level2ServicesPreview":"hidden", "#level3Services":"hidden", "#recommendedPackageTitle":"hidden", "#recommendedPackagePreviewTitle":"hidden"}'
                   data-remove-class='{"#level1Btn":"active","#level3Btn":"active","#level2Services":"hidden","#level3ServicesPreview":"hidden", "#performancePackageTitle":"hidden", "#performancePackagePreviewTitle":"hidden"}'>
                    <span class="menu-title icon">@Model.MenuLabelLevel2</span><span class="menu-price notranslate">@Html.DisplayFor(m => m.MenuLabelLevel2Price, DisplayTemplateNames.Currency)</span>
                </a>
            </li>
        }
        @if (!string.IsNullOrEmpty(Model.MenuLabelLevel1))
        {
            <li>
                <a href="#" id="level1Btn" class="iconradio @Html.RenderIfTrue(string.IsNullOrEmpty(Model.MenuLabelLevel3) && string.IsNullOrEmpty(Model.MenuLabelLevel2),"active")" data-level="1"
                   data-add-class='{"#level1Btn":"active" ,"#level2Services":"hidden", "#level3Services":"hidden"}' 
                   data-remove-class='{"#level2Btn":"active","#level3Btn":"active","#level2ServicesPreview":"hidden","#level3ServicesPreview":"hidden","#level1Services":"hidden", "#performancePackageTitle":"hidden", "#recommendedPackageTitle":"hidden", "#performancePackagePreviewTitle":"hidden", "#recommendedPackagePreviewTitle":"hidden"}'>
                    <span class="menu-title icon">@Model.MenuLabelLevel1</span> <span class="menu-price notranslate">@Html.DisplayFor(m => m.MenuLabelLevel1Price, DisplayTemplateNames.Currency)</span>
                </a>
            </li>
        }
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in">
            @if (!string.IsNullOrEmpty(Model.MenuLabelLevel1))
            {
                <div id="level1Services" class="@Html.RenderIfTrue(!string.IsNullOrEmpty(Model.MenuLabelLevel2) || !string.IsNullOrEmpty(Model.MenuLabelLevel3),"hidden") maintenance-service-container" data-level="1">
                    @Html.Partial("ServicesPreviewTable", Model.MenuLevel1Services)
                    <div>
                        <div class="buttons-center">@Html.ModalButton("ConfirmService", routeValues: new { area = "Dealer" }, text: Labels.Select, title: validConfirmServices ? string.Format("{0} {1}", Labels.ConfirmServices, Model.MenuPackageOpCodeLevel1) : Messages.ConfirmServicesNotAllowed, htmlAttributes: new { @class = validConfirmServices ?  (Model.MenuLevel1Services.Count() != 0 ? "btn btn-primary" : "btn btn-primary custom-disabled") : "btn btn-primary custom-disabled", data_request_data_function = "getSelectedServicesIds", data_request_type = "POST" })</div>
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.MenuLabelLevel2))
            {
                <div id="level2Services" class="@Html.RenderIfTrue(!string.IsNullOrEmpty(Model.MenuLabelLevel3),"hidden") maintenance-service-container" data-level="2">
                    <h3 id="recommendedPackageTitle" class="alt-color hidden">+ @Model.MenuLabelLevel2 @Labels.Package</h3>
                    @Html.Partial("ServicesPreviewTable", Model.MenuLevel2Services)
                    <div>
                        <div class="buttons-center">@Html.ModalButton("ConfirmService", routeValues: new { area = "Dealer" }, text: Labels.Select, title: validConfirmServices ? string.Format("{0} {1}", Labels.ConfirmServices, Model.MenuPackageOpCodeLevel2) : Messages.ConfirmServicesNotAllowed, htmlAttributes: new { @class = validConfirmServices ? (Model.MenuLevel2Services.Count() != 0 ? "btn btn-primary" : "btn btn-primary custom-disabled") : "btn btn-primary custom-disabled", data_request_data_function = "getSelectedServicesIds", data_request_type = "POST" })</div>
                    </div>
                </div>

                <div id="level2ServicesPreview" class="@Html.RenderIfTrue(!string.IsNullOrEmpty(Model.MenuLabelLevel3),"hidden") maintenance-service-container" data-level="2">
                    <h3 id="recommendedPackagePreviewTitle" class="alt-color hidden">+ @Model.MenuLabelLevel2 @Labels.Package</h3>
                    @Html.Partial("ServicesPreviewTable", Model.MenuLevel2Services, new ViewDataDictionary { { "MenuLevel", 2 }, { "Preview", true } })
                    <div>
                        <div class="buttons-center">@Html.ModalButton("ConfirmService", routeValues: new { area = "Dealer" }, text: Labels.Select, title: validConfirmServices ? string.Format("{0} {1}", Labels.ConfirmServices, Model.MenuPackageOpCodeLevel2) : Messages.ConfirmServicesNotAllowed, htmlAttributes: new { @class = validConfirmServices ? (Model.MenuLevel2Services.Count() != 0 ? "btn btn-primary" : "btn btn-primary custom-disabled") : "btn btn-primary custom-disabled", data_request_data_function = "getSelectedServicesIds", data_request_type = "POST" })</div>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.MenuLabelLevel3))
            {
                <div id="level3Services" class="maintenance-service-container" data-level="3">
                    <h3 id="performancePackageTitle" class="alt-color hidden">+ @Model.MenuLabelLevel3 @Labels.Package</h3>
                    @Html.Partial("ServicesPreviewTable", Model.MenuLevel3Services)
                    <div>
                        <div class="buttons-center"> @Html.ModalButton("ConfirmService", routeValues: new { area = "Dealer" }, text: Labels.Select, title: validConfirmServices ? string.Format("{0} {1}", Labels.ConfirmServices, Model.MenuPackageOpCodeLevel3) : Messages.ConfirmServicesNotAllowed, htmlAttributes: new { @class = validConfirmServices ? (Model.MenuLevel3Services.Count() != 0  ? "btn btn-primary" : "btn btn-primary custom-disabled") : "btn btn-primary custom-disabled", data_request_data_function = "getSelectedServicesIds", data_request_type = "POST" })</div>
                    </div>
                </div>

                <div id="level3ServicesPreview" class="hidden maintenance-service-container" data-level="3">
                    <h3 id="performancePackagePreviewTitle" class="alt-color hidden">+ @Model.MenuLabelLevel3 @Labels.Package</h3>
                    @Html.Partial("ServicesPreviewTable", Model.MenuLevel3Services, new ViewDataDictionary {{ "MenuLevel", 3}, {"Preview", true }})
                    <div>
                        <div class="buttons-center"> @Html.ModalButton("ConfirmService", routeValues: new { area = "Dealer" }, text: Labels.Select, title: validConfirmServices ? string.Format("{0} {1}", Labels.ConfirmServices, Model.MenuPackageOpCodeLevel3) : Messages.ConfirmServicesNotAllowed, htmlAttributes: new { @class = validConfirmServices ? (Model.MenuLevel3Services.Count() != 0 ? "btn btn-primary" : "btn btn-primary custom-disabled") : "btn btn-primary custom-disabled", data_request_data_function = "getSelectedServicesIds", data_request_type = "POST" })</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>