﻿@model OdoMeterViewModel
@{
    Layout = LayoutPaths.Modal;
}
<div class="modal-form">
    <div class="modal-form-row filter-dropdown">
        @using (Html.BeginForm("Odometer", "MenuPresentation", FormMethod.Post, new { data_on_success_func = "smartvma.callbacks.setMenuMileage" }))
        {
            @Html.EditorFor(m => m.Mileage)
            @Html.HiddenFor(m => m.CarId)
        }
    </div>
</div>

@if (ViewData.ModelState.IsValid)
{
    @section header{
        <h4 class="modal-title">@Labels.EnterOdometerReading</h4>
    }

    @section buttons{
        <button type="button" class="btn btn-primary btn-modal-submit">@Labels.ViewServicesMenus</button>
    }
}