﻿@model MenuPresentationPrintViewModel

<div class="tab-wrapper tabs-standard tabs-third">
    <div class="tab-content">
        <div class="tab-pane fade active in">
            <div id="additionalServices" class="maintenance-service-container">
                <h3 id="additionalPackageTitle" class="alt-color hidden">
                    @Labels.AdditionalServices
                </h3>
                @Html.Partial("PdfServicesPreviewTable", Model.ServicePresentationViewModel.AdditionalServices.Items)
            </div>
        </div>
    </div>
</div>