﻿@model MenuPresentationPrintModel

<div class="tab-wrapper tabs-standard tabs-third print-landscape">

    <div class="tab-pane fade active in">
        @if (Model.PrintServices != null)
            {
            <table>
                <tr>
                    <td class="leveltitle">
                        @if (Model.PrintServices.Where(x => x.ServiceMenuLevel == 3).Count() > 0)
                        {
                            <div id="performancePackageTitle"><img src="~/Content/_images/pixel-green.gif" class="bgimg" /><span class="bgtitle"><em>@Model.MenuLevel3Description</em></span></div>
                        }
                    </td>
                    <td>
                        @if (Model.PrintServices.Where(x => x.ServiceMenuLevel == 3).Count() > 0)
                        {
                            <div id="level3Services" class="maintenance-service-container">
                                
                                @Html.Partial("PdfServicesPreviewTable", Model.PrintServices.Where(x => x.ServiceMenuLevel == 3))
                                @if (Model.IncludePrices)
                                {
                                    <div id="performancePackagePrice"  class="package-price">
                                        @if (Model.ShowTaxes || Model.ShowShopCharges)
                                        {
                                            <div>
                                                @Labels.MenuPackageTotal: @Html.DisplayFor(m => m.MenuLevel3Price, DisplayTemplateNames.Currency) 
                                            </div>
                                            if (Model.ShowShopCharges)
                                            {
                                                <div>
                                                    @Labels.TotalShopCharges: @Html.DisplayFor(m => m.MenuLevel3ShopCharges, DisplayTemplateNames.Currency)
                                                </div>
                                            }
                                            if (Model.ShowTaxes)
                                            {
                                                <div>
                                                    @Labels.TotalTaxCharges: @Html.DisplayFor(m => m.MenuLevel3TaxCharges, DisplayTemplateNames.Currency)
                                                </div>
                                            }
                                            <div>
                                                @Labels.GrandTotal: @Html.DisplayFor(m => m.MenuLevel3TotalPrice, DisplayTemplateNames.Currency)
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                @Labels.GrandTotal: @Html.DisplayFor(m => m.MenuLevel3Price, DisplayTemplateNames.Currency)
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </td>
                    <td class="leveltitle">
                        @if (Model.PrintServices.Where(x => x.ServiceMenuLevel == 2).Count() > 0)
                        {
                            <div id="recommendedPackageTitle"><img src="~/Content/_images/pixel-yellow.gif" class="bgimg" /><span class="bgtitle"><em>@Model.MenuLevel2Description</em></span></div>
                        }
                    </td>
                    <td>
                        @if (Model.PrintServices.Where(x => x.ServiceMenuLevel == 2).Count() > 0)
                        {
                            <div id="level2Services" class="maintenance-service-container">

                                @Html.Partial("PdfServicesPreviewTable", Model.PrintServices.Where(x => x.ServiceMenuLevel == 2))
                                @if (Model.IncludePrices)
                                {
                                    <div id="recommendedPackagePrice" class="package-price">
                                        @if (Model.ShowTaxes || Model.ShowShopCharges)
                                        {
                                            <div>
                                                @Labels.MenuPackageTotal: @Html.DisplayFor(m => m.MenuLevel2Price, DisplayTemplateNames.Currency)
                                            </div>
                                            if (Model.ShowShopCharges)
                                            {
                                                <div>
                                                    @Labels.TotalShopCharges: @Html.DisplayFor(m => m.MenuLevel2ShopCharges, DisplayTemplateNames.Currency)
                                                </div>
                                            }
                                            if (Model.ShowTaxes)
                                            {
                                                <div>
                                                    @Labels.TotalTaxCharges: @Html.DisplayFor(m => m.MenuLevel2TaxCharges, DisplayTemplateNames.Currency)
                                                </div>
                                            }
                                            <div>
                                                @Labels.GrandTotal: @Html.DisplayFor(m => m.MenuLevel2TotalPrice, DisplayTemplateNames.Currency)
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                @Labels.GrandTotal: @Html.DisplayFor(m => m.MenuLevel2Price, DisplayTemplateNames.Currency)
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </td>
                    <td class="leveltitle">
                        @if (Model.PrintServices.Where(x => x.ServiceMenuLevel == 1).Count() > 0)
                        {
                            <div id="standardPackageTitle"><img src="~/Content/_images/pixel-red.gif" class="bgimg" /><span class="bgtitle"><em>@Model.MenuLevel1Description</em></span></div>
                        }
                    </td>
                    <td>
                        @if (Model.PrintServices.Where(x => x.ServiceMenuLevel == 1).Count() > 0)
                        {
                            <div id="level1Services" class="maintenance-service-container">

                                @Html.Partial("PdfServicesPreviewTable", Model.PrintServices.Where(x => x.ServiceMenuLevel == 1))
                                @if (Model.IncludePrices)
                                {
                                    <div id="standartPackagePrice"  class="package-price">
                                        @if (Model.ShowTaxes || Model.ShowShopCharges)
                                        {
                                            <div>
                                                @Labels.MenuPackageTotal: @Html.DisplayFor(m => m.MenuLevel1Price, DisplayTemplateNames.Currency)
                                            </div>
                                            if (Model.ShowShopCharges)
                                            {
                                                <div>
                                                    @Labels.TotalShopCharges: @Html.DisplayFor(m => m.MenuLevel1ShopCharges, DisplayTemplateNames.Currency)
                                                </div>
                                            }
                                            if (Model.ShowTaxes)
                                            {
                                                <div>
                                                    @Labels.TotalTaxCharges: @Html.DisplayFor(m => m.MenuLevel1TaxCharges, DisplayTemplateNames.Currency)
                                                </div>
                                            }
                                            <div>
                                                @Labels.GrandTotal: @Html.DisplayFor(m => m.MenuLevel1TotalPrice, DisplayTemplateNames.Currency)
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                @Labels.GrandTotal: @Html.DisplayFor(m => m.MenuLevel1Price, DisplayTemplateNames.Currency)
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </td>

                </tr>
            </table>
        }
        else
        {
            <div id="noServices" class="maintenance-service-container">
                <h3 id="noServicesTitle" class="alt-color hidden">
                    @Messages.NoServices
                </h3>
            </div>
        }
    </div>
</div>
 