﻿@model IEnumerable<MenuPresentationPrintServices>

<ul>
    @foreach (var item in Model.Where(x => !x.ServiceIsStrikeOut))
    {
        <li>
            @Html.DisplayFor(modelItem => item.ServiceDescription)
        </li>
    }
</ul>