﻿@model MenuPresentationPrintModel

@{
    Layout = LayoutPaths.Pdf;
}
<link href="~/Content/tmp.css" rel="stylesheet" />

<h1>@Labels.RecommendedMenu</h1>

@Html.Partial("PdfHeader", Model.Header)

<div class="service-container">
    <div id="maintenanceServicesContainer" class="main-col col-half" style="clear:both;">
        @Html.Partial("PdfMaintenanceServicePreview", Model)
    </div>
</div>