﻿@model IEnumerable<ServiceDetailViewModel>
@{
    Layout = null;
    bool showAddServiceButton = ViewBag.ShowAddServiceButton == true;
    bool sortingButton = ViewBag.SortingButton == true;
    bool isPriceVisible = (Session["IsPriceVisible"] != null ? (bool)Session["IsPriceVisible"] : false);
    int menuLevel = ViewBag.MenuLevel ?? 1;
    bool additionalServicesMenu = ViewBag.AddAdditionalServices == true;
    bool isPreview = ViewBag.Preview == true;
}

<p class="no-serviceitems @Html.RenderIfTrue(Model.Any() || isPreview, "hidden")">@Labels.NoOemBasicServices</p>
<p class="no-serviceitems @Html.RenderIfTrue(!(isPreview && !additionalServicesMenu && !Model.Any(c => c.MenuLevel == menuLevel)), "hidden")">@Labels.NoServicesAtThisLevel</p>

<table class="table table-condensed @Html.RenderIfTrue(!Model.Any() || (isPreview && !additionalServicesMenu && !Model.Any(item => item.MenuLevel == menuLevel)), "hidden") maintenance-service-table">
    <colgroup>
        <col style="width:50%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:10%">
    </colgroup>
    <thead>
        <tr>
            <th>
                @if (sortingButton)
                {
                    <div class="sorting">
                        <span id="parkedname-up" style="display:none">
                            @Html.SubmitButton(text: Labels.AZ, htmlAttributes: new { @class = "sort-table-az btn-sorting btn-sorting-up btn-sorting-az glyphicon glyphicon-triangle-top", data_toggle = "#parkedname-up,#parkedname-down", data_sorting_order = "asc", name = "sort", value = "SortParkedMenusByNameAsc" })
                        </span>
                        <span id="parkedname-down">
                            @Html.SubmitButton(text: Labels.AZ, htmlAttributes: new { @class = "sort-table-az btn-sorting btn-sorting-down btn-sorting-az glyphicon glyphicon-triangle-bottom", data_toggle = "#parkedname-up,#parkedname-down", data_sorting_order = "desc", name = "sort", value = "SortParkedMenusByNameDesc" })
                        </span>
                    </div>
                }
                @Html.DisplayNameFor(m => m.First().Description)
            </th>
            <th class="price-container @Html.RenderIfTrue(isPriceVisible, "", "hidden")">@Html.DisplayNameFor(m => m.First().Price)</th>
            <th>@Html.DisplayNameFor(m => m.First().IsDeclined)</th>
            <th>@Html.DisplayNameFor(m => m.First().IsPreviouslyServed)</th>
            <th>@Html.DisplayNameFor(m => m.First().VideoCode)</th>
            <th>@Html.DisplayNameFor(m => m.First().BgProtectionPlanLink)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var lppClass = item.LppColour == LPPColour.Green ? "iconlpp lpp-go" : item.LppColour == LPPColour.Grey ? "iconlpp lpp-disabled" : item.LppColour == LPPColour.Red ? "iconlpp lpp-stop" : "iconlpp lpp-pending";
            <tr data-service-id="@item.Id" class="@Html.RenderIfTrue(item.MenuLevel != menuLevel && isPreview && !additionalServicesMenu, "hidden")">
                <td class="service-name">
                    <input type="hidden" id="Id" name="Id" value="@item.Id" />
                    <input type="hidden" id="IsStrikeOut" name="IsStrikeOut" value="@Html.RenderIfTrue(item.IsStrikeOut, "True", "False")" />
                    <input type="hidden" id="ServiceTypeId" name="ServiceTypeId" value="@item.ServiceTypeId" />
                    <input type="hidden" id="MenuLevel" name="MenuLevel" value="@item.MenuLevel" />
                    <input type="hidden" id="AppPrice" name="AppPrice" value="@(item.Price ?? 0) " />
                    <input type="hidden" id="PartsPrice" name="PartsPrice" value="@(item.PartsPrice ?? 0) " />
                    <input type="hidden" id="LaborPrice" name="LaborPrice" value="@(item.LaborPrice ?? 0) " />
                    <input type="hidden" id="GrossPrice" value="@(item.GrossPrice ?? 0) " />
                    <input type="hidden" id="IsAddedAfter" value="@Html.RenderIfTrue(item.IsAddedAfter ?? false, "true", "false")" />
                    <input type="hidden" id="IsAddedNow" name="IsAddedNow" value="@Html.RenderIfTrue(item.IsAddedNow, "True", "False")" />
                    <input type="hidden" id="OpCode" name="OpCode" value="@item.OpCode" />
                    <a id="DescriptionId" class="btn btn-link service-btn @Html.RenderIfTrue(showAddServiceButton, "add-additional-maintenance-service",
                                                                                @Html.RenderIfTrue(item.IsAddedAfter == true ,"remove-additional-maintenance-service","strikeout-maintenance-service"))
                                                                          @Html.RenderIfTrue(item.IsStrikeOut, "strikeout-text strikethrough-text")
                                                                          @Html.RenderIfTrue(item.CanBeStriked,"can-be-striked")
                                                                          @Html.RenderIfTrue(item.IsAdditionalAddedAfter ?? false,"disabled")">
                        @Html.DisplayFor(modelItem => item.Description)
                        @Html.DisplayFor(modelItem => item.CanBeStriked, DisplayTemplateNames.IconForBoolean, new { @class = "icon-strike" })
                    </a>
                    <input type="hidden" id="LaborHours" name="LaborHours" value="@item.LaborHours" />
                    <input type="hidden" id="LaborRate" name="LaborRate" value="@item.LaborRate" />
                    <input type="hidden" id="Description" name="Description" value="@item.Description" />
                </td>
                @if (isPriceVisible)
                {
                    <td id="PriceId" class="price-container notranslate">
                        @Html.DisplayFor(modelItem => item.Price, DisplayTemplateNames.Currency)
                    </td>
                }
                else
                {
                    <td id="PriceId" class="price-container notranslate hidden">@Html.DisplayFor(modelItem => item.Price, DisplayTemplateNames.Currency)</td>
                }
                <td>@Html.DisplayFor(modelItem => item.IsDeclined, DisplayTemplateNames.IconForBoolean, new { @class = "icon-prev-decline", @title1 = string.Format("{0}: {1}", Labels.Odometer, item.PreviousMileage), @title2 = item.PreviousServedDate })</td>
                <td>@Html.DisplayFor(modelItem => item.IsPreviouslyServed, DisplayTemplateNames.IconForBoolean, new { @class = "icon-prev-serv", @title1 = string.Format("{0}: {1}", Labels.Odometer, item.PreviousMileage), @title2 = item.PreviousServedDate })</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.VideoCode))
                    {
                        @Html.ModalButtonWithIcon("icon-play", action: "Video", routeValues: new { code = item.VideoCode }, title: "[Video]", htmlAttributes: new { @class = "icon-link" })
                    }
                </td>
                <td class="lppicon">
                    @if (item.BgProtectionPlanId != null)
                    {
                        <a href="@item.BgProtectionPlanLink" id="BgProtectionPlanId" target="_blank"><span class="@lppClass"></span></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
