﻿@model ValidateStrikeViewModel
@{
    Layout = LayoutPaths.Modal;

}
@Html.HiddenFor(m => m.ServiceId)
<div class="modal-form">
    <div class="modal-form-row">
        @Labels.ValidateStrikeMessage
    </div>
</div>
@section header{
    <h4 class="modal-title">@Labels.ValidateStrike</h4>
}
@section buttons{
  
    @*<button type="button" class="btn btn-default btn-modal" name="IsAccept" value="true" data_request_data_function = "validateStrike" >@Labels.Accept</button>*@
    @Html.ModalButton("ValidateStrike" , routeValues: new { area = "Dealer" },
    text: Labels.Accept,  htmlAttributes: new { @class =  "btn btn-primary" , data_request_data_function = "validateStrike", serviceId = Model.ServiceId })
<button type="button" class="btn btn-default btn-modal-submit" data-dismiss="modal" value="false">@Labels.Cancel</button>
}