﻿@model string
@{
    Layout = LayoutPaths.VideoModal;
}

<div class="video-wrapper">
    @Html.EmbededVideoPlayer(Model)
</div>
@section buttons{
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">@Labels.Close</button>
}