﻿@{
    ViewBag.Title = Labels.Delete;
    Layout = LayoutPaths.Modal;
}

<div class="text-center">
    @Html.Raw(@Messages.ConfirmServicesDelete)
</div>

@section buttons{
    <button type="button" class="btn btn-default table-delete-prompt-cancel" data-dismiss="modal">@Labels.Close</button>
    <button type="button" class="btn btn-danger table-delete-prompt-delete">@Labels.Delete</button>
}
