﻿@using SmartVMA.Core.Services
@using SmartVMA.Infrastructure.Ioc
@model OemServiceMaintenanceInitViewModel
@{
    ViewBag.Title = Messages.OEMServiceMaintenance;
    Layout = LayoutPaths.Default;
    bool showMiles = IocManager.Resolve<ICompanyService>().GetSettingAsInteger(CompanySettingsNames.MeasurementUnit) == (int)MeasurementUnits.Imperial;
}

@using (Html.BeginForm("Save", "OemServices", FormMethod.Post, new { @class = "ajax-form" }))
{
    <h1 class="wizzard-title">@Messages.OEMServiceMaintenance</h1>
    <h3 class="title-icon"><a href="#" class="switch" data-toggle-class='{".maintenance-filters":"open"}'><span class="icon-search"></span>@Labels.FilterServices</a></h3>
    <div class="maintenance-filters">
        @Html.Partial("VehicleFilter", Model.VehicleFilter)
    </div>
    @Html.HiddenFor(m => m.SelectedServices, new { @class = "selected-items" })
    <input type="hidden" name="FilteredServiceIds" value="@ViewBag.FilteredServiceIds">
    <section class="custom-datatable-holder">
        <div class="table-action">
            <a class="btn btn-primary add-table">@Labels.Add</a>
            <a class="btn btn-primary edit-table">@Labels.Edit</a>
            <a class="btn btn-primary delete-table">@Labels.Delete</a>
            <a class="btn btn-primary save-table custom-disabled">@Labels.Save</a>
            <a class="btn btn-primary pull-right cancel-table custom-disabled">@Labels.Cancel</a>
            <div class="no-items-selected hidden">
                @Messages.NoChangesDetected
            </div>
            <div class="select-delete-service hidden">
                @Messages.SelectServiceToDelete
            </div>            
            <div class="save-errors-container">
            </div>
        </div>
        <table class="dataTableGrid custom-table double-header table-form table-editalbe page-prompt filter-dropdown oemServices-table" data-url="/Admin/OemServices" data-enable-search="false">
            <thead>
            <tr data-role="template">
                <th class="w-20">
                    <div class="read-view no-padding w-20">
                        <input type="hidden" class="id-field" />
                        @Html.EditorFor(model => model.Data.IsSelected, EditorTemplateNames.TableBoolean, new {notTrackable = true, notDisabable = true, isRowSelector = true, SourceName = "isSelected"})
                    </div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100">
                        @Html.EditorFor(model => model.Data.OemComponentId, EditorTemplateNames.TableDropdown, new {Items = DropdownItems.GetOemComponentsShownAsOption()})
                    </div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100"></div>
                    <div class="edit-view w-100">@Html.EditorFor(model => model.Data.OpAction, EditorTemplateNames.TableDropdown, new {Items = DropdownItems.GetOpActions()})</div>
                </th>
                <th class="w-180">
                    <div class="read-view w-180" data-value=""></div>
                    <div class="edit-view w-180">@Html.EditorFor(model => model.Data.Description, EditorTemplateNames.TableTextArea)</div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100">@Html.EditorFor(model => model.Data.LaborTime, EditorTemplateNames.TableDouble)</div>
                </th>
                <th class="w-100">
                    <div class="read-view  w-100" data-value=""></div>
                    <div class="edit-view  w-100">
                        
                        <span class="add-cell-part-wrapper"><a class="btn add-cell-part" data-sibling-cell-count="5">+</a></span>
                        <input type="hidden" class="id-field"/>
                        @Html.EditorFor(model => model.Data.Parts.First().PartNumber, EditorTemplateNames.TableTextBox, new {Validate = false, CanBeDeleted = true, IsMediumSize = true})
                    </div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100">@Html.EditorFor(model => model.Data.Parts.First().Quantity, EditorTemplateNames.TableDouble)</div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100">@Html.EditorFor(model => model.Data.Parts.First().Price, EditorTemplateNames.TableDecimal)</div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100">@Html.EditorFor(model => model.Data.Parts.First().IsFluid, EditorTemplateNames.TableBoolean, new {PrefixName = "parts", PrefixIndex = 0, SourceName = "isFluid" })</div>
                </th>
                <th class="w-100 ">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100">@Html.EditorFor(model => model.Data.Parts.First().IsDeleted, EditorTemplateNames.TableBoolean, new { isDisabled = true, PrefixName = "parts", PrefixIndex = 0, SourceName = "isDeleted" })</div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100">@Html.EditorFor(model => model.Data.IsLof, EditorTemplateNames.TableBoolean, new {SourceName = "isLof" })</div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    @if (showMiles)
                    {
                        <div class="edit-view w-100">@Html.EditorFor(model => model.Data.MileagesM, EditorTemplateNames.TableMultiselect, new {Items = DropdownItems.GetMileages((int) MeasurementUnits.Imperial)})</div>
                    }
                    else
                    {
                        <div class="edit-view w-100">@Html.EditorFor(model => model.Data.MileagesKm, EditorTemplateNames.TableMultiselect, new {Items = DropdownItems.GetMileages((int) MeasurementUnits.Metric)})</div>
                    }
                </th>
            </tr>
            <tr class="header-group">
                <th class="w-20"></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="beBordered" colspan="1">@Labels.Labor</th>
                <th class="beBordered" colspan="4">@Labels.Parts</th>
                <th class=""></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="order">
                <th name="isSelected" class="w-20" data-orderable="false">
                    @Html.EditorFor(model => model.Data.IsSelected, EditorTemplateNames.TableBoolean, new { Id = "selectAllDtRows", SourceName = "isSelected" })
                </th>
                <th name="oemComponentId" class="w-100">@Html.DisplayNameFor(model => model.Data.OemComponentId)</th>
                <th name="opAction" class="w-180">@Html.DisplayNameFor(model => model.Data.OpAction)</th>
                <th name="description" class="w-180">@Html.DisplayNameFor(model => model.Data.Description)</th>
                <th name="laborTime" class="w-100">@Html.DisplayNameFor(model => model.Data.LaborTime)</th>
                <th name="parts[,].partNumber" class="w-100">@Html.DisplayNameFor(model => model.Data.Parts.First().PartNumber)</th>
                <th name="parts[,].quantity" class="w-100">@Html.DisplayNameFor(model => model.Data.Parts.First().Quantity)</th>
                <th name="parts[,].price" class="w-100">@Html.DisplayNameFor(model => model.Data.Parts.First().Price)</th>
                <th name="parts[,].isFluid" class="w-100">@Html.DisplayNameFor(model => model.Data.Parts.First().IsFluid)</th>
                <th name="parts[,].isDeleted" class="w-100 ">@Html.DisplayNameFor(model => model.Data.Parts.First().IsDeleted)</th>

                <th name="isLof" class="w-100">@Html.DisplayNameFor(model => model.Data.IsLof)</th>
                @if (showMiles)
                {
                    <th name="mileagesM" class="w-100">@Html.DisplayNameFor(model => model.Data.MileagesM)</th>
                }
                else
                {
                    <th name="mileagesKm" class="w-100">@Html.DisplayNameFor(model => model.Data.MileagesKm)</th>
                }

            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
}
@section scripts{
    <script>
        var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
    </script>
}
