﻿@{
    ViewBag.Title = Labels.UnsavedChanges;
    Layout = LayoutPaths.Modal;
}

<div class="text-center">
    @Html.Raw(Messages.TableChangesDetected)
</div>

@section buttons{
    <button type="button" class="btn btn-primary table-prompt-save">@Labels.Save</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">@Labels.ContinueEditing</button>
    <button type="button" class="btn btn-default table-prompt-cancel">@Labels.Cancel</button>
}
