﻿@model ServiceBasePresentationViewModel
@{
    Layout = null;
}

<div class="flex-container">
    @RenderMenu(Model.Services.MenuLabelLevel3, Model.Services.MenuLabelLevel3Price, Model.Services.MenuImagesLevel3, Model.Services.MenuLevel3Services, Model.Services.MenuPackageOpCodeLevel3)

    @RenderMenu(Model.Services.MenuLabelLevel2, Model.Services.MenuLabelLevel2Price, Model.Services.MenuImagesLevel2, Model.Services.MenuLevel2Services, Model.Services.MenuPackageOpCodeLevel2)

    @RenderMenu(Model.Services.MenuLabelLevel1, Model.Services.MenuLabelLevel1Price, Model.Services.MenuImagesLevel1, Model.Services.MenuLevel1Services, Model.Services.MenuPackageOpCodeLevel1)
</div>

@helper RenderMenu(string label, double? price, List<string> serviceImages, IEnumerable<ServiceDetailViewModel> services, string menuPackageOpCode)
{
if (services == null || !services.Any())
{
    return;
}

    <article class="flex-item article-item lof-service-container">
        <header class="article-header">
            <h3>@label</h3>
            <span class="price-label notranslate">@Html.DisplayFor(m => price, DisplayTemplateNames.Currency)</span>
        </header>
        <div class="article-body">
            <ul>
                @foreach (var item in services)
                {
                    <li>
                        @item.Description
                        <div class="services">
                            <input type="hidden" id="Id" name="Id" value="@item.Id" />
                            <input type="hidden" id="IsStrikeOut" name="IsStrikeOut" value="@item.IsStrikeOut" />
                            <input type="hidden" id="ServiceTypeId" name="ServiceTypeId" value="@item.ServiceTypeId" />
                            <input type="hidden" id="MenuLevel" name="MenuLevel" value="@item.MenuLevel" />
                            <input type="hidden" id="OpCode" name="OpCode" value="@item.OpCode" />
                            <input type="hidden" id="PartsPrice" name="PartsPrice" value="@item.PartsPrice" />
                            <input type="hidden" id="LaborPrice" name="LaborPrice" value="@item.LaborPrice" />
                            <input type="hidden" id="LaborRate" name="LaborRate" value="@item.LaborRate" />
                            <input type="hidden" id="LaborHours" name="LaborHours" value="@item.LaborHours" />
                        </div>
                    </li>
                }
            </ul>
            <div class="lof-table-menu clearfix">
                @{ int counter = 0; }
                <div class="row">
                    @if (serviceImages != null)
                    {
                        foreach (var item in serviceImages)
                        {
                            if (counter != 0 && counter % 4 == 0)
                            {
                                @:</div>
                                @:<div class="row">
                            }
                            <div class="col-xs-3">
                                <div class="lof-image" style="background-image: url(@item)"></div>
                            </div>

                            counter++;
                        }
                    }
                </div>
            </div>
            <br />
            <span class="buttons-left">
                <span class="lppicon">
                    @{ var lppClass = services.Where(item => item.BgProtectionPlanId != null).Any(item => item.LppColour == LPPColour.Red) ? "iconlpp lpp-stop" : services.Where(item => item.BgProtectionPlanId != null).Any(item => item.LppColour == LPPColour.Yelow) ? "iconlpp lpp-pending" : services.Where(item => item.BgProtectionPlanId != null).Any(item => item.LppColour == LPPColour.Green) ? "iconlpp lpp-go" : "iconlpp lpp-disabled";}
                    @if (services.Any(item => item.BgProtectionPlanId != null))
                    {
                        var item = services.FirstOrDefault(c => c.BgProtectionPlanId != null);
                        <a href="@item.BgProtectionPlanLink" id="BgProtectionPlanId" target="_blank"><span class="@lppClass"></span></a>
                    }
                </span>
            </span>
            <span class="buttons-center">
                @Html.ModalButton("ConfirmService", "LOF", new { area = "Dealer" }, text: Labels.Select, title: (Model.IsValidPresentationMenu ?? true) ? string.Format("{0} {1}", Labels.ConfirmServices, menuPackageOpCode) : Messages.ConfirmServicesNotAllowed, htmlAttributes: new { @class = (Model.IsValidPresentationMenu ?? true) ? "btn btn-primary" : "btn btn-primary custom-disabled", data_request_data_function = "getSelectedServicesIds", data_request_type = "POST", data_request_lof_menu = "true" })
            </span>
        </div>
    </article>
}