﻿@model BgProductViewModel
@{
    //ViewBag.Title = "[Index]";
    ViewBag.Title = Messages.BGProductsTitle;
    Layout = LayoutPaths.Default;
}

 <h2 class="wizzard-title">@Messages.BGProductsTitle</h2>

  <div class="row">
    <div class="filter-dropdown col-sm-6 col-md-6 col-lg-4">
        @Html.EditorFor(model => Model.Filter.Category, EditorTemplateNames.MultiSelect, new
   {
       Items = DropdownItems.GetBgProductCategories(),
       RequestType = "POST",
       SelectAll = true,
      
       Container = "#contents"
   })
    </div>
</div>



    <section id="contents" class="lof-menu" data-url="/Admin/BGProducts/Index?categoryIds=[#Filter_Category]">
        @RenderBody()
    </section>
