﻿@model UserViewModel
@{
    ViewBag.Title = Labels.Dealers;
    Layout = LayoutPaths.Default;
    var tenantId = Model.TenantId;
}
<h1 class="wizzard-title">@Labels.DealerSetupStep2</h1>

<div class="step-indicator step-two">
    <!-- To change current step put classname as follows: step-one, step-two, step-three etc. -->
    <div class="row">
        <div class="line-pending"></div>
        <div class="line-start"></div>
        <div class="steps">
            <div class="line-finished"></div>
            <div class="step first-step">1<span>@Labels.DealerProfile</span></div>
            <div class="step second-step">2<span>Administrator Account</span></div>
            <div class="step third-step">3<span>@Labels.MaintenanceServicesMenus</span></div>
            <div class="step fourth-step">4<span>@Labels.DocumentConfiguration</span></div>
            <div class="step fifth-step">5<span>@Labels.ApplicationSettings</span></div>
        </div>
    </div>
</div>


@if (Model.Id.HasValue)
{
    <div class="text-center">
        <h2>@Labels.UserManagement</h2>
        <h3>
            @Labels.UserManagementPage
            @Html.NavigationButton("Index", "Users", routeValues: new { area = "Admin" }, text: Labels.Users, htmlAttributes: new { target = "_blank" })
        </h3>

        <div class="table-nav-buttons">
            @Html.NavigationButton("ProfileSetup", routeValues: new { area = "Admin", id = tenantId }, text: Labels.Back, htmlAttributes: new { @class = "btn btn-primary alt-color" })
            @Html.NavigationButton("MenuSetup", routeValues: new { area = "Admin", id = tenantId }, text: Labels.Next, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>
    return;
}

@using (Html.BeginForm())
{
    <div class="row form-horizontal admin-account-setup profile-form">
        <h3>Administrator Account</h3>
        <div class="clearfix">
            <div class="col-sm-6 filter-dropdown">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.RoleId)
                @Html.Hidden("Tenants", tenantId)

                @Html.Editor("TenantsDropdown", EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetCompanies(tenantId), Disabled = true, Label = Labels.Tenant_Name })
                @Html.EditorFor(m => m.FirstName)
                @Html.EditorFor(m => m.MiddleName)
                @Html.EditorFor(m => m.LastName)
                @Html.EditorFor(m => m.PhoneNumber)

            </div>
            <div class="col-sm-6 filter-dropdown">
                @Html.EditorFor(m => m.Email, EditorTemplateNames.TextBox)
                @Html.Editor("Role", EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetRoles(Model.RoleId), Disabled = true, Label = Labels.Role_Name })
                @Html.EditorFor(m => m.Title)
                @Html.EditorFor(m => m.UserStatusCodeId, EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetUserStatusCodeList(Model.UserStatusCodeId) })

                @Html.EditorFor(m => m.AdvisorCode)
                <div class="text-right">
                    @Html.EditorFor(m => m.IsLocked)
                </div>
            </div>
        </div>
    </div>

    <div class="table-nav-buttons wizzard-nav">
        @Html.SubmitButton(Labels.SaveAndNext, new { @class = "btn btn-primary" })
        @Html.NavigationButton("ProfileSetup", routeValues: new { area = "Admin", id = tenantId }, text: Labels.Back, htmlAttributes: new { @class = "btn btn-primary alt-color" })
        @Html.ModalButton("Cancel", "Companies", routeValues: new { area = "Admin" }, text: Labels.Cancel, title: Labels.Cancel)
    </div>
}
