﻿@model OemBasicServiceIndexViewModel
@{
    ViewBag.Title = "[Index]";
    Layout = LayoutPaths.Default;
}

<div class="row">
    
    <div id="contents" data-url="@Url.Action("Index","DataMaintenance",new { area="Admin"})">
        @RenderBody()
    </div>
</div>