﻿@using SmartVMA.EfRepository
@model VehicleFilterViewModel
<div class="col-md-8 input-clear alt-color">
    <div class="row">
        <h3 class="title-icon col-md-12" style="margin-bottom:64px">@Labels.Configuration_Overrides_SearchByVehicleTypes</h3>
    </div>
</div>
<div class="col-md-4 input-clear alt-color">
    <div class="row">
        @Html.HiddenFor(m => m.PreserveNA)
        @Html.EditorFor(model => model.Years, EditorTemplateNames.MultiSelect, new
   {
       Items = DropdownItems.GetVehicleYears(),
       SelectAll = @ViewBag.OruleId == 0,
       RequestType = "POST",
       RefreshElement = "#Years",
       RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
       RequestDataFunction = "getVehicleTypesFilterData",
       fullWidth = true
   })
    </div>
    <div class="row">
        @Html.EditorFor(model => model.Makes, EditorTemplateNames.MultiSelect, new
   {
       Items = @ViewBag.OruleId == 0 ? DropdownItems.GetVehicleMakes(returnAll: true) : @ViewBag.Makes,
       RequestType = "POST",
       SelectAll = @ViewBag.OruleId == 0,
       RefreshElement = "#Makes",
       RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
       RequestDataFunction = "getVehicleTypesFilterData",
       fullWidth = true,
       DisableFullValueFiltering = true
   })
    </div>
    <div class="row">
        @Html.EditorFor(model => model.Models, EditorTemplateNames.MultiSelect, new
   {
       Items = @ViewBag.OruleId == 0 ? DropdownItems.GetVehicleModels(returnAll: true) : @ViewBag.Models,
       RequestType = "POST",
       SelectAll = @ViewBag.OruleId == 0,
       RefreshElement = "#Models",
       RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
       RequestDataFunction = "getVehicleTypesFilterData",
       fullWidth = true,
       DisableFullValueFiltering = true
   })
    </div>
</div>
<div class="col-md-4 input-clear alt-color">
    <div class="row">
        @Html.EditorFor(model => model.EngineTypes, EditorTemplateNames.MultiSelect, new
   {
       Items = @ViewBag.OruleId == 0 ? DropdownItems.GetVehicleEngines(returnAll: true) : @ViewBag.EngineTypes,
       RequestType = "POST",
       SelectAll = @ViewBag.OruleId == 0,
       RefreshElement = "#EngineTypes",
       RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
       RequestDataFunction = "getVehicleTypesFilterData",
       fullWidth = true,
       DisableFullValueFiltering = true
   })

    </div>
    <div class="row">
        @Html.EditorFor(model => model.TransmissionTypes, EditorTemplateNames.MultiSelect, new
   {
       Items = @ViewBag.OruleId == 0 ? DropdownItems.GetVehicleTransmissions(returnAll: true, source: SPNames.GetVehicleTransmissionsFromVinMaster) : @ViewBag.TransmissionTypes,
       RequestType = "POST",
       SelectAll = @ViewBag.OruleId == 0,
       RefreshElement = "#TransmissionTypes",
       RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
       RequestDataFunction = "getVehicleTypesFilterData",
       fullWidth = true,
       DisableFullValueFiltering = true
   })

    </div>
    <div class="row">
        @Html.EditorFor(model => model.DriveLines, EditorTemplateNames.MultiSelect, new
   {
       Items = @ViewBag.OruleId == 0 ? DropdownItems.GetVehicleDriveLines(returnAll: true, source: SPNames.GetVehicleDriveLinesFromVinMaster) : @ViewBag.DriveLines,
       RequestType = "POST",
       SelectAll = @ViewBag.OruleId == 0,
       RefreshElement = "#DriveLines",
       RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
       RequestDataFunction = "getVehicleTypesFilterData",
       fullWidth = true,
       DisableFullValueFiltering = true
   })
    </div>
</div>

