﻿@using SmartVMA.Core
@model ConfigurationSearchByOverridesViewModel
@{
    Layout = null;
}
<div id="searchResults">
    <div class="row xsearch-filters overrides-data">
        <div class="overrides-item">
            <h4>@Labels.SearchResults:</h4>
            <table id="overrideBasicServices" class="dataTableGrid table table-condensed select dataTable" data-page-length='@StaticSettings.PageSizeAdmin'>
                <thead>
                    <tr>
                        <th>@Html.CheckBox(Labels.Select, new { id = "selectAllDtRows" })</th>
                        <th>Id</th>
                        <th>@Labels.OpCode</th>
                        <th>@Labels.Description</th>
                        <th>@Labels.LaborPrice</th>
                        <th>@Labels.LaborTime</th>

                        <th>@Labels.PartNumber</th>
                        <th>@Labels.PartPrice</th>
                        <th>@Labels.Quantity</th>
                        <th>@Labels.PartType</th>

                        <th>@Labels.LOF</th>
                        @*</tr>
                            <tr class="subheaders">*@

                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <div class="overrides-item select-override-types input-clear">
            <h4>@Labels.SelectOverrideTypes:</h4>
            <div class="row">
                <div class="col-xs-12">@Html.EditorFor(m => m.RuleName, new { fullWidth = true })</div>
            </div>
            <div class="row">
                <div class="col-xs-12">@Html.EditorFor(m => m.OverrideOpcodeChecked, EditorTemplateNames.CustomCheckbox, new { isChecked = Model.OverrideOpcodeChecked, value = Model.OverrideOpcodeChecked })</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">@Html.EditorFor(m => m.OverrideOpcode, new { isDisabled = !Model.OverrideOpcodeChecked.HasValue || !Model.OverrideOpcodeChecked.Value, fullWidth = true })</div>
            </div>
            <div class="row">
                <div class="col-xs-12">@Html.EditorFor(m => m.LaborPriceChecked, EditorTemplateNames.CustomCheckbox, new { isChecked = Model.LaborPriceChecked, value = Model.LaborPriceChecked })</div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    @Html.EditorFor(m => m.LaborPricePercentageChecked, EditorTemplateNames.RadioButtonGroup, new
               {
                   HideLabel = true,
                   RadioButtonValue = "Percentage",
                   RadioGroupName = "LaborPrice",
                   IsChecked = Model.LaborPricePercentageChecked,
                   IsDisabled = !Model.LaborPriceChecked.HasValue || !Model.LaborPriceChecked.Value
               })

                </div>
                <div class="col-xs-11">
                    @Html.EditorFor(m => m.LaborPricePercentage, new
               {
                   IsDisabled = !Model.LaborPricePercentageChecked,
                   fullWidth = true
               })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    @Html.EditorFor(m => m.LaborPriceAmountChecked, EditorTemplateNames.RadioButtonGroup, new
               {
                   HideLabel = true,
                   RadioButtonValue = "Amount",
                   RadioGroupName = "LaborPrice",
                   IsChecked = Model.LaborPriceAmountChecked,
                   IsDisabled = !Model.LaborPriceChecked.HasValue || !Model.LaborPriceChecked.Value
               })
                </div>
                <div class="col-xs-11">
                    @Html.EditorFor(m => m.LaborPriceAmount, new
               {
                   IsDisabled = !Model.LaborPriceAmountChecked,
                   fullWidth = true
               })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">@Html.EditorFor(m => m.LaborHourChecked, EditorTemplateNames.CustomCheckbox, new { isChecked = Model.LaborHourChecked, value = Model.LaborHourChecked })</div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    @Html.EditorFor(m => m.LaborHourPercentageChecked, EditorTemplateNames.RadioButtonGroup, new
               {
                   HideLabel = true,
                   RadioButtonValue = "Percentage",
                   RadioGroupName = "LaborHour",
                   IsChecked = Model.LaborHourPercentageChecked,
                   IsDisabled = !Model.LaborHourChecked.HasValue || !Model.LaborHourChecked.Value
               })

                </div>
                <div class="col-xs-11">
                    @Html.EditorFor(m => m.LaborHourPercentage, new
               {
                   IsDisabled = !Model.LaborHourPercentageChecked,
                   fullWidth = true
               })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    @Html.EditorFor(m => m.LaborHourAmountChecked, EditorTemplateNames.RadioButtonGroup, new
               {
                   HideLabel = true,
                   RadioButtonValue = "Amount",
                   RadioGroupName = "LaborHour",
                   IsChecked = Model.LaborHourAmountChecked,
                   IsDisabled = !Model.LaborHourChecked.HasValue || !Model.LaborHourChecked.Value
               })
                </div>
                <div class="col-xs-11">
                    @Html.EditorFor(m => m.LaborHourAmount, new
               {
                   IsDisabled = !Model.LaborHourAmountChecked,
                   fullWidth = true
               })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">@Html.EditorFor(m => m.PartPriceChecked, EditorTemplateNames.CustomCheckbox, new { isChecked = Model.PartPriceChecked, value = Model.PartPriceChecked })</div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    @Html.EditorFor(m => m.PartPricePercentageChecked, EditorTemplateNames.RadioButtonGroup, new
               {
                   HideLabel = true,
                   RadioButtonValue = "Percentage",
                   RadioGroupName = "PartPrice",
                   IsChecked = Model.PartPricePercentageChecked,
                   IsDisabled = !Model.PartPriceChecked.HasValue || !Model.PartPriceChecked.Value
               })

                </div>
                <div class="col-xs-11">
                    @Html.EditorFor(m => m.PartPricePercentage, new
               {
                   IsDisabled = !Model.PartPricePercentageChecked,
                   fullWidth = true
               })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                    @Html.EditorFor(m => m.PartPriceAmountChecked, EditorTemplateNames.RadioButtonGroup, new
                    {
                        HideLabel = true,
                        RadioButtonValue = "Amount",
                        RadioGroupName = "PartPrice",
                        IsChecked = Model.PartPriceAmountChecked,
                        IsDisabled = !Model.PartPriceChecked.HasValue || !Model.PartPriceChecked.Value
                    })
                </div>
                <div class="col-xs-11">
                    @Html.EditorFor(m => m.PartPriceAmount, new
                    {
                        IsDisabled = !Model.PartPriceAmountChecked,
                        fullWidth = true
                    })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">@Html.EditorFor(m => m.PartNumberChecked, EditorTemplateNames.CustomCheckbox, new { isChecked = Model.PartNumberChecked, value = Model.PartNumberChecked })</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">@Html.EditorFor(m => m.OriginalPartNumber, new { isDisabled = !Model.PartNumberChecked.HasValue || !Model.PartNumberChecked.Value, fullWidth = true })</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">@Html.EditorFor(m => m.OverridePartNumber, new { isDisabled = !Model.PartNumberChecked.HasValue || !Model.PartNumberChecked.Value, fullWidth = true })</div>
            </div>
        </div>
    </div>
</div>
