﻿@using System.Diagnostics.Eventing.Reader
@using SmartVMA.Core
@using SmartVMA.Infrastructure
@model ConfigurationSearchByOverridesViewModel
@{
    Layout = LayoutPaths.Modal;
    string conflictingRuleIds = string.Join(StaticSettings.Delimiter, Model.OverrideConflicts.Select(x => x.RuleId));
    bool hasConflicts = Model.OverrideConflicts.Count > 0;
    string displayMessage = string.Empty;
    string warningMessage = string.Empty;
    MvcHtmlString buttonString;
    if (hasConflicts)
    {
        displayMessage = Labels.OverrideConflicts;
        warningMessage = Messages.ApplyOverrideRuleWarning;
        buttonString = Html.SubmitButton(Labels.ApplyOverrides, new { @class = "btn btn-primary btn-modal-submit" });
    }
    else
    {
        displayMessage = Messages.SavedSuccessfully;
        buttonString = Html.NavigationButton("OverrideRules", "OverrideRules", text: Labels.ViewOverrides, htmlAttributes: new { @class = "btn btn-primary" });
    }
}
<div class="modal-form">
    <div class="modal-form-row filter-dropdown">
        @using (Html.BeginForm("ApplyConflicts", "OverrideRules", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.RuleName)
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.LaborHourPercentage)
            @Html.HiddenFor(m => m.LaborHourAmount)
            @Html.HiddenFor(m => m.LaborPricePercentage)
            @Html.HiddenFor(m => m.LaborPriceAmount)
            @Html.HiddenFor(m => m.PartPricePercentage)
            @Html.HiddenFor(m => m.PartPriceAmount)
            @Html.HiddenFor(m => m.OverrideOpcode)
            @Html.HiddenFor(m => m.OriginalPartNumber)
            @Html.HiddenFor(m => m.OverridePartNumber)
            @Html.HiddenFor(m => m.Keyword)
            @Html.HiddenFor(m => m.OpCode)
            @Html.HiddenFor(m => m.PartNumber)

            <div class="row">
                <div class="col-md-12">
                    <h3>@displayMessage</h3>
                    <input type="hidden" name="@SessionValues.SelectedServices" value="@string.Join(StaticSettings.Delimiter, Model.SelectedServices)">
                    <input type="hidden" name="@SessionValues.Years" value="@string.Join(StaticSettings.Delimiter, Model.Filter.Years)">
                    <input type="hidden" name="@SessionValues.Makes" value="@string.Join(StaticSettings.Delimiter, Model.Filter.Makes)">
                    <input type="hidden" name="@SessionValues.Models" value="@string.Join(StaticSettings.Delimiter, Model.Filter.Models)">
                    <input type="hidden" name="@SessionValues.EngineTypes" value="@string.Join(StaticSettings.Delimiter, Model.Filter.EngineTypes)">
                    <input type="hidden" name="@SessionValues.TransmissionTypes" value="@string.Join(StaticSettings.Delimiter, Model.Filter.TransmissionTypes)">
                    <input type="hidden" name="@SessionValues.DriveLines" value="@string.Join(StaticSettings.Delimiter, Model.Filter.DriveLines)">
                    @Html.HiddenFor(m => conflictingRuleIds)
                    @foreach (var item in Model.OverrideConflicts)
                    {
                        <div style="border: 2px solid #808080; padding: 10px; margin-bottom: 10px;">
                            <h5>@string.Format(Labels.ConflictInServices, @item.ConflictingServices)</h5>
                            @foreach (var description in item.ServiceDescriptions)
                            {
                                <h5>@description</h5>
                            }

                            <table class="dataTableGrid table table-condensed select dataTable" data-page-length='10'>
                                <thead>
                                    <tr>
                                        <th rowspan="1">
                                            <div>@Labels.OverrideType</div>
                                            <div></div>
                                        </th>
                                        <th rowspan="1">
                                            <div>@string.Format(Labels.ExistingRule)</div>
                                            <div>@item.RuleName @Labels.Value</div>
                                        </th>
                                        <th rowspan="1">
                                            <div>@string.Format(Labels.NewRule)</div>
                                            <div>@Model.RuleName @Labels.Value</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var conflictType in item.ConflictingTypes)
                                    {
                                        <tr>
                                            <td rowspan="1">@conflictType.OverrideType</td>
                                            <td rowspan="1">@conflictType.ExistingValue</td>
                                            <td rowspan="1">@conflictType.NewValue</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(warningMessage))
                    {
                        <div class="alert alert-danger" role="alert">@warningMessage</div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    smartvma.controls.hideLoader();
</script>
@section buttons{
    @buttonString
    <button type="button" class="btn btn-default" data-dismiss="modal">@Labels.Close</button>
}