﻿@model ConfigurationOverrideRulesIndexViewModel
@{
    Layout = Request.IsAjaxRequest() ? null : LayoutPaths.IndexLayout;
}
<div class="dataTable-holder">
    <table class="dataTableGrid xnoScroll table-condensed" data-searching="false" data-url="/Admin/OverrideRules/LoadData">
        <thead>
            <tr>
                <th name="ruleName" data-orderable="false">@Labels.RuleName</th>
                <th name="opCode" data-orderable="false">@Labels.OpCode</th>
                <th name="laborPrice" data-orderable="false">@Labels.LaborPrice</th>
                <th name="laborHour" data-orderable="false">@Labels.LaborHours</th>
                <th name="partPrice" data-orderable="false">@Labels.PartPrice</th>
                <th name="partNumber" data-orderable="false">@Labels.PartNumber</th>
                <th name="actions" data-orderable="false" data-actions='{"buttons":[{"text":"@Labels.Edit", "title":"@Labels.Edit", "class":"btn btn-icon icon-edit-btn", "href":"/Admin/OverrideRules/Index/{id}", "visibility":"true"}, {"text":"@Labels.Delete", "title":"@Labels.Delete", "class":"btn btn-modal btn-icon icon-delete-btn", "href":"/Admin/OverrideRules/Delete/{id}", "visibility":"true"}]}'>@Labels.Actions</th>
            </tr>
        </thead>
    </table>
</div>


