﻿@model EngineOilConfigurationIndexViewModel
@{
    ViewBag.Title = Labels.EngineOilConfiguration;
    Layout = LayoutPaths.Default;
}
<div class="row">
    <h1>@Labels.EngineOilConfiguration</h1>
</div>
<div class="row">
    <div class="add-new">
        @Html.ModalButton("Create", "EngineOilConfiguration", new { area = "Dealer" }, Labels.Add, Labels.Create, new { @class = "btn-create btn-link" })
    </div>
    <div id="contents" data-url="@Url.Action("Index","EngineOilConfiguration",new { area= "Dealer" })">
        @RenderBody()
    </div>
</div>
