﻿@model  EngineOilConfigurationIndexViewModel
@{
    Layout = Request.IsAjaxRequest() ? null : LayoutPaths.IndexLayout;
}

<div class="dataTable-holder">
    <table class="dataTableGrid xnoScroll table-condensed table-alerts" data-url="/Dealer/EngineOilConfiguration/LoadData">
        <thead>
            <tr>
                <th name="oemOilType">@Labels.OEMOilType</th>
                <th name="oemOilViscosity">@Labels.OEMOilViscosity</th>
                <th name="partNumber">@Labels.PartNumber</th>
                <th name="partName">@Labels.PartName</th>                
                <th name="unitPrice">@Labels.UnitPrice </th>
                <th name="oilType">@Labels.OilType</th>
                <th name="oilViscosity">@Labels.OilViscosity</th>
                <th name="actions" data-orderable="false" data-actions='{"buttons":[{"text":"@Labels.Edit", "title":"@Labels.Edit", "class":"btn btn-modal btn-icon icon-edit-btn", "href":"/Dealer/EngineOilConfiguration/Edit/{id}", "visibility":"true"}, {"text":"@Labels.Delete", "title":"@Labels.Delete", "class":"btn btn-modal btn-icon icon-delete-btn", "href":"/Dealer/EngineOilConfiguration/Delete/{id}", "visibility":"true"}]}'>@Labels.Actions</th>
            </tr>
        </thead>
    </table>
</div>


