﻿@model ArticleViewModel
@{
    Layout = LayoutPaths.Modal;
}
<div class="modal-form">
    <div class="modal-form-row filter-dropdown">
        @using (Html.BeginForm("Edit", "Article", FormMethod.Post))
        {
            @Html.EditorFor(model => model.Title)
            @Html.EditorFor(model => model.Description, EditorTemplateNames.RichTextEditor)
            @Html.EditorFor(model => model.CategoryIds, EditorTemplateNames.MultiSelect, new { Items = DropdownItems.GetArticleCategories() })
            @Html.EditorFor(m => m.IsActive, EditorTemplateNames.RadioButtonQuestion)



            <div class="input-container">
                <button id="openArticleCategoryForm" class="btn btn-primary btn-sm" data-toggle="#createCategoryArea,#openArticleCategoryForm"><span class="icon-Plus"></span> @Labels.CreateNewCategory</button>
            </div>

        }
        <div id="createCategoryArea" style="display:none">
            @Html.Action("Create", "ArticleCategory")
        </div>
    </div>
</div>