﻿@model ArticleIndexViewModel
<div>
    <div class="results-header clearfix">
        <span class="col-sm-12 results-count hidden">@Model.ItemsCount</span>
    </div>
    @{int cnt = 0;}
    @foreach (var i in Model.Items)
    {
        cnt++;
        if (cnt % 10 == 1)
        {
            if (cnt / 10 > 0)
            {
                @:<div id="@string.Format("page{0}", (cnt / 10) + 1)" class="hidden">
            }
            else
            {
                @:<div id="@string.Format("page{0}", (cnt / 10) + 1)">
            }
        }
        <article>
            <h4>@Html.ActionLink(i.Title, "SingleArticle", "Article", new { id = i.Id }, new { target = "_blank" })</h4>
            <div>
                @Html.Raw(@i.Description)
            </div>
        </article>
        if (cnt % 10 == 0)
        {
            @:</div>
        }
    }
    @if (cnt % 10 > 0)
    {
        @:</div>
    }
    <div class="dataTable-holder clearfix">
        <div class="dataTables_wrapper">
            <div class="custom-datatable-footer">
                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite"></div>
                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                    <a class="paginate_button previous disabled" onclick="goToPrevPage(); return false;">Previous</a>
                    <span id="paginationPages">
                    </span>
                    <a class="paginate_button next" onclick="goToNextPage(); return false;">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>