﻿@model ArticleViewModel
@{
    Layout = LayoutPaths.Default;
}
<h2>@Labels.KnowledgeBase</h2>
<section class="article-page">
    <div class="article-serach">
        <nav class="navbar navbar-search navbar-default">
            <div class="filters-container flex-container alt-filters-container">
                <div class="alt-dropdown flex-item">
                    <div class="filter-dropdown inline-label">
                        @Html.EditorFor(model => model.CategoryIds, EditorTemplateNames.MultiSelect, new { Items = DropdownItems.GetArticleCategories(), fullWidth = true })
                    </div>
                </div>
                <div class="dataTables_filter flex-item">
                    @Html.TextBoxFor(model => model.Description, new { @class = "custom-form-control", placeholder = Messages.SearchHere })
                    @Html.SubmitButton("", new { @class = "glyphicon glyphicon-search custom-search-btn", id = "searchBtn" })
                </div>
            </div>
        </nav>
        <div id="searchItemsResults" class="article-list" ></div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).keypress(function (e) {
            console.log(e.keyCode);
            if (e.keyCode == 13) {
                $('#searchBtn').click();
            }
        });
    </script>
}
