﻿@model AppointmentPresentationIndexViewModel

<div>

    <h4 class="text-center menus-count">
        <label data-reset="@string.Format("{0} {1}", "0", Labels.AcceptedMenusTotalNumber)">@string.Format("{0} {1}", Model.Items.Count(), Labels.AcceptedMenusTotalNumber)</label>
    </h4>
    <div class="menu-items">
        @foreach (var menu in Model.Items)
            {
            <div class="menu-item-row">
                <div class="menu-opcode">
                    <button class="btn-toggle collapsed" data-toggle="collapse" data-target="#extendedInfo"><span class="glyphicon"></span></button>
                    @menu.OpCode
                </div>
                <div class="menu-info">
                    <div class="menu-date">
                        @Labels.Accepted: @Html.DisplayFor(m => menu.AcceptedDate)
                      
                    </div>
                    <div class="invoice-number menu-date">
                        @Labels.InvoiceNumberText: @Html.DisplayFor(m => menu.InvoiceNumber)
                    </div>
                    @Html.Partial("_CustomerInfo", menu.CustomerInfo, new ViewDataDictionary { { "HideAvatarImage", true } })
                </div>
                <div class="menu-advisor">
                    <label>@Labels.Advisor</label>
                    <label>@menu.AdvisorInfo</label>
                </div>
                @*<div class="menu-actions">
                    <a href='@string.Format("Appointments/AcceptedOptions?appointmentPresentationID={0}&dealerCustomerID={1}", @menu.AppointmentPresentationID, @menu.DealerID)' class="btn btn-modal btn-primary">Options</a>
                </div>*@
                <div class="menu-actions icon-menu">
                    <div class="dropup options-menu">
                        <a href="#" class="btn dropdown-primary btn-primary" data-toggle="dropdown">
                            <span>@Labels.Options</span>
                        </a>
                        @Html.Partial("_AcceptedOptions", new OptionsMenu(menu.AppointmentPresentationID, menu.DealerCustomerID, menu.DealerID, menu.Mileage))
                    </div>
                </div> 
            </div>
        }
    </div>
</div>