﻿@model string
@{
    Layout = null;
}

 <div class="results-header no-results clearfix">
    <span class="col-sm-2 padding-space">@Labels.SearchResults</span>
    <span class="col-sm-8 results-count"> @Model</span>
</div>
 