﻿@model AdvisorSearchIndexViewModel
@{
    Layout = null;
}

<div class="results-header">
    <span class="col-sm-2 padding-space">@Labels.SearchResults</span>
    <span class="col-sm-8 results-count">@Model.ItemsCount @Labels.ResultsFound</span>
</div>
<div class="results-body">
    <table class="table">
        <thead>
            <tr>
                <th>@Labels.Name</th>
                <th>@Labels.CustomerPhone</th>
                <th>@Labels.VIN</th>
                <th>@Labels.Year</th>
                <th>@Labels.Make</th>
                <th>@Labels.Model</th>
                <th>@Labels.Activity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                var status = item.AppointmentPresentationStatus == AppointmentPresentationStatus.MK.ToString() ? Labels.ParkedMenu :
                    item.AppointmentPresentationStatus == AppointmentPresentationStatus.MC.ToString() ? Labels.AcceptedMenu :
                        item.AppointmentPresentationStatus == AppointmentPresentationStatus.MD.ToString() ? Labels.DeclinedMenu :
                            item.AppointmentPresentationStatus == AppointmentPresentationStatus.M.ToString() ? Labels.MenuPresented :
                                string.Empty;
                string vin = (item.Vin ?? string.Empty).Trim();
                int isCarIdUndetermined = (item.CarIdUndetermined ?? true) ? (int)CarIdUndeterminedStatus.True : (int)CarIdUndeterminedStatus.False;
                <tr>
                    <td name="customername">
                        @if ((item.CarId == null && string.IsNullOrEmpty(vin)) || (item.CarId != null))
                        {
                            @Html.NavigationButton("NavigateToMenuPresentation", text: string.IsNullOrEmpty((item.FirstName + ' ' + item.LastName).Trim()) ? item.Company : item.FirstName + ' ' + item.LastName,
                            routeValues: new
                            {
                                customerId = item.CustomerId,
                                carId = item.CarId,
                                appointmentPresentationStatus = item.AppointmentPresentationStatus,
                                appointmentPresentationId = item.AppointmentPresentationId,
                                dealerVehicleId = item.DealerVehicleId,
                                CarIdUndetermined = isCarIdUndetermined,
                                vin = vin
                            },
                            title: item.CarId == null && string.IsNullOrEmpty(vin) ? Messages.CustomerSearchNoCarIdForVehicle : string.Empty,
                            htmlAttributes: new { @class = $"btn-link{(item.CarId == null && string.IsNullOrEmpty(vin) ? " custom-disabled" : string.Empty)}" })
                        }
                        else if (item.CarId == null && !string.IsNullOrEmpty(vin))
                        {
                            using (Html.BeginForm("SecondarySearchVehicleLookup", "AppointmentPresentation", FormMethod.Post, new { @class = "ajax-form", data_container = "#searchByVinVehicleLookup" }))
                            {
                                @Html.Hidden("secondarySearchVin", item.Vin)
                                @Html.Hidden("secondarySearchDealerVehicleId", item.DealerVehicleId)
                                @Html.Hidden("secondarySearchCustomerId", item.CustomerId)
                                @Html.Hidden("secondarySearchAppId", item.AppointmentPresentationId)
                                @Html.Hidden("secondarySearchAppStatus", item.AppointmentPresentationStatus)
                                @Html.SubmitButton(text: string.IsNullOrEmpty((item.FirstName + ' ' + item.LastName).Trim()) ? item.Company : item.FirstName + ' ' + item.LastName,
                                         htmlAttributes: new { @class = "btn-link" })
                            }
                        }
                    </td>
                    <td name="customerphonenumber">@item.CustomerPhone</td>
                    <td name="vin">@vin</td>
                    <td name="year">@item.Year</td>
                    <td name="make">@item.Make</td>
                    <td name="model">@item.Model</td>
                    <td name="appointmenttime">
                        @Html.DisplayFor(m => item.AppointmentTime)<br /> @status <br /> @item.AdvisorName
                    </td>
                    <td name="historylink">
                        @Html.NavigationButton("Index", "VehicleMaintenanceHistory", 
                            text: Labels.VehicleMaintenanceHistory,
                            routeValues: new { vin = vin },
                            title: string.IsNullOrEmpty(vin) ? Messages.NoVehicleHistory : string.Empty,
                            htmlAttributes: new { @class = $"btn btn-primary{(string.IsNullOrEmpty(vin) ? " custom-disabled" : string.Empty)}" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>