﻿@model LoginViewModel
@{
    ViewBag.Title = Labels.LogIn;
    Layout = LayoutPaths.AnonymousForm;
}

@using (Html.BeginForm("Login", "Accounts", FormMethod.Post, new {@class = "log-in-form-wrapper"}))
{
    <div class="log-in-form">
        @Html.ValidationSummary()

        <h1>@Labels.LogIn</h1>
        @Html.EditorFor(m => m.Email, EditorTemplateNames.TextBox, new {LabelIcon = "icon-user-2", fullWidth = true})
        @Html.EditorFor(m => m.Password, EditorTemplateNames.Password, new {LabelIcon = "icon-password"})
        <br />
        @*@Html.EditorFor(m => m.RememberMe)*@

        <div class="table-nav-buttons">
            @Html.SubmitButton(Labels.LogIn, new {@class = "btn btn-log-in"})
            @Html.NavigationButton("PasswordForgot", "Accounts", new {area = "Admin"}, Labels.ForgotPassword, new {@class = "btn btn-forgot-password"})
        </div>
    </div>
}