﻿@model PasswordResetViewModel
@{
    ViewBag.Title = "[PasswordReset]";
    Layout = LayoutPaths.AnonymousForm;
}

@if (ViewBag.LinkExpired)
{
    <div class="col-sm-6 col-sm-offset-3 form-horizontal">
        <div class="log-in-form-wrapper">
            <h3>@Messages.LinkExpired</h3>

            @Html.NavigationButton("PasswordForgot", "Accounts", new { area = "Admin" }, Labels.ResetPassword, htmlAttributes: new { @class = "btn btn-forgot-password" })
        </div>
    </div>
}
else
{

    using (Html.BeginForm("PasswordReset", "Accounts", FormMethod.Post, htmlAttributes: new { @class = "log-in-form-wrapper" }))
    {     <div class="log-in-form reset-log">
        @Html.HiddenFor(m => m.Token)
        <div>
            @Html.CustomSpanLabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password, EditorTemplateNames.Password, new { LabelIcon = "icon-password" })
            <span class="weakPassword hidden">Weak</span>
            <span class="strongPassword hidden">Strong</span>
        </div>
        <div>
            @Html.CustomSpanLabelFor(m => m.ConfirmPassword)
            @Html.EditorFor(m => m.ConfirmPassword, EditorTemplateNames.Password, new { LabelIcon = "icon-password" })
        </div>
        <div class="table-nav-buttons">
            @Html.SubmitButton(Labels.ResetPassword, new { @class = "btn btn-log-in" })
        </div>
    </div>
    }
}