﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = LayoutPaths.Anonymous;
}
<div class="col-sm-6 col-sm-offset-3 form-horizontal">
    <div class="log-in-form-wrapper">
        <h3>@Messages.PasswordResetSuccess</h3>

        @Html.NavigationButton("Login", "Accounts", new { area = "Admin" }, Labels.GoToLoginPage, htmlAttributes: new { @class = "btn btn-forgot-password" })
    </div>
</div>