﻿@using System.Web.Optimization
@model PasswordForgotViewModel
@{
    ViewBag.Title = "PasswordForgot";
    Layout = LayoutPaths.Anonymous;
}
<div class="col-md-6 col-md-offset-3 form-horizontal">
    @using (Html.BeginForm("PasswordForgot", "Accounts", FormMethod.Post, htmlAttributes: new { @class = "log-in-form-wrapper" }))
    { <div class="log-in-form reset-log">
        <h1>@Labels.ResetPassword</h1>
        <div class="alt-wrapper">
            @Html.CustomSpanLabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email, EditorTemplateNames.TextBox, new { LabelIcon = "icon-user-2", fullWidth = true })
        </div>
        <div class="captcha-field">
            @Html.EditorFor(m => m.PasswordForgotField, EditorTemplateNames.Captcha)
        </div>

        <div class="table-nav-buttons">
            @Html.NavigationButton("Login", "Accounts", new { area = "Admin" }, Labels.LogIn, new { @class = "btn btn-log-in alt-log" })
            @Html.SubmitButton(Labels.ResetPassword, new { @class = "btn btn-log-in alt-log" })
        </div>
    </div>
    }
</div>
@section scripts{
    @Scripts.Render(BundleNames.PasswordForgot)
}
