﻿@model CompanyViewModel
@{
    ViewBag.Title = Labels.Distributors;
    Layout = LayoutPaths.Default;
}
<h1>@Labels.Distributors</h1>

<div class="row table-nav-buttons">
    <div class="add-new">
        @Html.NavigationButton("ProfileSetup", "Distributors", new { area = "Admin" }, Labels.CreateDistributor, htmlAttributes: new { @class = "btn btn-create btn-link button-link-right pull-right" })
    </div>
</div>
<div class="row">
    <div id="contents" data-url="@Url.Action("Index","Distributors",new { area="Admin"})">
        @RenderBody()
    </div>
</div>