﻿@model ConfigurationProfileSetupDistributorViewModel
@using SmartVMA.Infrastructure.Ioc
@using SmartVMA.Infrastructure.AppContext
@{
    var appContext = IocManager.Resolve<IAppContext>();
}
@Html.HiddenFor(m => m.SessionExpiration)
<div class="col-sm-6 filter-dropdown">
    @Html.EditorFor(m => m.AccountNumber, new { IsDisabled = (appContext.CurrentUserRoleId != (int)UserRoles.SystemAdministrator) })
    @Html.EditorFor(m => m.DistributorId, EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetCorporations(Model.DistributorId), isDisabled = (appContext.CurrentUserRoleId != (int)UserRoles.SystemAdministrator ? false : true), OnChangeFunction = "updateDefaultDistributorProfileSetupValues" })
    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.Address)
    @Html.EditorFor(m => m.Address2)
    @Html.EditorFor(m => m.CountryId, EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetCountries(Model.CountryId), RefreshElement = "#StateId" })
    @Html.EditorFor(m => m.StateId, EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetStates(Model.StateId, Model.CountryId), RefreshDataUrl = "/Dropdown/FilterStates?CountryId=[#CountryId]", NoRefreshOnDropDownHide = true })
    @Html.EditorFor(m => m.City)
    @Html.EditorFor(m => m.ZipCode)
</div>
<div class="col-sm-6 filter-dropdown">
    @Html.EditorFor(m => m.PhoneNumber)
    @Html.EditorFor(m => m.PhoneNumber2)
    @Html.EditorFor(m => m.FaxNumber)
    @Html.EditorFor(m => m.Email, EditorTemplateNames.TextBox)
    @Html.EditorFor(m => m.Web)
    @Html.EditorFor(m => m.Language, EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetLanguages(Model.Language) })
    @Html.EditorFor(m => m.DateFormat, EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetDateFormats(Model.DateFormat) })
    @Html.EditorFor(m => m.MeasurementUnitId, EditorTemplateNames.Dropdown, new { Items = DropdownItems.GetMeasurementUnits(Model.MeasurementUnitId) })
    <div class="dealer-img-holder">
        <div class="form-group">
            <label class="col-sm-4 control-label">@Labels.Logo</label>
            <div class="col-sm-8">
                @Html.EditorFor(m => m.LogoFileName, EditorTemplateNames.Uploader, new
           {
               OriginalFileName = Model.LogoOriginalFileName,
               ShowThumbnail = true,
               ButtonText = Labels.UploadLogo,
               DownloadUrl = Model.LogoDownloadUrl
           })
            </div>
        </div>
    </div>
</div>

