﻿@model CompanyViewModel
@{
    Layout = Request.IsAjaxRequest() ? null : LayoutPaths.IndexLayout;
}
<div class="dataTable-holder">
    <table class="dataTableGrid table table-condensed xnoScroll" data-url="/Admin/Distributors/LoadData">
        <thead>
            <tr>
                <th name="parent">@Labels.Parent</th>
                <th name="name">@Labels.CompanyName</th>
                <th name="companyType">@Labels.CompanyType</th>
                <th name="companyGroups" data-orderable="false">@Labels.DealerGroups</th>
                <th name="actions" data-orderable="false" data-actions='{"buttons":[{"text":"@Labels.Edit", "title":"@Labels.Edit", "class":"btn btn-icon icon-edit-btn", "href":"/Admin/Distributors/ProfileSetup/{id}", "visibility":"true"}]}'>@Labels.Actions</th>
            </tr>
        </thead>
    </table>
</div>
