﻿@model CustomServiceInitViewModel
@{
    ViewBag.Title = Messages.MapServicesToVehicle;
    Layout = LayoutPaths.Default;
}

@using (Html.BeginForm("Save", "MapVehicles", FormMethod.Post, new {@class = "ajax-form"}))
{
    <h2 class="wizzard-title">@Messages.MapServicesToVehicle</h2>
    @Html.Partial("VehicleFilter", Model.VehicleFilter)
    @Html.HiddenFor(m => m.SelectedServices, new {@class = "selected-items"})
    <input type="hidden" name="FilteredServiceIds" value="@ViewBag.FilteredServiceIds">
    <section class="custom-datatable-holder">
        <table class="dataTableGrid custom-table double-header table-form table-editalbe edit-mode force-read-view" data-url="/Admin/MapVehicles" data-enable-search="false" data-default-mode="edit">
            <thead>
            <tr data-role="template">
                <th class="w-20">
                    <div class="edit-view no-padding w-20">
                        <input type="hidden" class="id-field"/>
                        @Html.EditorFor(model => model.Data.IsSelected, EditorTemplateNames.TableBoolean, new { notDisabable = true, isRowSelector = true, SourceName = "isSelected" })
                    </div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100">
                        <input type="hidden" class="id-field"/>
                    </div>
                </th>
                <th class="w-180">
                    <div class="read-view w-180" data-value=""></div>
                </th>
                <th class="w-180">
                    <div class="read-view w-180" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100 hidden" data-value="">
                        @Html.EditorFor(model => model.Data.Parts.FirstOrDefault().IsFluid, EditorTemplateNames.TableBoolean, new { PrefixName = "parts", PrefixIndex = 0, SourceName = "isFluid" })
                    </div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100 hidden" data-value="">
                        @Html.EditorFor(model => model.Data.IsLofService, EditorTemplateNames.TableBoolean, new { SourceName = "isLofService" })
                    </div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100 hidden" data-value="">
                        @Html.EditorFor(model => model.Data.CanBeStriked, EditorTemplateNames.TableBoolean, new { SourceName = "canBeStriked" })
                    </div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>

                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                </th>
                <th class="w-100">
                    <div class="read-view w-100" data-value=""></div>
                    <div class="edit-view w-100 hidden">@Html.EditorFor(model => model.Data.VideoId, EditorTemplateNames.TableDropdown, new {Items = DropdownItems.GetVideos()})</div>
                </th>
            </tr>
            <tr class="header-group">
                <th class="w-20"></th>
                <th class="w-100"></th>
                <th class="w-180"></th>
                <th class="w-180"></th>
                <th class="beBordered w-100" colspan="2">@Labels.Labor</th>
                <th class="beBordered w-100" colspan="5">@Labels.Parts</th>
                <th class="w-100"></th>
                <th class="w-100"></th>
                <th class="beBordered w-100" colspan="2">@Labels.Intervals</th>
                <th class="w-100"></th>
                <th class="w-100"></th>
                <th class="w-100"></th>
                <th class="w-100"></th>
                <th class="w-100"></th>
                @*<th class="w-100"></th>*@
            </tr>
            <tr>
                <th name="isSelected" class="w-20" data-orderable="false">
                    @Html.EditorFor(model => model.Data.IsSelected, EditorTemplateNames.TableBoolean, new {Id = "selectAllDtRows", SourceName = "isSelected" })
                </th>
                <th name="opCode" class="w-100">@Html.DisplayNameFor(model => model.Data.OpCode)</th>
                <th name="opDescription" class="w-180">@Html.DisplayNameFor(model => model.Data.OpDescription)</th>
                <th name="comment" class="w-180">@Html.DisplayNameFor(model => model.Data.Comment)</th>
                <th name="laborHour" class="w-100">@Html.DisplayNameFor(model => model.Data.LaborHour)</th>
                <th name="laborRate" class="w-100">@Html.DisplayNameFor(model => model.Data.LaborRate)</th>
                <th name="parts[,].partNo" data-orderable="false" class="w-100">@Html.DisplayNameFor(model => model.Data.Parts.First().PartNo)</th>
                <th name="parts[,].quantity" data-orderable="false" class="w-100">@Html.DisplayNameFor(model => model.Data.Parts.First().Quantity)</th>
                <th name="parts[,].unitPrice" data-orderable="false" class="w-100">@Html.DisplayNameFor(model => model.Data.Parts.First().UnitPrice)</th>
                <th name="parts[,].isFluid" data-orderable="false" class="w-100">@Html.DisplayNameFor(model => model.Data.Parts.First().IsFluid)</th>
                <th name="parts[,].bgProductName" data-orderable="false" class="w-100">@Html.DisplayNameFor(model => model.Data.Parts.First().BgProductId)</th>
                <th name="isLofService" data-orderable="true" class="w-100">@Html.DisplayNameFor(model => model.Data.IsLofService)</th>
                <th name="canBeStriked" data-orderable="true" class="w-100">@Html.DisplayNameFor(model => model.Data.CanBeStriked)</th>
                <th name="intervalStart" class="w-100">@Html.DisplayNameFor(model => model.Data.IntervalStart)</th>
                <th name="intervalRepeat" class="w-100">@Html.DisplayNameFor(model => model.Data.IntervalRepeat)</th>
                <th name="advisorIncentive" class="w-100">@Html.DisplayNameFor(model => model.Data.AdvisorIncentive)</th>
                <th name="techIncentive" class="w-100">@Html.DisplayNameFor(model => model.Data.TechIncentive)</th>
                <th name="bgProtectionPlanName" class="w-100">@Html.DisplayNameFor(model => model.Data.BgProtectionPlanId)</th>
                @*<th name="bgProtectionSubPlanName" class="w-100">@Html.DisplayNameFor(model => model.Data.BgProtectionSubPlanId)</th>*@
                <th name="bgProdCategoryName" class="w-100">@Html.DisplayNameFor(model => model.Data.CategoryId)</th>
                <th name="videoId" data-orderable="false" class="w-100">@Html.DisplayNameFor(model => model.Data.VideoId)</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="vehicle-filters">
            @Html.Partial("MapVehicleFilter", Model.VehicleFilter)
        </div>
    </section>
}
