﻿@using SmartVMA.EfRepository
@model CustomServicesVehicleFilterViewModel
@{
    Layout = null;
}
<div class="service-maintenance-form">
    <div class="no-items-selected hidden">
        @Messages.PleaseSelectOneService
    </div>
    <h3 class="col-sm-12">@Messages.SelectVehicleTypes</h3>
    <div class="row">
        <div class="col-sm-6 filter-dropdown">
            @Html.EditorFor(model => model.Years, EditorTemplateNames.MultiSelect, new
       {
           Items = DropdownItems.GetVehicleYears(),
           SelectAll = true,
           RequestType = "POST",
           RefreshElement = "#Years",
           RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
           RequestDataFunction = "getVehicleTypesFilterData",
           DisableFullValueFiltering = true
       })
            @Html.EditorFor(model => model.Makes, EditorTemplateNames.MultiSelect, new
       {
           Items = DropdownItems.GetVehicleMakes(returnAll: true),
           RequestType = "POST",
           SelectAll = true,
           RefreshElement = "#Makes",
           RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
           RequestDataFunction = "getVehicleTypesFilterData",
           DisableFullValueFiltering = true
       })
            @Html.EditorFor(model => model.Models, EditorTemplateNames.MultiSelect, new
       {
           Items = DropdownItems.GetVehicleModels(returnAll: true),
           RequestType = "POST",
           SelectAll = true,
           RefreshElement = "#Models",
           RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
           RequestDataFunction = "getVehicleTypesFilterData",
           DisableFullValueFiltering = true
       })
        </div>
        <div class="col-sm-6 filter-dropdown">
            @Html.EditorFor(model => model.EngineTypes, EditorTemplateNames.MultiSelect, new
       {
           Items = DropdownItems.GetVehicleEngines(returnAll: true),
           RequestType = "POST",
           SelectAll = true,
           RefreshElement = "#EngineTypes",
           RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
           RequestDataFunction = "getVehicleTypesFilterData",
           DisableFullValueFiltering = true
       })
            @Html.EditorFor(model => model.TransmissionTypes, EditorTemplateNames.MultiSelect, new
       {
           Items = DropdownItems.GetVehicleTransmissions(returnAll: true, source: SPNames.GetVehicleTransmissionsFromVinMaster),
           RequestType = "POST",
           SelectAll = true,
           RefreshElement = "#TransmissionTypes",
           RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
           RequestDataFunction = "getVehicleTypesFilterData",
           DisableFullValueFiltering = true
       })
            @Html.EditorFor(model => model.DriveLines, EditorTemplateNames.MultiSelect, new
       {
           Items = DropdownItems.GetVehicleDriveLines(returnAll: true, source: SPNames.GetVehicleDriveLinesFromVinMaster),
           RequestType = "POST",
           SelectAll = true,
           RefreshElement = "#DriveLines",
           RefreshDataUrl = "/Dropdown/FilterVehiclesSearch",
           RequestDataFunction = "getVehicleTypesFilterData",
           DisableFullValueFiltering = true
       })

            @Html.EditorFor(model => model.MenuLevel, EditorTemplateNames.Dropdown, new
       {
           Items = DropdownItems.GetMenuLevelsCount()
       })
        </div>
    </div>
</div>

<div class="table-nav-buttons wizzard-nav">
    <button class="btn btn-default save-table" type="submit">@Labels.Save</button>
    <a class="btn btn-cancel filter-reset" href="#" data-href="@Url.Action("ResetFilter","MapVehicles")" title="Reset">@Labels.Reset</a>
</div>


